<div class="main-container boxed space">
    <div>
        <h1 class="text-dark">New Super Admin </h1>
    </div>
    <div class="form p-10">
       <div class="d-flex jc-sb m-b-10 small-screen">
        <div class="left">
            <p class="fs-12 fw-medium">Profile image</p>
            <img class="image" src="assets/images/attachment.png" alt="">
            <div>
                <div class="">
                    <label for=""><span class="social-icons"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M14 13.5h2.5l1-4H14v-2c0-1.03 0-2 2-2h1.5V2.14c-.326-.043-1.557-.14-2.857-.14C11.928 2 10 3.657 10 6.7v2.8H7v4h3V22h4z"/></svg></span>Facebook</label>
                    <input type="text" class="mat-input">
                </div>
                <div class="m-t-10">
                    <label for=""><span class="social-icons"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M6.94 5a2 2 0 1 1-4-.002a2 2 0 0 1 4 .002M7 8.48H3V21h4zm6.32 0H9.34V21h3.94v-6.57c0-3.66 4.77-4 4.77 0V21H22v-7.93c0-6.17-7.06-5.94-8.72-2.91z"/></svg></span>LinkedIn</label>
                    <input type="text" class="mat-input">
                </div>
                <div class="m-t-10">
                    <label for=""><span class="social-icons"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M18 6c2.07 2.04 2.85 4.89 2.36 7.55c.41.72.64 1.56.64 2.45a5 5 0 0 1-5 5c-.89 0-1.73-.23-2.45-.64c-2.66.49-5.51-.29-7.55-2.36c-2.07-2.04-2.85-4.89-2.36-7.55C3.23 9.73 3 8.89 3 8a5 5 0 0 1 5-5c.89 0 1.73.23 2.45.64c2.66-.49 5.51.29 7.55 2.36m-5.96 11.16c2.87 0 4.3-1.38 4.3-3.24c0-1.19-.56-2.46-2.73-2.95l-1.99-.44c-.76-.17-1.62-.4-1.62-1.11c0-.72.6-1.22 1.7-1.22c2.23 0 2.02 1.53 3.13 1.53c.58 0 1.08-.34 1.08-.93c0-1.37-2.19-2.4-4.05-2.4c-2.01 0-4.16.86-4.16 3.14c0 1.1.39 2.27 2.55 2.81l2.69.68c.81.2 1.01.65 1.01 1.07c0 .68-.68 1.35-1.91 1.35c-2.41 0-2.08-1.85-3.37-1.85c-.58 0-1 .4-1 .97c0 1.11 1.33 2.59 4.37 2.59"/></svg></span>Skype</label>
                    <input type="text" class="mat-input">
                </div>
                
            </div>
        </div>
        <div class="right m-t-10">
            <div class="d-flex jc-sb">
                <div class="dual-form m-t-10">
                    <label for=""><span class="text-danger">*</span>First Name</label>
                    <input type="text" class="mat-input">
                </div>
                <div class=" dual-form m-t-10">
                    <label for=""><span class="text-danger">*</span>Last Name</label>
                    <input type="text" class="mat-input">
                </div>
            </div>
            <div  class="m-t-10">
                <label for=""><span class="text-danger">*</span>Email</label>
                <input type="text" class="mat-input">
            </div>
            <div class="m-t-10">
                <label><span class="text-danger">*</span>Password</label>
                <div class="selected-form-field">
                    <mat-icon class="icon-eye">visibility</mat-icon>
                   <input type="text" class="mat-input">
                   <span class="icon-refresh"><svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 1024 1024"><path fill="currentColor" d="M289.088 296.704h92.992a32 32 0 0 1 0 64H232.96a32 32 0 0 1-32-32V179.712a32 32 0 0 1 64 0v50.56a384 384 0 0 1 643.84 282.88a384 384 0 0 1-383.936 384a384 384 0 0 1-384-384h64a320 320 0 1 0 640 0a320 320 0 0 0-555.712-216.448z"/></svg></span>
                   
                </div>
               
            </div>
            <div class="m-t-10">
                <label for="">Phone</label>
                <input type="text" class="mat-input">
            </div>
            <div class="m-t-10">
                <label for="">Default Language</label>
                <div class="selected-form-field">
                        <select name="" id="" class="mat-input">
                            <option value="">System Default</option>
                        </select>
                        <span class="down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 15 15"><path fill="#808080" d="M7.5 12L0 4h15z"/></svg></span>
                </div>

            </div>
            <div class="m-t-10">
                <label for="">Direction</label>
                <div class="selected-form-field">
                        <select name="" id="" class="mat-input">
                            <option value="">Nothing Selected</option>
                        </select>
                        <span class="down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 15 15"><path fill="#808080" d="M7.5 12L0 4h15z"/></svg></span>
                </div>

            </div>
            
            
            
        </div>
       </div>
       <label for=""><mat-icon
        class="icon-help">help</mat-icon>Email Signature</label>
       <textarea name="" class="mat-input" id="" cols="30" rows="10"></textarea>
                
    </div>
    <mat-divider class="m-t-20 m-b-10"></mat-divider>
    <div class="m-l-15 "><button mat-raised-button color="primary">Save Setting</button></div>
</div>
