<div class="p-10">
    <div>
        <mat-label class="form-input-label"> Allow non-admin staff members to create Lead Status in Lead create/edit area?</mat-label>
        <div>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="">Yes </mat-radio-button>
                <mat-radio-button value="">No </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <hr>
    <div>
        <mat-label class="form-input-label"> Allow non-admin staff members to create Lead Source in Lead create/edit area?</mat-label>
        <div>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="">Yes </mat-radio-button>
                <mat-radio-button value="">No </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <hr>
    <div>
        <mat-label class="form-input-label"> Allow non-admin staff members to create Customer Group in Customer create/edit area?</mat-label>
        <div>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="">Yes </mat-radio-button>
                <mat-radio-button value="">No </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <hr>
    <div>
        <mat-label class="form-input-label"> Allow non-admin staff members to create Service in Ticket create/edit area?</mat-label>
        <div>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="">Yes </mat-radio-button>
                <mat-radio-button value="">No </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <hr>
    <div>
        <mat-label class="form-input-label"> Allow non-admin staff members to save predefined replies from ticket message</mat-label>
        <div>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="">Yes </mat-radio-button>
                <mat-radio-button value="">No </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <hr>
    <div>
        <mat-label class="form-input-label"> Allow non-admin staff members to create Contract type in Contract create/edit area?</mat-label>
        <div>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="">Yes </mat-radio-button>
                <mat-radio-button value="">No </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <hr>
    <div>
        <mat-label class="form-input-label"> Allow non-admin staff members to create Expense Category in Expense create/edit area?</mat-label>
        <div>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="">Yes </mat-radio-button>
                <mat-radio-button value="">No </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    
</div>