<div class="">

    <div class="d-flex jc-sb flex-col">
        <!-- TextBox -->
        <div class="px-2r d-flex jc-sb align-items-center res-col">
            <div class="w-75p res-w-75p my-auto">
            <!-- <mat-label class="form-input-label">Default Value</mat-label> -->
            <div class="mt2 large-text-field">
                <mat-form-field appearance="outline" class="form-field  w-full h-10r">

                    <input matInput class="input h-5r" placeholder="Nothing ">
                </mat-form-field>
            </div>
        </div>

            <div class="choosing my-auto">
                <p> Attach image  </p>

                <!-- <label for="imgInput"> <img src="assets/images/Group.png" alt=""></label> -->
                <label for="imgInput"><img src="assets/images/Group.png" alt=""></label>
                <input type="file" hidden id="imgInput">
            </div>
        </div>
        <!-- Image -->
        <!-- <div class="importing"> -->
            
        <!-- </div> -->

    </div>


</div>
<mat-divider></mat-divider>
<button mat-raised-button color="primary" class="m-20">Add Comment</button>