<div class="main-container boxed">

    <div class="cards-main-div">
        <div class="row card-div">
            <div class="cards-1 width">
                <p class="card-p-1">Total Companies</p>
                <p class="numbers">2</p>
            </div>
            <div class="cards-2 width">
                <p class="card-p-2">Active Companies</p>
                <p class="numbers">1</p>
            </div>
            <div class="cards-3 width">
                <p class="card-p-3">License Expired</p>
                <p class="numbers">0</p>
            </div>
            <div class="cards-4 width">
                <p class="card-p-4">Inactive Companies</p>
                <p class="numbers">0</p>
            </div>
            <div class="cards-5 width">
                <p class="card-p-5">Suspended Companies</p>
                <p class="numbers">1</p>
            </div>
        </div>
        <div class="row card-div">
            <div class="cards-1 width">
                <p class="card-p-1">Terminated Companies</p>
                <p class="numbers">0</p>
            </div>
            <div class="cards-2 width">
                <p class="card-p-2">Total Packages</p>
                <p class="numbers">5</p>
            </div>
            <div class="cards-3 width">
                <p class="card-p-3">Active Packages</p>
                <p class="numbers">5</p>
            </div>
            <div class="cards-4 width">
                <p class="card-p-4">Inactive Packages</p>
                <p class="numbers">0</p>
            </div>
            <div class="cards-5 width">
                <p class="card-p-5">FAQ</p>
                <p class="numbers">0</p>
            </div>
        </div>
    </div>
    <div class="form">
        <p class="fs-16 fw-medium">Recent Subscriptions</p>
        <div class="table-div">
            <table>
                <tr>
                    <th>SL</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Plan</th>
                    <th>Date</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>SaaS Admin</td>
                    <td>admin@SaaS.com</td>
                    <td>BIZPLUS</td>
                    <td>2023-07-19</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>SaaS Admin</td>
                    <td>admin@SaaS.com</td>
                    <td>BIZPLUS</td>
                    <td>2023-07-19</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>SaaS Admin</td>
                    <td>admin@SaaS.com</td>
                    <td>BIZPLUS</td>
                    <td>2023-07-19</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>SaaS Admin</td>
                    <td>admin@SaaS.com</td>
                    <td>BIZPLUS</td>
                    <td>2023-07-19</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="form">
        <p class="fs-16 fw-medium">Recent License Expired Subscriptions</p>
        <div class="table-div">
            <table>
                <tr>
                    <th>SL</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Plan</th>
                    <th>Expired Date</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>SaaS Admin</td>
                    <td>admin@SaaS.com</td>
                    <td>BIZPLUS</td>
                    <td>2023-07-19</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>SaaS Admin</td>
                    <td>admin@SaaS.com</td>
                    <td>BIZPLUS</td>
                    <td>2023-07-19</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>SaaS Admin</td>
                    <td>admin@SaaS.com</td>
                    <td>BIZPLUS</td>
                    <td>2023-07-19</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>SaaS Admin</td>
                    <td>admin@SaaS.com</td>
                    <td>BIZPLUS</td>
                    <td>2023-07-19</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="form">
        <p class="fs-16 fw-medium">Package Overview</p>

        <h1>Graph</h1>
        
    </div>
    
    










</div>