<div class="m-t-5 p-15 box-shadow rounded ">
    <div class=" d-flex jc-sb p-10">
        <div>
            <p class="fw-medium fs-16 m-0">Perfex INC</p>
            <p class="fw-4 m-0">172 Ivy Club Gottliebfurt <br> New Heaven <br> Canada [CA] 2364</p>
        </div>
        <div class="text-right right-area">
            <div class="m-t-10">
                <p class="fw-medium m-0">A</p>
                <p class="fw-medium m-0">Dicki, Dietrich and Champlin</p>
                <p class="m-0 fw-noraml">37897 Luigi Union Suite 219</p>
                <p class="m-0 fw-noraml">Lake Zackaryfort Louisiana</p>
                <p class="m-0 fw-noraml">HN 77036</p>
                <p class="m-0 fw-noraml">TVA: AT U66569013</p>
            </div>
            <div class="m-t-10">
                <p class="fw-medium m-0">Envoyer A</p>
                <p class="m-0 fw-noraml">6178 Rowe Falls Apt. 182</p>
                <p class="m-0 fw-noraml">Joneston District of Columbia</p>
                <p class="m-0 fw-noraml">HN 23666-2817</p>
                <p class="m-0 fw-noraml">TVA: AT U66569013</p>
            </div>
            <div class="m-t-10">
                <p class="fw-normal"><span class="fw-medium ">Date de devis: </span>2024-02-09</p>
                <p class="fw-normal"><span class="fw-medium ">Date de validité: </span>2024-02-08</p>
                <p class="fw-normal"><span class="fw-medium ">Contact commercial: </span>Juston Reilly</p>
            </div>
        </div>
    </div>

</div>

<div class="form">
    <div class="table-div bs">
        <table class="rounded">
            <tr>
                <th>SNO.</th>
                <th>Designation</th>
                <th>Qty</th>
                <th>Prix unitaire</th>
                <th>Tax</th>
                <th>Montant HT</th>
            </tr>
            <tr>
                <td>1</td>
                <td>
                    <div class="text-secondary">
                        <span class="fw-medium db">SEO Optimazation</span>
                        <p>Alice: 'three inches is such a long way back, and barking <br> hoarsely all the time it
                            all is! I'll.</p>
                    </div>
                </td>
                <td>3</td>
                <td>500.00</td>
                <td>0%</td>
                <td>1,500.00</td>
            </tr>
        </table>
    </div>
    <div class="text-right total-div ">
        <div class="total d-flex jc-e">
            <span>Total HT</span>
            <span>$2,150.00</span>
        </div>
        <div class=" total d-flex jc-e ">
            <span>Total TTC:</span>
            <span>$2,150.00</span>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div>
        <p class="fw-medium">Conditions générales de vente</p>
        <p class="fw-normal fs-14 m-t-5">Alice, 'they're sure to kill it in asking riddles that have no sort of thing
            never
            happened, and now here
            I
            am so VERY wide, but she had nothing else to do, and in a great deal to ME,' said the King, the Queen,
            stamping on the floor: in another minute there was a little quicker. 'What a pity it.</p>
    </div>
</div>