.search-bar {
    position: relative;
}

.search-div {
    gap: 5px;

}

.icon-search {
    position: absolute;
    top: 4px;
    left: 3px;
}
.pending {
    background-color: #d5e1f6;
    color: #4885ed;
    border: 1px solid #4885ed;
    border-radius: 0.3rem;
    padding: 4px 0px;
    text-align: center;
    font-size: 12px;
    max-width: 5rem;
}



@media (max-width: 767px) {

    .right-icon {
        flex-direction: column;
        width: 100%;
    }
    .icon-bar {
        flex-direction: column;
        gap: 10px;
    }
    .search-bar {
        display: flex;
    }
    
    
   
}