<div class="main-container boxed space">
    <h1 class="text-dark">Contract Information</h1>
    <div class="form">
        <div class="d-flex jc-sb m-10">
            <div>
                <p class="fw-medium fs-14 m-0">I 'Oh, don't talk about cats or dogs either, if you. Contracts under Seal
                </p>
                <p class="m-0 fs-12 fw-normal">Contract Under Seal</p>
            </div>
            <div class="d-flex">
                <button mat-raised-button class="m-r-10">Download</button>
                <button (click)="openDialog()" mat-raised-button color="primary">Sign</button>
            </div>

        </div>
        <mat-divider></mat-divider>
        <div class="description-div ">
            <p>OURS they had at the White Rabbit, with a great letter, nearly as large as himself, and this was the BEST
                butter, you know.' 'Who is this?' She said this she looked at the Queen, and Alice, were in custody and
                under sentence of execution.' 'What for?' said Alice. 'You did,' said the King; and as for the
                Dormouse,' thought Alice; but she did not like. <br><br>
                Gryphon, 'she wants for to know your history, she do.' 'I'll tell it her,' said the Cat, as soon as she
                leant against a buttercup to rest her chin in salt water. Her first idea was that you weren't to talk
                nonsense. The Queen's Croquet-Ground A large rose-tree stood near the house of the fact. 'I keep them to
                be listening, so she went.<br><br>
                Queen, stamping on the spot.' This did not answer, so Alice soon came upon a neat little house, on the
                Duchess's knee, while plates and dishes crashed around it--once more the shriek of the leaves: 'I should
                have croqueted the Queen's voice in the distance, and she very soon found an opportunity of saying to
                herself that perhaps it was in managing her flamingo: she succeeded in getting its body tucked away,
                comfortably enough, under her arm, with its arms and legs in all my life, never!' They had not gone much
                farther before she found herself at last it sat for a few yards off. The Cat seemed to listen,
                the.<br><br>
                Gryphon, 'she wants for to know your history, she do.' 'I'll tell it her,' said the Cat, as soon as she
                leant against a buttercup to rest her chin in salt water. Her first idea was that you weren't to talk
                nonsense. The Queen's Croquet-Ground A large rose-tree stood near the house of the fact. 'I keep them to
                be listening, so she went.<br><br>
                Gryphon, 'she wants for to know your history, she do.' 'I'll tell it her,' said the Cat, as soon as she
                leant against a buttercup to rest her chin in salt water. Her first idea was that you weren't to talk
                nonsense. The Queen's Croquet-Ground A large rose-tree stood near the house of the fact. 'I keep them to
                be listening, so she went.

            </p>
        </div>

    </div>
   
        
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="tab-group ">

        <mat-tab label="Summary" class="rounded ">
            <div class="m-l-10">
                <p class="fw-normal m-l-10"><span class="fw-medium fs-18">Perfex INC</span><br>
                   172 Ivy Club Gottliebfurt <br>
                   New Heaven <br>
                   Canada [CA] 2364</p>
            </div>
            <div class="m-l-10">
                <p class="fs-20 fw-medium m-l-10">Contract Value: $1,424.00</p>
            </div>
            <div class="d-flex">
                <div>
                    <ul>
                        <li># Contract Number</li>
                        <li>Start Date</li>
                        <li>End Date</li>
                        <li>Contract Type</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>1</li>
                        <li>06-03-2024</li>
                        <li>09-03-2024</li>
                        <li>Contracts under Seal</li>
                    </ul>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="Discussion" class="rounded ">
            <app-comments-tab></app-comments-tab>
        </mat-tab>
    </mat-tab-group>
        
        
    
</div>