<div class="main-container boxed space">
    <div>
        <h1 class="text-dark">Custom</h1>
    </div>
    <div class="form">
        <div class="w-full">
            <div class="m-t-10">
                <mat-label class="form-input-label"><span class="text-danger">*</span> Field Belongs to</mat-label>
                <mat-form-field appearance="outline" class="m-t-10">
                    <mat-select placeholder="Nothing selected">
                        <mat-option value="Nothing selected">Nothing selected</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="m-t-10">
                <mat-label class="form-input-label"><span class="text-danger">*</span> Field Name
                </mat-label>
                <div class="m-t-10">
                    <mat-form-field appearance="outline" class="form-field">
                        <input matInput class="input">
                    </mat-form-field>
                </div>
            </div>
            <div class="m-t-10">
                <mat-label class="form-input-label"><span class="text-danger">*</span> Type</mat-label>
                <mat-form-field appearance="outline" class="m-t-10">
                    <mat-select placeholder="Nothing selected">
                        <mat-option value="Nothing selected">Nothing selected</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="m-t-10">
                <mat-label class="form-input-label">Default Value delivery orders</mat-label>
                <div class="text-area m-t-10">
                    <mat-form-field appearance="outline" class="">
                        <textarea matInput class="input"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="m-t-10">
                <mat-label class="form-input-label">Default Value
                </mat-label>
                <div class="m-t-10">
                    <mat-form-field appearance="outline" class="form-field">
                        <input matInput class="input">
                    </mat-form-field>
                </div>
            </div>
            <div class="m-t-10">
                <mat-label class="form-input-label">Order
                </mat-label>
                <div class="m-t-10">
                    <mat-form-field appearance="outline" class="form-field">
                        <input matInput class="input">
                    </mat-form-field>
                </div>
            </div>
            <div class="m-t-10">
                <mat-label class="form-input-label"><span class="text-danger">*</span>Grid (Bootstrap Column eq. 12) -
                    Max is 12
                </mat-label>
                <div class="merge flex m-t-10">
                    <div class="flex align-items-center border-right">

                        <input type=" text" class="mat-input w-3" placeholder="col-md->">
                    </div>
                    <input type="text" class="mat-input" placeholder="12">
                </div>
            </div>
            <div class="m-t-10">
                <mat-checkbox class="example-margin" color="primary" checked>Disabled</mat-checkbox><br>
                <mat-checkbox class="example-margin" color="primary" checked>Restrict visibility for administrators
                    only</mat-checkbox><br>
                <mat-checkbox class="example-margin" color="primary" checked>Required</mat-checkbox>
                <p class="fw-medium fs-14 m-0 p-l-10">Visibility</p>
                <mat-checkbox class="example-margin" color="primary" checked>Show on table</mat-checkbox>
            </div>
        </div>
        <hr class="m-t-20">
        <div class="d-flex gap-1 m-t-10">
            <button mat-raised-button color="warn">Cancle</button>
            <button mat-raised-button class="bg-success">Save</button>
        </div>
    </div>

</div>