<div class="rounded">
    <div class="d-flex jc-e p-10 bg-light align-items-center">
        <svg class="close-btn" mat-dialog-close="true" xmlns="http://www.w3.org/2000/svg" width="1.6em" height="1.6em"
            viewBox="0 0 32 32">
            <path fill="#f70202"
                d="M16 2C8.2 2 2 8.2 2 16s6.2 14 14 14s14-6.2 14-14S23.8 2 16 2m5.4 21L16 17.6L10.6 23L9 21.4l5.4-5.4L9 10.6L10.6 9l5.4 5.4L21.4 9l1.6 1.6l-5.4 5.4l5.4 5.4z" />
        </svg>
    </div>
    <div class="p-20">

        <!-- City And state Div -->
        <div class="d-flex jc-sb">
            <div class="inner-left"><mat-label class="form-input-label"><span
                        class="text-danger">*</span>Name</mat-label>
                <div class="calendar-input-field">
                    <mat-form-field appearance="outline" class="form-field">
                        <input matInput class="input">
                    </mat-form-field>
                </div>
            </div>
            <div class="inner-right">
                <mat-label class="form-input-label">Email Address </mat-label>
                <div class="calendar-input-field">
                    <mat-form-field appearance="outline" class="form-field">
                        <input matInput class="input">
                    </mat-form-field>
                </div>
            </div>

        </div>
        <!-- Country and Zip Code div -->
        <div class="d-flex jc-sb">
            <div class="inner-left">
                <mat-label class="form-input-label">Phone</mat-label>
                <div class="calendar-input-field">
                    <mat-form-field appearance="outline" class="form-field">
                        <input matInput class="input"> </mat-form-field>
                </div>

            </div>
            <div class="inner-left">
                <mat-label class="form-input-label">Company</mat-label>
                <div class="calendar-input-field">
                    <mat-form-field appearance="outline" class="form-field">
                        <input matInput class="input"> </mat-form-field>
                </div>

            </div>
        </div>
        <!-- Strreet -->
        <div class="">
            <mat-label class="form-input-label">Address</mat-label>
            <div>
                <textarea name="" id="" cols="30" rows="10" class="mat-input text-area"></textarea>
            </div>
        </div>
    </div>


    <div class="p-20">

        <!-- City And state Div -->
        <div class="d-flex jc-sb">
            <div class="inner-left">
                <mat-label class="form-input-label">City</mat-label>
                <div class="calendar-input-field">
                    <mat-form-field appearance="outline" class="form-field">
                        <input matInput class="input">
                    </mat-form-field>
                </div>
            </div>
            <div class="inner-right">
                <mat-label class="form-input-label">State </mat-label>
                <div class="calendar-input-field">
                    <mat-form-field appearance="outline" class="form-field">
                        <input matInput class="input">
                    </mat-form-field>
                </div>
            </div>

        </div>
        <!-- Country and Zip Code div -->
        <div class="d-flex jc-sb">
            <div class="inner-left">
                <mat-label class="form-input-label">Zip Code</mat-label>
                <div class="calendar-input-field">
                    <mat-form-field appearance="outline" class="form-field">
                        <input matInput class="input"> </mat-form-field>
                </div>

            </div>
            <div class="inner-left">
                <mat-label class="form-input-label">Website</mat-label>
                <div class="calendar-input-field">
                    <mat-form-field appearance="outline" class="form-field">
                        <input matInput class="input"> </mat-form-field>
                </div>

            </div>
        </div>
        <!-- Strreet -->
        <div class="">
            <mat-label class="form-input-label">Description</mat-label>
            <div>
                <textarea name="" id="" cols="30" rows="10" class="mat-input text-area"></textarea>
            </div>
        </div>
    </div>




    <hr>
    <div class="d-flex gap-2 p-10">
        <button mat-dialog-close="true"
            class="bg-close"
            mat-raised-button color="primary">Close</button>
        <button mat-dialog-close="true"
            class="bg-success"
            mat-raised-button> Save</button>

    </div>
</div>