<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="tab-group div-2  work-order-view">
    <!-- -------------------------Working hours Tab Start--------------------------- -->
    <mat-tab class="rounded  " label="Working hours">
        <app-working-hour></app-working-hour>
    </mat-tab>
    <!-- -------------------------Working hours Tab End--------------------------- -->

    <!-- -------------------------Units of measure categories Tab Start--------------------------- -->
    <mat-tab class="rounded" label="Units of measure categories">
        <app-units-of-measure-categories></app-units-of-measure-categories>
    </mat-tab>
    <!-- -------------------------Units of measure categories Tab Start--------------------------- -->



    <!-- -------------------------Unit of measure Tab Start--------------------------- -->
    <mat-tab class="rounded " label="Unit of measure">
        <app-units-of-measure></app-units-of-measure>
    </mat-tab>
    <!-- -------------------------Unit of measure Tab Start--------------------------- -->

    <!-- -------------------------General setting Tab Start--------------------------- -->
    <mat-tab class="rounded " label="General setting">
        <app-general-settings></app-general-settings>
    </mat-tab>
    <!-- -------------------------General setting Tab Start--------------------------- -->
</mat-tab-group>