<div class="main-box">
    <div class="header d-flex jc-sb align-items-center">
        <p class="heading">Manipulation</p>
        <mat-icon mat-dialog-close="true">cancel</mat-icon>
    </div>
    <div class="description">
<div class="checkboxdiv">
    <span> <input type="checkbox"> Mass delete</span>
    <span> <input type="checkbox"> Mass delete</span>
    <span> <input type="checkbox"> Mass delete</span>
    <span> <input type="checkbox"> Mass delete</span>
</div>

<div class="inputfielddiv">
   <div class="inputdivofmain">
    <div class="mainuimage"><img src="../../../assets/images/couponicon.png" alt="" class="couponicon"></div>

    <input type="text" class="inputtextdiv">
   </div>

   <div class="inputdivofmain">
    <div class="mainuimage"><img src="../../../assets/images/couponicon.png" alt="" class="couponicon"></div>
    <input type="text" class="inputtextdiv">
   </div>

</div>
    </div>





    <mat-divider class="divider-bottom m-t-15 m-b-10"></mat-divider>

    <div class="d-flex align-items-center jc-c m-10"> <button mat-flat-button color="secondary"
           >Confirm</button>
        <button mat-flat-button color="warn" class="m-l-15" mat-dialog-close="true">Close</button>
    </div>
</div>