<div>
 
    <div class="">
        <mat-label class="form-input-label" class="form-input-label">Active</mat-label>
        <div>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="">Yes </mat-radio-button>
                <mat-radio-button value="">No </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>

    <div>
        <mat-label class="form-input-label">label </mat-label>
        <div class="selected-form-field">
            <input type="text" class="mat-input" placeholder="PayU Money">
        </div>
    </div>
    <hr class="m-t-10 ">
    <div>
        <mat-label class="form-input-label">Fixed Fee</mat-label>
        <div class="selected-form-field">
            <input type="text" class="mat-input" placeholder="0">
        </div>
    </div>
    <hr class="m-t-10 ">
    <div>
        <mat-label class="form-input-label">Percentage Fee </mat-label>
        <div class="selected-form-field">
            <input type="text" class="mat-input" placeholder="0">
        </div>
    </div>
    <hr class="m-t-10 ">
    <div>
        <mat-label class="form-input-label">PayU Money Key </mat-label>
        <div class="selected-form-field">
            <input type="text" class="mat-input" placeholder="">
        </div>
    </div>
    <hr class="m-t-10 ">
    <div>
        <mat-label class="form-input-label">PayU Money Salt</mat-label>
        <div class="selected-form-field">
            <input type="text" class="mat-input" placeholder="">
        </div>
    </div>
    
    <hr class="m-t-10 ">
    <div>
        <mat-label class="form-input-label"  >Gateway Dashboard Payment Description</mat-label>
        <textarea name="" id="" cols="20" rows="20"
            class="mat-input text-area">Payment for invoice {invoice_number}</textarea>
    </div>
    <hr class="m-t-10 ">
    <div>
        <mat-label class="form-input-label">Currency</mat-label>
        <div class="selected-form-field">
            <input type="text" class="mat-input" placeholder="INR">
        </div>
    </div>
    
    <div class="">
        <mat-label class="form-input-label" class="form-input-label">Enable Test Mode</mat-label>
        <div>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="">Yes </mat-radio-button>
                <mat-radio-button value="">No </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>

    <div class="">
        <mat-label class="form-input-label" class="form-input-label">Selected by default on invoice</mat-label>
        <div>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="">Yes </mat-radio-button>
                <mat-radio-button value="">No </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
</div>












