<div>

    <div class="">
        <mat-label class="form-input-label" class="form-input-label">Active</mat-label>
        <div>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="">Yes </mat-radio-button>
                <mat-radio-button value="">No </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>

    <div>
        <mat-label class="form-input-label">label </mat-label>
        <div class="selected-form-field">
            <input type="text" class="mat-input" placeholder="Stripe Checkout">
        </div>
    </div>
    <hr class="m-t-10 ">
    <div>
        <mat-label class="form-input-label">Fixed Fee</mat-label>
        <div class="selected-form-field">
            <input type="text" class="mat-input" placeholder="0">
        </div>
    </div>
    <hr class="m-t-10 ">
    <div>
        <mat-label class="form-input-label">Percentage Fee </mat-label>
        <div class="selected-form-field">
            <input type="text" class="mat-input" placeholder="0">
        </div>
    </div>
    <hr class="m-t-10 ">
    <div>
        <mat-label class="form-input-label">Stripe Publishable Key</mat-label>
        <div class="selected-form-field">
            <input type="text" class="mat-input" placeholder="">
        </div>
    </div>
    <hr class="m-t-10 ">
    <div>
        <mat-label class="form-input-label">Stripe API Secret Key </mat-label>
        <div class="selected-form-field">
            <input type="text" class="mat-input" placeholder="">
        </div>
    </div>

    <hr class="m-t-10 ">
    <div>
        <mat-label class="form-input-label">Gateway Dashboard Payment Description</mat-label>
        <textarea name="" id="" cols="20" rows="20"
            class="mat-input text-area">Payment for invoice {invoice_number}</textarea>
    </div>
    <hr class="m-t-10 ">
    <div>
        <mat-label class="form-input-label">Currencies (coma separated)</mat-label>
        <div class="selected-form-field">
            <input type="text" class="mat-input" placeholder="USD,CAD">
        </div>
    </div>

    <div class="">
        <mat-label class="form-input-label" class="form-input-label"> Allow primary contact to update stored credit card
            token?</mat-label>
        <div>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="">Yes </mat-radio-button>
                <mat-radio-button value="">No </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>

    <div class="">
        <mat-label class="form-input-label" class="form-input-label">Selected by default on invoice</mat-label>
        <div>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="">Yes </mat-radio-button>
                <mat-radio-button value="">No </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
</div>