<!-- Main Heading -->
<div class="header d-flex ">
    <p class="heading">Send Email</p>
    <mat-icon mat-dialog-close="true">cancel</mat-icon>
</div>


<!-- Pop-Up Content Start -->
<div class="main-container boxed space">


    <div class="">

        <div class="form-row">
            <!-- All Input Fileds Start Here -->
            <div class="in-form-row">

                <div>
                    <mat-label class="form-input-label"><span>*</span>Email</mat-label>
                    <div class="calendar-input-field form-field two-icon-div-1">

                        <input class="input" />

                    </div>
                </div>


            </div>
            <!-- All Input Fields Ends Here -->
        </div>

        <mat-divider></mat-divider>

        <!-- Close and Save Buttons -->
        <div class="d-flex">
            <button mat-raised-button mat-dialog-close="" class="bg-close">Close</button>
            <button mat-raised-button mat-dialog-close="" class="bg-success">Save</button>
        </div>

    </div>


</div>
<!-- Pop-Up Content End -->