<div class="header d-flex jc-sb align-items-center ">
    <p class="heading">
     
                Meeting Details</p>
    <mat-icon mat-dialog-close="true">cancel</mat-icon>
</div>
<div class="main-container boxed space">
    <!-- <div>
        <h1 class="fw-medium fs-26 m-l-3">#50 - Kieran Lowe </h1>
    </div> -->

    

 <!-- PROFILE -->
 
   
   <!-- EDIT PROFILE -->
   
   <div > 
       
   
       <!---------------------------- inputSection----------- -->
   
       <div class="">
           <div class="form-row">
               <!-- Left Side -->
               <div class="in-form-row">
                   <div>
                       <mat-label class="form-input-label"><span class="text-danger"></span>Customer Name : </mat-label>
                       <div class="calendar-input-field">
                           <mat-form-field appearance="outline" class="form-field">
                               <input matInput class="input" placeholder="giovanni santi">
                           </mat-form-field>
                       </div>
                   </div>
                   <div>
                       <mat-label class="form-input-label"><span class="text-danger"></span>Staff Name: </mat-label>
                       <div class="calendar-input-field">
                           <mat-form-field appearance="outline" class="form-field">
                               <input matInput class="input" placeholder="XYZ Calling BPO">
                           </mat-form-field>
                       </div>
                   </div>
                   <div>
                       <mat-label class="form-input-label"><span class="text-danger"></span>Start Time : </mat-label>
                       <div class="calendar-input-field">
                           <mat-form-field appearance="outline" class="form-field">
                               <input matInput class="email" placeholder="2023-10-10 19:05:00">
                           </mat-form-field>
                       </div>
                   </div>
                   <div>
                       <mat-label class="form-input-label"><span class="text-danger"></span>Duration: </mat-label>
                       <div class="calendar-input-field">
                           <mat-form-field appearance="outline" class="form-field">
                               <input matInput class="email" placeholder="2 minutes">
                           </mat-form-field>
                       </div>
                   </div>
                   <div>
                       <mat-label class="form-input-label"><span class="text-danger"></span>Topic: </mat-label>
                       <div class="calendar-input-field">
                           <mat-form-field appearance="outline" class="form-field">
                               <input matInput class="email" placeholder="test">
                           </mat-form-field>
                       </div>
                   </div>
                   <div>
                       <mat-label class="form-input-label"><span class="text-danger"></span>Status: </mat-label>
                       <div class="calendar-input-field">
                           <mat-form-field appearance="outline" class="form-field">
                               <input matInput class="email" placeholder="End">
                           </mat-form-field>
                       </div>
                   </div>
                   <div>
                       <mat-label class="form-input-label"><span class="text-danger"></span>Country: </mat-label>
                       <div class="calendar-input-field">
                           <mat-form-field appearance="outline" class="form-field">
                               <input matInput class="email" placeholder="Belarus">
                           </mat-form-field>
                       </div>
                   </div>  
   
                   <div>
                      
                       
                   </div>
                  
               </div>
               <!-- ---------------------Right Side----------------------------- -->
               <div class="in-form-row">
   
   
   
                   <div>
                       <mat-label class="form-input-label"><span class="text-danger"></span>Customer Email:</mat-label>
                       <div class="calendar-input-field">
                           <mat-form-field appearance="outline" class="form-field">
                               <input matInput class="input" placeholder="commerciale@sangishop.com">
                           </mat-form-field>
                       </div>
                   </div>
                   <div>
                       <mat-label class="form-input-label"><span class="text-danger"></span>Staff Email :</mat-label>
                       <div class="calendar-input-field">
                           <mat-form-field appearance="outline" class="form-field">
                               <input matInput class="input" placeholder="sales@zonvoir.com">
                           </mat-form-field>
                       </div>
                   </div>
                  
                   <div>
                       <mat-label class="form-input-label"><span class="text-danger"></span>Created Date :</mat-label>
                       <div class="calendar-input-field">
                           <mat-form-field appearance="outline" class="form-field">
                               <input matInput class="input" placeholder="2023-10-10 19:05:47">
                           </mat-form-field>
                       </div>
                   </div>
                   <div>
                       <mat-label class="form-input-label"><span class="text-danger"></span>Meeting Type:</mat-label>
                       <div class="calendar-input-field">
                           <mat-form-field appearance="outline" class="form-field">
                               <input matInput class="input" placeholder="Scheduled Meeting">
                           </mat-form-field>
                       </div>
                   </div>
                   <div>
                    <mat-label class="form-input-label"><span class="text-danger"></span>Description/Agenda :</mat-label>
                       <div class="calendar-input-field">
                           <mat-form-field appearance="outline" class="form-field">
                               <input matInput class="input" placeholder="test">
                           </mat-form-field>
                       </div>
                   </div>
                     
                   <div>
                    <mat-label class="form-input-label"><span class="text-danger"></span>Time Zone:</mat-label>
                       <div class="calendar-input-field">
                           <mat-form-field appearance="outline" class="form-field">
                               <input matInput class="input" placeholder="Asia/Kolkata">
                           </mat-form-field>
                       </div>
                   </div>
                   <div>
                    <mat-label class="form-input-label"><span class="text-danger"></span>Join Url:</mat-label>
                       <div class="calendar-input-field">
                           <mat-form-field appearance="outline" class="form-field">
                               <input matInput class="input" placeholder="https://us05web.zoom.us/j/81733651687?
                               pwd=fss1vpCkHUUw2W3aWKFxxhMZUJCXbb.1">
                           </mat-form-field>
                       </div>
                   </div>
                     
         
       </div>
       </div>
   
       <div class="">
   
           <div>
               <mat-label class="form-input-label"><span class="text-danger"></span>Remark : </mat-label>
               <div class="calendar-input-field">
                   <mat-form-field appearance="outline" class="form-field">
                       <input matInput class="input" placeholder="----">
                   </mat-form-field>
               </div>
           </div>
       
       
   
          
        
       
         
       </div>
   
   </div>
   

   
   
   </div>
   </div>
   <hr>
   <div class="d-flex gap-2">
       <button mat-raised-button color="warn">Cancle</button>
       <button mat-raised-button class="bg-success">Save</button>
   </div>

   
   
   
   