<div class="rounded">
    <div class="d-flex jc-sb p-10 bg-light align-items-center">
        <span class="fw-medium fs-16">New campaign</span>
        <svg class="close-btn" mat-dialog-close="true" xmlns="http://www.w3.org/2000/svg" width="1.6em" height="1.6em"
            viewBox="0 0 32 32">
            <path fill="#f70202"
                d="M16 2C8.2 2 2 8.2 2 16s6.2 14 14 14s14-6.2 14-14S23.8 2 16 2m5.4 21L16 17.6L10.6 23L9 21.4l5.4-5.4L9 10.6L10.6 9l5.4 5.4L21.4 9l1.6 1.6l-5.4 5.4l5.4 5.4z" />
        </svg>
    </div>
    <div class="main-container boxed space ">
     
        <!-- <app-general-setting-headings></app-general-setting-headings> -->
    
        <div class=" ">
    
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="tab-group div-2">
                <!-- General Details  -->
                <mat-tab class="rounded ">
                    <ng-template mat-tab-label class="d-flex align-items-center">
                        <span class="m-l-5">General Details</span>
                    </ng-template>
                    <app-general-details></app-general-details>
                </mat-tab>
    
                <!-- Candidate requirements  -->
                <mat-tab class="rounded ">
                    <ng-template mat-tab-label class="d-flex align-items-center">
    
                        <span class="m-l-5">Candidate requirements</span>
                    </ng-template>
                    <app-candidate-requirements></app-candidate-requirements>
                </mat-tab>
    
            </mat-tab-group>
        </div>
    
        
    
    </div>

    <div class="d-flex gap-1 p-10 b-t">
        <button mat-dialog-close="true" mat-raised-button class="bg-close">Close</button>
        <button mat-dialog-close="true" mat-raised-button class="bg-success">Save</button>
    </div>
</div>