<div class="p-10 m-t-20 ">
    <div>
        <mat-label class="form-input-label"> Subject</mat-label>
        <div class="selected-form-field">
            <input type="text" class="mat-input" placeholder="">
        </div>
    </div>
    <div class="tow-input-fields">
        <div class="w-100">
            <mat-label class="form-input-label"> Your name             </mat-label>
            <div class="selected-form-field">
                <input type="text" class="mat-input" placeholder="">
            </div>
        </div>
        <div class="w-100">
            <mat-label class="form-input-label"> Email Address</mat-label>
            <div class="selected-form-field">
                <input type="text" class="mat-input" placeholder="">
            </div>
        </div>
    </div>

    <div>
        <mat-label class="form-input-label">Department</mat-label>
        <div class="selected-form-field">
            <select name="" id="" class="mat-input">
                <option value="">Nothing selected</option>
            </select>
            <span class="down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                    viewBox="0 0 15 15">
                    <path fill="#808080" d="M7.5 12L0 4h15z" />
                </svg></span>
        </div>
    </div>
    <div>
        <mat-label class="form-input-label">Priority</mat-label>
        <div class="selected-form-field">
            <select name="" id="" class="mat-input">
                <option value="">Medium</option>
            </select>
            <span class="down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                    viewBox="0 0 15 15">
                    <path fill="#808080" d="M7.5 12L0 4h15z" />
                </svg></span>
        </div>
    </div>
    <div>
        <mat-label class="form-input-label">Company Information Format (PDF and HTML)</mat-label>
        <textarea name="" id="" cols="50" rows="20" class="mat-input text-area"></textarea>
    </div>

    <div class="imagee-lable">
        <mat-label class="form-input-label">Signature Image</mat-label>
        <div class="file-border  m-t-10">
            <div class="m-b-20 full">
                <label for="file" class="file"> Choose File</label>
                <input type="file" name="" id="file" class="hidden">
            </div>
        </div>
    </div>
<hr class="m-t-20" >

<div class="d-flex gap-1 p-10">
    <button mat-dialog-close="true"
        class=" mdc-button mdc-button--raised mat-mdc-raised-button mat-unthemed mat-mdc-button-base "
        mat-raised-button color="warn">Cancel</button>
    <button mat-dialog-close="true"
        class="bg-success"
        mat-raised-button> Save</button>

</div>
</div>