<div class="main-container boxed space">
    <div class="d-flex jc-sb align-items-center">
        <div>
            <h1 class="text-dark"># PRO-000001 </h1>
            <span class="fs-2 ">etste</span>
        </div>
        <div><button mat-raised-button color="primary"><mat-icon>download</mat-icon>Download</button>
        </div>
    </div>
    <div class="form">
        <div class="table-div bs">
            <table class="rounded">
                <tr>
                    <th>SNO.</th>
                    <th>Item</th>
                    <th>Qty</th>
                    <th>Rate</th>
                    <th>Tax</th>
                    <th>Amount</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>
                        <div class="text-secondary">
                            <span class=" fs-18">MacBook Pro</span><br>
                            <span>I suppose?' 'Yes,' said Alice, who had been of late much <br>accustomed to
                                usurpation and conquest..</span>
                        </div>
                    </td>
                    <td>1</td>
                    <td>2150.00</td>
                    <td>0%</td>
                    <td>2,150.00</td>
                </tr>
            </table>
        </div>
        <div class="text-right total-div ">
            <div class="total d-flex jc-e">
                <span>Sub Total:</span>
                <span>$2,150.00</span>
            </div>
            <div class=" total d-flex jc-e ">
                <span>Total:</span>
                <span>$2,150.00</span>
            </div>
        </div>
    </div>
    <div class="proposal-view-tab">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="tab-group div-2 box-shadow">
            <mat-tab label="Summary" class="rounded ">

                <div class="d-flex jc-sb inner">
                    <div>
                        <p class="fw-5">Perfex INC</p>
                        <p class="fw-4">172 Ivy Club Gottliebfurt <br> New Heaven <br> Canada [CA] 2364</p>
                    </div>
                    <div>
                        <p class="fw-5">Proposal Information</p><br>
                        <p class="fw-5">Goyette PLC</p>
                        <p class="fw-4">693 Swift Place Apt. <br> 545 South Delfinaland Virginia <br>GB 38263-6959</p>
                        <p class="fw-4 purple">+1 (579)473-4375 <br> wjohnson@example.net</p>
                    </div>
                    <div class="">
                        <p class="fs-24 fw-5">Total $2,150.00</p>
                        <p class="d-flex jc-sb gap-3 fw-4"><span>Status</span><span class="date">Accept</span></p>
                        <p class="d-flex jc-sb gap-3 fw-4"><span>Date</span><span>2024-02-15</span></p>
                        <p class="d-flex jc-sb gap-3 fw-4"><span>Open Till</span><span>2024-02-15</span></p>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Discussion">
                <div class="discussion">
                    <div class="text-area">
                        <textarea name="" id="" cols="30" rows="5" class="mat-input text-areas"></textarea>
                        <button mat-raised-button color="primary">Add Comment</button>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>