<div class="main-container boxed">
    <h1 class="text-dark m-b-15">General</h1>

    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="tab-group ">

        <mat-tab label="General" class="rounded ">
            <div class="form m-10">
                <div class="p-20">
                    <img class="logo-img" src="assets/images/Logo 4.png" alt="">

                </div>
                <mat-divider></mat-divider>
                <div class="p-20">
                    <img class="logo-img" src="assets/images/Logo 4.png" alt="">
                </div>
                <mat-divider></mat-divider>
                <div class="m-10">
                    <p class="fw-medium">Fevicon</p>
                    <img class="attachment-logo" src="assets/images/attachment.png" alt="">
                </div>
                <mat-divider></mat-divider>
                <div class="dual-field">

                    <div class="dual-form">
                        <label class="dual-label">Company Name</label>
                        <input type="text" class="mat-input" placeholder="Perfex SaaS">
                    </div>

                    <div class="dual-form">
                        <label class="dual-label"><span class="text-danger">*</span>Allowed file types</label>
                        <input type="text" class="mat-input" placeholder=".png, .jpg, .pdf, .doc">
                    </div>


                </div>

                <mat-divider class="m-t-10"></mat-divider>
                <div class="dual-field">

                    <div class="dual-form">
                        <label class="dual-label m-0">Landing page URL<mat-icon
                                class="icon-help">help</mat-icon></label>
                        <div class="selected-form-field">
                            <input type="text" class="dual-input" placeholder="https://perfectsaas.coderitems.com">
                            <span class="dual-down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em"
                                    height="1em" viewBox="0 0 15 15">
                                    <path fill="#808080" d="M7.5 12L0 4h15z" />
                                </svg></span>
                        </div>
                    </div>

                    <div class="dual-form">
                        <label class="dual-label m-0">Mode<mat-icon class="icon-help">help</mat-icon></label>
                        <div class="selected-form-field">
                            <select class="dual-input">
                                <option value="">Default</option>
                            </select>
                            <span class="dual-down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em"
                                    height="1em" viewBox="0 0 15 15">
                                    <path fill="#808080" d="M7.5 12L0 4h15z" />
                                </svg></span>
                        </div>
                    </div>

                </div>

                <mat-divider  class="m-t-10"></mat-divider>
                <div class="m-10">
                    <label for="">Disable Email Verification<mat-icon class="icon-help">help</mat-icon></label>
                    <mat-radio-group aria-label="Select an option" class="radio-btns">
                        <mat-radio-button class="m-r-15" value="">Yes</mat-radio-button>
                        <mat-radio-button value="">No</mat-radio-button>
                       
                    </mat-radio-group>
                </div>

                <mat-divider  class="m-t-10"></mat-divider>
                <div class="m-10">
                    <label for="">Disable Frontend ?<mat-icon class="icon-help">help</mat-icon></label>
                    <mat-radio-group aria-label="Select an option" class="radio-btns">
                        <mat-radio-button class="m-r-15" value="">Yes</mat-radio-button>
                        <mat-radio-button value="">No</mat-radio-button>
                       
                    </mat-radio-group>
                </div>
                <mat-divider  class="m-t-10"></mat-divider>
                <div class="m-10">
                    <label for="">Redirect to Dashboard<mat-icon class="icon-help">help</mat-icon></label>
                    <mat-radio-group aria-label="Select an option" class="radio-btns">
                        <mat-radio-button class="m-r-15" value="">Yes</mat-radio-button>
                        <mat-radio-button value="">No</mat-radio-button>
                       
                    </mat-radio-group>
                </div>

                <mat-divider  class="m-t-10"></mat-divider>
                <div class="m-10">
                    <label for="">Billings Menu<mat-icon class="icon-help">help</mat-icon></label>
                    <mat-radio-group aria-label="Select an option" class="radio-btns">
                        <mat-radio-button class="m-r-15" value="">Admin & Client Panel</mat-radio-button>
                        <mat-radio-button value="">Hide to Admin Panel</mat-radio-button>
                       
                    </mat-radio-group>
                </div>
                <mat-divider  class="m-t-10"></mat-divider>
                <div class="m-10">
                    <label for="">SaaS Reserved Company/Tenant Name (i.e subdomain)<mat-icon class="icon-help">help</mat-icon></label>
                    <input type="text" class="mat-input" placeholder="admin, administrator">
                    <p class="fs-12 fw-normal text-danger">Reserved Company/Tenant Name should separate with comma.Reserved Words will not be allowed to use as Company/Tenant Name (i.e admin,administrator,root etc)</p>
                </div>

            </div>
            
        </mat-tab>

        <mat-tab label="Localization" class="rounded ">

            <div class="form m-10">
                <div class="dual-field">

                    <div class="dual-form">
                        <label class="dual-label m-0">Date Format</label>
                        <div class="selected-form-field">
                            <select class="dual-input">
                                <option value="">y-m-d</option>
                            </select>
                            <span class="dual-down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em"
                                    height="1em" viewBox="0 0 15 15">
                                    <path fill="#808080" d="M7.5 12L0 4h15z" />
                                </svg></span>
                        </div>
                    </div>

                    <div class="dual-form">
                        <label class="dual-label m-0">Time Format</label>
                        <div class="selected-form-field">
                            <select class="dual-input">
                                <option value="">24 Hours</option>
                            </select>
                            <span class="dual-down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em"
                                    height="1em" viewBox="0 0 15 15">
                                    <path fill="#808080" d="M7.5 12L0 4h15z" />
                                </svg></span>
                        </div>
                    </div>

                </div>
                <mat-divider></mat-divider>
                <div class="dual-field">

                    <div class="dual-form">
                        <label class="dual-label m-0">Default Timezone</label>
                        <div class="selected-form-field">
                            <select class="dual-input">
                                <option value="">Asia/Dhaka</option>
                            </select>
                            <span class="dual-down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em"
                                    height="1em" viewBox="0 0 15 15">
                                    <path fill="#808080" d="M7.5 12L0 4h15z" />
                                </svg></span>
                        </div>
                    </div>

                    <div class="dual-form">
                        <label class="dual-label m-0">Default Language</label>
                        <div class="selected-form-field">
                            <select class="dual-input">
                                <option value="">English</option>
                            </select>
                            <span class="dual-down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em"
                                    height="1em" viewBox="0 0 15 15">
                                    <path fill="#808080" d="M7.5 12L0 4h15z" />
                                </svg></span>
                        </div>
                    </div>

                </div>
                

            </div>
        </mat-tab>

        <mat-tab label="Tenant/Company Seed" class="rounded ">
            <div class="form m-10">
                <div class="para-div">
                    <p class="fs-12 fw-medium para">For every new company/tenant a new database will be created with this seed. if a company/tenant choose with sample data then the database will be created with this seed and sample data will be inserted into the database. you can switch to the seed database to insert your own data and according to your data on seed tables the new company/tenant database will be shown with your data.</p>
                </div>

                <div class="m-10 d-flex jc-sb align-items-center small-screen">
                    <div><button mat-raised-button color="primary">Reset Sample Dababase</button></div>
                    <div class="d-flex jc-sb align-items-center boxx">
                        <p class="DB">Sample Database Name:</p>
                        <div class="DB-name-div">
                            <p class="DB-name">Company_Seed_40</p>
                        </div>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="para-div">
                    <p class="fs-12 fw-medium para">Login as sample company/tenant to insert and see the sample data and settings.and add your default data and settings to seed database to show your data and settings to new company/tenant</p>
                </div>
                <div class="m-10"><button mat-raised-button color="primary">Login as Sample Company</button></div>

            </div>
        </mat-tab>

        <mat-tab label="Email" class="rounded ">
            <div class="form m-10">
                <div class="m-10"><button mat-raised-button color="primary">SMTP Settings</button></div>
            </div>
            <div class="form m-10">
                <p class="fs-14 fw-medium m-10">SMTP Settings (setup main email)</p>
                <mat-divider></mat-divider>
                <div class="m-10">
                    <label for="">Mail Engine</label>
                    <mat-radio-group aria-label="Select an option" class="radio-btns">
                        <mat-radio-button class="m-r-15" value="">PHPMailer</mat-radio-button>
                        <mat-radio-button value="">CodeIgniter</mat-radio-button>
                    </mat-radio-group>
                </div>
                <mat-divider></mat-divider>
                <div class="m-10">
                    <label for="">Email Protocol</label>
                    <mat-radio-group aria-label="Select an option" class="radio-btns">
                        <mat-radio-button class="m-r-15" value="">SMTP</mat-radio-button>
                        <mat-radio-button class="m-r-15" value="">Microsoft OAuth 2.0</mat-radio-button>
                        <mat-radio-button class="m-r-15" value="">Gmail OAuth 2.0</mat-radio-button>
                        <mat-radio-button class="m-r-15" value="">Send Mail</mat-radio-button>
                        <mat-radio-button class="m-r-15" value="">Mail</mat-radio-button>
                       
                    </mat-radio-group>

                </div>
                <div class="m-10">
                    <label for="">Email Encryption</label>
                    <div class="selected-form-field">
                        <select class="dual-input">
                            <option value="">None</option>
                        </select>
                        <span class="dual-down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em"
                                height="1em" viewBox="0 0 15 15">
                                <path fill="#808080" d="M7.5 12L0 4h15z" />
                            </svg></span>
                    </div>
                </div>   
                    
                <div class="dual-field">

                        <div class="dual-form">
                            <label class="dual-label m-0">SMTP Host</label>
                            <input type="text" class="mat-input" placeholder="None">
                                
                            
                        </div>
    
                        <div class="dual-form">
                            <label class="dual-label m-0">SMTP Port</label>
                            <input type="text" class="mat-input" >
                        </div>
    
                </div>

                <div class="dual-field">

                    <div class="dual-form">
                        <label class="dual-label m-0">Email</label>
                        <input type="text" class="mat-input" >
                    </div>

                    <div class="dual-form">
                        <label class="dual-label m-0"><mat-icon class="icon-help">help</mat-icon>SMTP Username</label>
                        <input type="text" class="mat-input" placeholder="nayeem.edu@gmail.com">
                    </div>

                </div>

                <div class="dual-field">

                    <div class="dual-form">
                        <label class="dual-label m-0">SMTP Password</label>
                        <input type="text" class="mat-input" >
                    </div>

                    <div class="dual-form">
                        <label class="dual-label m-0">Email Chartset</label>
                        <input type="text" class="mat-input" placeholder="utf-8">
                    </div>

                </div>
                <div class="m-10">
                    <label for="">BCC All Emails To</label>
                    <input type="text" class="mat-input">

                    <label for="">Email Signature</label>
                    <textarea name="" class="mat-input" id="" cols="30" rows="10"></textarea>
                </div>
                <mat-divider class="m-t-10 m-b-15"></mat-divider>

                <div class="m-10">
                    <label for="">Predefined Header</label>
                    <textarea name="" class="mat-input" id="" cols="30" rows="10" placeholder=""></textarea>

                </div>
                <mat-divider class="m-t-10 m-b-15"></mat-divider>
                <div class="m-10">
                    <label for="">Predefined Footer</label>
                    <textarea name="" class="mat-input" id="" cols="30" rows="10"></textarea>

                </div>
                <mat-divider class="m-t-10 m-b-15"></mat-divider>
                <div class="m-10">
                    <label for="">Send Test Email</label>
                    <p class="fs-12 fw-normal">Send test email to make sure that your SMTP settings is set correctly.</p>
                    <div class="d-flex">
                        <input type="text" class="mat-input" placeholder="Email Address">
                        <button mat-raised-button color="primary">Test</button>
                    </div>
                </div>

                
                

            </div>

        </mat-tab>

        <mat-tab label="Server Settings" class="rounded ">
            <div class="form m-10">
                <div class="m-10">
                    <label for="">Create Wildcard Subdomain ?<mat-icon class="icon-help">help</mat-icon></label>
                    <mat-radio-group aria-label="Select an option" class="radio-btns">
                        <mat-radio-button class="m-r-15" value="">Yes</mat-radio-button>
                        <mat-radio-button value="">No</mat-radio-button>
                       
                    </mat-radio-group>
                </div>
                <div class="m-10">
                    <label for="">Select Server <span class="text-danger">*</span><mat-icon class="icon-help">help</mat-icon></label>
                    <div class="selected-form-field">
                        <select class="dual-input">
                            <option value="">Localhost</option>
                        </select>
                        <span class="dual-down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em"
                                height="1em" viewBox="0 0 15 15">
                                <path fill="#808080" d="M7.5 12L0 4h15z" />
                            </svg></span>
                    </div>
                </div>
                <div class="m-l-10 m-t-10 d-flex jc-sb align-items-center">
                    <button mat-raised-button color="primary">Save Changes</button>
                    <button mat-raised-button color="primary">Test Connection</button>

                </div>
                

            </div>
            
        </mat-tab>

        <mat-tab label="Payment Gateways" class="rounded ">
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="tab-group ">

                <mat-tab label="Authorize.net Accept.js" class="rounded ">
                    <div class="form m-10">
                        <div class="m-10">
                            <p class="description-para">SSL is required if you're using the Authorize.Net AIM payment API. Authorize.net only supports 1 currency per account. Make sure you add only 1 currency associated with your Authorize account in the currencies field.</p>
                            <p class="m-0 fs-12 fw-medium">If you are enabling test mode, make sure to set test credentials from https://sandbox.authorize.net <br>
                                Currently supported currencies: USD, CAD, CHF, DKK, EUR, GBP, NOK, PLN, SEK, AUD, NZD</p>
                        </div>
                        
                    </div>
                    <div class="form m-10">
                        <div class="m-10">
                            <label for="">Active</label>
                            <mat-radio-group aria-label="Select an option" class="radio-btns">
                                <mat-radio-button class="m-r-15" value="">Yes</mat-radio-button>
                                <mat-radio-button value="">No</mat-radio-button>
                               
                            </mat-radio-group>
                        </div>
                        <div class="m-10">
                            <label for="">Label</label>
                            <input type="text" class="mat-input">
                        </div>
                        <mat-divider></mat-divider>
                        <div class="m-10">
                            <label for="">Public Key</label>
                            <input type="text" class="mat-input">
                        </div>
                        <mat-divider></mat-divider>
                        <div class="m-10">
                            <label for="">API Login ID</label>
                            <input type="text" class="mat-input">
                        </div>
                        
                        <mat-divider></mat-divider>
                        <div class="m-10">
                            <label for="">Gateway Dashboard Payment Description</label>
                            <textarea name="" id="" cols="30" rows="10" class="mat-input" placeholder="Payment for invoice {invoice_number}"></textarea>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="m-10">
                            <label for="">Currency</label>
                            <input type="text" class="mat-input" placeholder="USD">
                        </div>
                        <div class="m-10">
                            <label for="">Enable Test Mode</label>
                            <mat-radio-group aria-label="Select an option" class="radio-btns">
                                <mat-radio-button class="m-r-15" value="">Yes</mat-radio-button>
                                <mat-radio-button value="">No</mat-radio-button>
                               
                            </mat-radio-group>
                            <label for="">Selected by default on invoice</label>
                            <mat-radio-group aria-label="Select an option" class="radio-btns">
                                <mat-radio-button class="m-r-15" value="">Yes</mat-radio-button>
                                <mat-radio-button value="">No</mat-radio-button>
                               
                            </mat-radio-group>

                        </div>
                        

                    </div>
                </mat-tab>

                <mat-tab label="Instamojo" class="rounded ">
                    <div class="form m-10">
                        <div class="m-10">
                            <label for="">Active</label>
                            <mat-radio-group aria-label="Select an option" class="radio-btns">
                                <mat-radio-button class="m-r-15" value="">Yes</mat-radio-button>
                                <mat-radio-button value="">No</mat-radio-button>
                               
                            </mat-radio-group>
                        </div>
                        <div class="m-10">
                            <label for="">Label</label>
                            <input type="text" class="mat-input">
                        </div>
                        <mat-divider></mat-divider>
                        <div class="m-10">
                            <label for="">Fixed Fee</label>
                            <input type="text" class="mat-input" placeholder="0">
                        </div>
                        <mat-divider></mat-divider>
                        <div class="m-10">
                            <label for="">Percentage Fee</label>
                            <input type="text" class="mat-input" placeholder="0">
                        </div>
                        
                        <mat-divider></mat-divider>
                        <div class="m-10">
                            <label for="">Private API Key</label>
                            <input type="text" class="mat-input" >
                        </div>
                        <mat-divider></mat-divider>
                        
                        <div class="m-10">
                            <label for="">Private Auth Token</label>
                            <input type="text" class="mat-input" >
                        </div>
                        <mat-divider></mat-divider>
                        <div class="m-10">
                            <label for="">Gateway Dashboard Payment Description</label>
                            <textarea name="" id="" cols="30" rows="10" class="mat-input" placeholder="Payment for invoice {invoice_number}"></textarea>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="m-10">
                            <label for="">Currencies (coma seperated )</label>
                            <input type="text" class="mat-input" placeholder="INR">
                        </div>
                       
                        <div class="m-10">
                            <label for="">Enable Test Mode</label>
                            <mat-radio-group aria-label="Select an option" class="radio-btns">
                                <mat-radio-button class="m-r-15" value="">Yes</mat-radio-button>
                                <mat-radio-button value="">No</mat-radio-button>
                               
                            </mat-radio-group>
                            <label for="">Selected by default on invoice</label>
                            <mat-radio-group aria-label="Select an option" class="radio-btns">
                                <mat-radio-button class="m-r-15" value="">Yes</mat-radio-button>
                                <mat-radio-button value="">No</mat-radio-button>
                               
                            </mat-radio-group>

                        </div>
                        

                    </div>
                </mat-tab>

                <mat-tab label="Mollie" class="rounded ">
                    <div class="form m-10">
                        <div class="m-10">
                            <label for="">Active</label>
                            <mat-radio-group aria-label="Select an option" class="radio-btns">
                                <mat-radio-button class="m-r-15" value="">Yes</mat-radio-button>
                                <mat-radio-button value="">No</mat-radio-button>
                               
                            </mat-radio-group>
                        </div>
                        <div class="m-10">
                            <label for="">Label</label>
                            <input type="text" class="mat-input" placeholder="Mollie">
                        </div>
                        <mat-divider></mat-divider>
                        <div class="m-10">
                            <label for="">API Key</label>
                            <input type="text" class="mat-input" placeholder="0">
                        </div>
                        
                        <mat-divider></mat-divider>
                        
                        <div class="m-10">
                            <label for="">Gateway Dashboard Payment Description</label>
                            <textarea name="" id="" cols="30" rows="10" class="mat-input" placeholder="Payment for invoice {invoice_number}"></textarea>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="m-10">
                            <label for="">Currency</label>
                            <input type="text" class="mat-input" placeholder="EUR">
                        </div>
                       
                        <div class="m-10">
                            <label for="">Enable Test Mode</label>
                            <mat-radio-group aria-label="Select an option" class="radio-btns">
                                <mat-radio-button class="m-r-15" value="">Yes</mat-radio-button>
                                <mat-radio-button value="">No</mat-radio-button>
                               
                            </mat-radio-group>
                            <label for="">Selected by default on invoice</label>
                            <mat-radio-group aria-label="Select an option" class="radio-btns">
                                <mat-radio-button class="m-r-15" value="">Yes</mat-radio-button>
                                <mat-radio-button value="">No</mat-radio-button>
                               
                            </mat-radio-group>

                        </div>
                        

                    </div>
                </mat-tab>

                <mat-tab label="Braintree" class="rounded ">
                    <div class="form m-10">
                        <div class="m-10">
                            <label for="">Active</label>
                            <mat-radio-group aria-label="Select an option" class="radio-btns">
                                <mat-radio-button class="m-r-15" value="">Yes</mat-radio-button>
                                <mat-radio-button value="">No</mat-radio-button>
                               
                            </mat-radio-group>
                        </div>
                        <div class="m-10">
                            <label for="">Label</label>
                            <input type="text" class="mat-input" placeholder="Braintree">
                        </div>
                        <mat-divider></mat-divider>
                        <div class="m-10">
                            <label for="">Merchant ID</label>
                            <input type="text" class="mat-input" >
                        </div>
                        <mat-divider></mat-divider>
                        <div class="m-10">
                            <label for="">Public Key</label>
                            <input type="text" class="mat-input" >
                        </div>
                        <mat-divider></mat-divider>
                        <div class="m-10">
                            <label for="">Private Key</label>
                            <input type="text" class="mat-input" >
                        </div>
                        
                        <mat-divider></mat-divider>
                        <div class="m-10">
                            <label for="">Currencies (coma seperated)</label>
                            <input type="text" class="mat-input" placeholder="USD">
                        </div>
                       
                        <div class="m-10">
                            <label for="">Enable PayPal Payments</label>
                            <mat-radio-group aria-label="Select an option" class="radio-btns">
                                <mat-radio-button class="m-r-15" value="">Yes</mat-radio-button>
                                <mat-radio-button value="">No</mat-radio-button>
                               
                            </mat-radio-group>

                            <label for="">Enable Test Mode</label>
                            <mat-radio-group aria-label="Select an option" class="radio-btns">
                                <mat-radio-button class="m-r-15" value="">Yes</mat-radio-button>
                                <mat-radio-button value="">No</mat-radio-button>
                               
                            </mat-radio-group>
                            <label for="">Selected by default on invoice</label>
                            <mat-radio-group aria-label="Select an option" class="radio-btns">
                                <mat-radio-button class="m-r-15" value="">Yes</mat-radio-button>
                                <mat-radio-button value="">No</mat-radio-button>
                               
                            </mat-radio-group>

                        </div>
                        

                    </div>
                </mat-tab>

                <mat-tab label="Paypal Smart Checkout" class="rounded ">
                    <div class="form m-10">
                        <div class="m-10">
                            <label for="">Active</label>
                            <mat-radio-group aria-label="Select an option" class="radio-btns">
                                <mat-radio-button class="m-r-15" value="">Yes</mat-radio-button>
                                <mat-radio-button value="">No</mat-radio-button>
                               
                            </mat-radio-group>
                        </div>
                        <div class="m-10">
                            <label for="">Label</label>
                            <input type="text" class="mat-input" placeholder="Paypal Smart Checkout">
                        </div>
                        <mat-divider></mat-divider>
                        <div class="m-10">
                            <label for="">Fixed Fee</label>
                            <input type="text" class="mat-input" placeholder="0">
                        </div>
                        <mat-divider></mat-divider>
                        <div class="m-10">
                            <label for="">Percentage Fee</label>
                            <input type="text" class="mat-input" placeholder="0">
                        </div>
                        <mat-divider></mat-divider>
                        <div class="m-10">
                            <label for="">Client ID</label>
                            <input type="text" class="mat-input" >
                        </div>
                        <mat-divider></mat-divider>
                        <div class="m-10">
                            <label for="">Secret</label>
                            <input type="text" class="mat-input" >
                        </div>
                        
                        <mat-divider></mat-divider>
                        
                        <div class="m-10">
                            <label for="">Gateway Dashboard Payment Description</label>
                            <textarea name="" id="" cols="30" rows="10" class="mat-input" placeholder="Payment for invoice {invoice_number}"></textarea>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="m-10">
                            <label for="">Currencies (coma seperated)</label>
                            <input type="text" class="mat-input" placeholder="USD,CAD,EUR">
                        </div>
                       
                        <div class="m-10">
                            <label for="">Enable Test Mode</label>
                            <mat-radio-group aria-label="Select an option" class="radio-btns">
                                <mat-radio-button class="m-r-15" value="">Yes</mat-radio-button>
                                <mat-radio-button value="">No</mat-radio-button>
                               
                            </mat-radio-group>
                            <label for="">Selected by default on invoice</label>
                            <mat-radio-group aria-label="Select an option" class="radio-btns">
                                <mat-radio-button class="m-r-15" value="">Yes</mat-radio-button>
                                <mat-radio-button value="">No</mat-radio-button>
                               
                            </mat-radio-group>

                        </div>
                        

                    </div>
                </mat-tab>
                
                <mat-tab label="Paypal" class="rounded ">
                    <div class="form m-10">
                        <div class="m-10">
                            <label for="">Active</label>
                            <mat-radio-group aria-label="Select an option" class="radio-btns">
                                <mat-radio-button class="m-r-15" value="">Yes</mat-radio-button>
                                <mat-radio-button value="">No</mat-radio-button>
                               
                            </mat-radio-group>
                        </div>
                        <div class="m-10">
                            <label for="">Label</label>
                            <input type="text" class="mat-input" placeholder="Paypal">
                        </div>
                        <mat-divider></mat-divider>
                        <div class="m-10">
                            <label for="">Fixed Fee</label>
                            <input type="text" class="mat-input">
                        </div>
                        <mat-divider></mat-divider>
                        <div class="m-10">
                            <label for="">Percentage Fee</label>
                            <input type="text" class="mat-input">
                        </div>
                        <mat-divider></mat-divider>
                        <div class="m-10">
                            <label for="">PayPal API Username</label>
                            <input type="text" class="mat-input" >
                        </div>
                        <mat-divider></mat-divider>
                        <div class="m-10">
                            <label for="">PayPal API Password</label>
                            <input type="text" class="mat-input" >
                        </div>
                        <mat-divider></mat-divider>
                        <div class="m-10">
                            <label for="">API Signature</label>
                            <input type="text" class="mat-input" >
                        </div>
                        
                        <mat-divider></mat-divider>
                        
                        <div class="m-10">
                            <label for="">Gateway Dashboard Payment Description</label>
                            <textarea name="" id="" cols="30" rows="10" class="mat-input" placeholder="Payment for invoice {invoice_number}"></textarea>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="m-10">
                            <label for="">Currencies (coma seperated)</label>
                            <input type="text" class="mat-input" placeholder="USD,EUR">
                        </div>
                       
                        <div class="m-10">
                            <label for="">Enable Test Mode</label>
                            <mat-radio-group aria-label="Select an option" class="radio-btns">
                                <mat-radio-button class="m-r-15" value="">Yes</mat-radio-button>
                                <mat-radio-button value="">No</mat-radio-button>
                               
                            </mat-radio-group>
                            <label for="">Selected by default on invoice</label>
                            <mat-radio-group aria-label="Select an option" class="radio-btns">
                                <mat-radio-button class="m-r-15" value="">Yes</mat-radio-button>
                                <mat-radio-button value="">No</mat-radio-button>
                               
                            </mat-radio-group>

                        </div>
                        

                    </div>
                </mat-tab>

                <mat-tab label="PayU Money" class="rounded ">
                    <div class="form m-10">
                        <div class="m-10">
                            <label for="">Active</label>
                            <mat-radio-group aria-label="Select an option" class="radio-btns">
                                <mat-radio-button class="m-r-15" value="">Yes</mat-radio-button>
                                <mat-radio-button value="">No</mat-radio-button>
                               
                            </mat-radio-group>
                        </div>
                        <div class="m-10">
                            <label for="">Label</label>
                            <input type="text" class="mat-input" placeholder="PayU Money">
                        </div>
                        <mat-divider></mat-divider>
                        <div class="m-10">
                            <label for="">Fixed Fee</label>
                            <input type="text" class="mat-input">
                        </div>
                        <mat-divider></mat-divider>
                        <div class="m-10">
                            <label for="">Percentage Fee</label>
                            <input type="text" class="mat-input">
                        </div>
                        <mat-divider></mat-divider>
                        <div class="m-10">
                            <label for="">PayU Money Key</label>
                            <input type="text" class="mat-input" >
                        </div>
                        <mat-divider></mat-divider>
                        <div class="m-10">
                            <label for="">PayU Money Salt</label>
                            <input type="text" class="mat-input" >
                        </div>
                        
                        <mat-divider></mat-divider>
                        
                        <div class="m-10">
                            <label for="">Gateway Dashboard Payment Description</label>
                            <textarea name="" id="" cols="30" rows="10" class="mat-input" placeholder="Payment for invoice {invoice_number}"></textarea>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="m-10">
                            <label for="">Currency</label>
                            <input type="text" class="mat-input" placeholder="INR">
                        </div>
                       
                        <div class="m-10">
                            <label for="">Enable Test Mode</label>
                            <mat-radio-group aria-label="Select an option" class="radio-btns">
                                <mat-radio-button class="m-r-15" value="">Yes</mat-radio-button>
                                <mat-radio-button value="">No</mat-radio-button>
                               
                            </mat-radio-group>
                            <label for="">Selected by default on invoice</label>
                            <mat-radio-group aria-label="Select an option" class="radio-btns">
                                <mat-radio-button class="m-r-15" value="">Yes</mat-radio-button>
                                <mat-radio-button value="">No</mat-radio-button>
                               
                            </mat-radio-group>

                        </div>
                        

                    </div>
                </mat-tab>

                <mat-tab label="Stripe Checkout" class="rounded ">
                    <div class="form m-10">
                        <div class="m-10">
                            <label for="">Active</label>
                            <mat-radio-group aria-label="Select an option" class="radio-btns">
                                <mat-radio-button class="m-r-15" value="">Yes</mat-radio-button>
                                <mat-radio-button value="">No</mat-radio-button>
                               
                            </mat-radio-group>
                        </div>
                        <div class="m-10">
                            <label for="">Label</label>
                            <input type="text" class="mat-input" placeholder="Stripe Checkout">
                        </div>
                        <mat-divider></mat-divider>
                        <div class="m-10">
                            <label for="">Fixed Fee</label>
                            <input type="text" class="mat-input">
                        </div>
                        <mat-divider></mat-divider>
                        <div class="m-10">
                            <label for="">Percentage Fee</label>
                            <input type="text" class="mat-input">
                        </div>
                        <mat-divider></mat-divider>
                        <div class="m-10">
                            <label for="">Stripe Publishable Key</label>
                            <input type="text" class="mat-input" >
                        </div>
                        <mat-divider></mat-divider>
                        <div class="m-10">
                            <label for="">Stripe API Secret Key</label>
                            <input type="text" class="mat-input" >
                        </div>
                        
                        <mat-divider></mat-divider>
                        
                        <div class="m-10">
                            <label for="">Gateway Dashboard Payment Description</label>
                            <textarea name="" id="" cols="30" rows="10" class="mat-input" placeholder="Payment for invoice {invoice_number}"></textarea>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="m-10">
                            <label for="">Currencies (coma seperated)</label>
                            <input type="text" class="mat-input" placeholder="USD,CAD">
                        </div>
                       
                        <div class="m-10">
                            <label for="">Allow primary contact to update stored credit card token</label>
                            <mat-radio-group aria-label="Select an option" class="radio-btns">
                                <mat-radio-button class="m-r-15" value="">Yes</mat-radio-button>
                                <mat-radio-button value="">No</mat-radio-button>
                               
                            </mat-radio-group>
                            <label for="">Selected by default on invoice</label>
                            <mat-radio-group aria-label="Select an option" class="radio-btns">
                                <mat-radio-button class="m-r-15" value="">Yes</mat-radio-button>
                                <mat-radio-button value="">No</mat-radio-button>
                               
                            </mat-radio-group>

                        </div>
                        

                    </div>
                </mat-tab>

                <mat-tab label="Stripe iDEAL" class="rounded ">
                    <div class="form m-10">
                        <div class="m-10">
                            <label for="">Active</label>
                            <mat-radio-group aria-label="Select an option" class="radio-btns">
                                <mat-radio-button class="m-r-15" value="">Yes</mat-radio-button>
                                <mat-radio-button value="">No</mat-radio-button>
                               
                            </mat-radio-group>
                        </div>
                        <div class="m-10">
                            <label for="">Label</label>
                            <input type="text" class="mat-input" placeholder="Stripe iDEAL">
                        </div>
                        <mat-divider></mat-divider>
                        <div class="m-10">
                            <label for="">Stripe API Secret Key</label>
                            <input type="text" class="mat-input">
                        </div>
                        <mat-divider></mat-divider>
                        <div class="m-10">
                            <label for="">API Publishable Key</label>
                            <input type="text" class="mat-input">
                        </div>
                        <mat-divider></mat-divider>
                        
                        <div class="m-10">
                            <label for="">Gateway Dashboard Payment Description</label>
                            <textarea name="" id="" cols="30" rows="10" class="mat-input" placeholder="Payment for invoice {invoice_number}"></textarea>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="m-10">
                            <label for="">Statement Descriptor (shown in customer bank statement)</label>
                            <textarea name="" id="" cols="30" rows="10" class="mat-input" placeholder="Payment for invoice {invoice_number}"></textarea>
                            <p class="fs-12 fw-normal m-0">Statement descriptors are limited to 22 characters, cannot use the special characters <, >, ', ", or *, and must not consist solely of numbers.</p>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="m-10">
                            <label for="">Currencies (coma seperated)</label>
                            <input type="text" class="mat-input" placeholder="EUR">
                        </div>
                       
                        <div class="m-10">
                            
                            <label for="">Selected by default on invoice</label>
                            <mat-radio-group aria-label="Select an option" class="radio-btns">
                                <mat-radio-button class="m-r-15" value="">Yes</mat-radio-button>
                                <mat-radio-button value="">No</mat-radio-button>
                               
                            </mat-radio-group>

                        </div>
                        

                    </div>
                </mat-tab>

                <mat-tab label="2Checkout" class="rounded ">
                    <div class="form m-10">
                        <div class="m-10">
                            <div class="checkout-para-div">
                                <p class="checkout-para">The IPN Endpoint for 2Checkout is (https://perfexcrm.com/demo/gateways/two_checkout/webhook)</p>
                            </div>
                            <label for="">Active</label>
                            <mat-radio-group aria-label="Select an option" class="radio-btns">
                                <mat-radio-button class="m-r-15" value="">Yes</mat-radio-button>
                                <mat-radio-button value="">No</mat-radio-button>
                               
                            </mat-radio-group>
                        </div>
                        <div class="m-10">
                            <label for="">Label</label>
                            <input type="text" class="mat-input" placeholder="2Checkout">
                        </div>
                        <mat-divider></mat-divider>
                        <div class="m-10">
                            <label for="">Fixed Fee</label>
                            <input type="text" class="mat-input" placeholder="0">
                        </div>
                        
                        <mat-divider></mat-divider>
                        <div class="m-10">
                            <label for="">Percentage Fee</label>
                            <input type="text" class="mat-input" placeholder="0">
                        </div>
                        <mat-divider></mat-divider>
                        <div class="m-10">
                            <label for="">Merchant code</label>
                            <input type="text" class="mat-input">
                        </div>
                        <mat-divider></mat-divider>
                        <div class="m-10">
                            <label for="">Secret Code</label>
                            <input type="text" class="mat-input" >
                        </div>
                        
                        <mat-divider></mat-divider>
                        
                        <div class="m-10">
                            <label for="">Gateway Dashboard Payment Description</label>
                            <textarea name="" id="" cols="30" rows="10" class="mat-input" placeholder="Payment for invoice {invoice_number}"></textarea>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="m-10">
                            <label for="">Currencies (coma seperated)</label>
                            <input type="text" class="mat-input" placeholder="USD,EUR,GBP">
                        </div>
                       
                        <div class="m-10">
                            <label for="">Enable Test Mode</label>
                            <mat-radio-group aria-label="Select an option" class="radio-btns">
                                <mat-radio-button class="m-r-15" value="">Yes</mat-radio-button>
                                <mat-radio-button value="">No</mat-radio-button>
                               
                            </mat-radio-group>
                            <label for="">Selected by default on invoice</label>
                            <mat-radio-group aria-label="Select an option" class="radio-btns">
                                <mat-radio-button class="m-r-15" value="">Yes</mat-radio-button>
                                <mat-radio-button value="">No</mat-radio-button>
                               
                            </mat-radio-group>

                        </div>
                        

                    </div>
                </mat-tab>

            </mat-tab-group>
        </mat-tab>
    </mat-tab-group>
    <mat-divider class="m-t-20 m-b-10"></mat-divider>
    <div class="m-l-15 "><button mat-raised-button color="primary">Save Setting</button></div>
</div>