<div class="px-10 form">
    <!-- Upper Section -->
    <div class="d-flex jc-sb align-items-center ">
        <h3 class="f-w-5">1</h3>
        <button routerLink="/market-place/deal/edit-deal" mat-raised-button color="primary" >
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16"><path fill="currentColor" d="M15.49 7.3h-1.16v6.35H1.67V3.28H8V2H1.67A1.21 1.21 0 0 0 .5 3.28v10.37a1.21 1.21 0 0 0 1.17 1.25h12.66a1.21 1.21 0 0 0 1.17-1.25z"/><path fill="currentColor" d="M10.56 2.87L6.22 7.22l-.44.44l-.08.08l-1.52 3.16a1.08 1.08 0 0 0 1.45 1.45l3.14-1.53l.53-.53l.43-.43l4.34-4.36l.45-.44l.25-.25a2.18 2.18 0 0 0 0-3.08a2.17 2.17 0 0 0-1.53-.63a2.19 2.19 0 0 0-1.54.63l-.7.69l-.45.44zM5.51 11l1.18-2.43l1.25 1.26zm2-3.36l3.9-3.91l1.3 1.31L8.85 9zm5.68-5.31a.91.91 0 0 1 .65.27a.93.93 0 0 1 0 1.31l-.25.24l-1.3-1.3l.25-.25a.88.88 0 0 1 .69-.25z"/></svg>
            </span>
            Edit Details</button>
    </div>'
    <mat-divider></mat-divider>

    <div class="d-flex jc-c px-10">
        <div class="d-flex flex-wrap jc-sb gap-5r text-sm f-w-5">
            <!-- Grid -->
<div class="grid">
        <span>Title :</span>
        <span>1</span>
       
       
        <span>Status :</span>
        <span><button mat-raised-button class="bg-litegreen border-1-txt-green">Open</button></span>

       
        <span>Deal value  :</span>
        <span>12.00</span>

       
        <span>Close Date : :</span>
        <span>2024-01-27</span>

       
        <span>Pipeline :</span>
        <span>Sales</span>
       
       
        <span>Assigne :</span>
        <span class="d-flex flex-wrap gap-1 align-items-center">
            <img src="../../.././../assets/images/user.png" alt="">
            <img src="../../.././../assets/images/user.png" alt="">
            <img src="../../.././../assets/images/user.png" alt="">
            <img src="../../.././../assets/images/user.png" alt="">
            <span class="text-blue">
                <svg xmlns="http://www.w3.org/2000/svg" class="text-md" width="1em" height="1em" viewBox="0 0 256 256"><path fill="currentColor" d="M128 26a102 102 0 1 0 102 102A102.12 102.12 0 0 0 128 26m0 192a90 90 0 1 1 90-90a90.1 90.1 0 0 1-90 90m46-90a6 6 0 0 1-6 6h-34v34a6 6 0 0 1-12 0v-34H88a6 6 0 0 1 0-12h34V88a6 6 0 0 1 12 0v34h34a6 6 0 0 1 6 6"/></svg>
            </span>
        </span>



</div>

<div class="grid">
         
    <span>Deal Owner  :</span>
    <span>jenil patel</span>

   
    <span>Source  :</span>
    <span></span>

   
    <span>create Date : :</span>
    <span>2024-01-20 19:24:12</span>

   
    <span>Stage :</span>
    <span>Proposal Made</span>
</div>

        </div>
      
    </div>
</div>

<mat-divider></mat-divider>
<div class="d-flex m-t-5 gap-1 px-10 py-10">
    <button mat-raised-button color="warn">Cancel</button>
    <button mat-raised-button class="bg-success">Save</button>
</div>