.form {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 0.8rem;
    padding: 1rem;
}

.text-dark {
    font-weight: 500;
    margin-left: 2rem;
}

.form-input-label {
    font-size: 14px;
    font-weight: 500;
}

/* .calendar-input-field {
    display: flex;
    height: fit-content !important;
    width: 100% !important;
} */
.text-area {
    height: 6rem !important;
    border: 1px solid gray;
    font-size: 16px;
}

label {
    font-weight: 500;
    font-size: 14px;
}

.form-field {
    width: 100% !important;
    height: fit-content;
    margin: 0.5rem 0;
}

.date {
    width: 2.5rem;
    border-right: 1px solid gray;
    height: 2.2rem;
}

.select_in {
    display: flex !important;
    align-items: center;
}

.in-form-row {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100% !important;
}

.form-row {
    width: 100% !important;
    display: flex !important;
    flex-direction: row;
    gap: 3rem !important;
}

::ng-deep .mat-mdc-form-field-infix {
    padding: 0px 1rem !important;
    display: flex;
    align-items: center;
    min-height: 2rem !important;
}



::ng-deep .mat-mdc-select-panel {
    padding: 0 0.5rem !important;
}

::ng-deep .in-form-row .mat-mdc-select-arrow svg {
    width: 40px !important;
    height: 40px !important;
}



.d-flex {
    flex-wrap: wrap;
}

.action-btn {
    height: 2rem;
}

.danger {
    background-color: red;
    border-radius: 0.2rem;
    height: 2rem;
}

.w-payment {
    width: 20rem;
}

.bg-green {
    background-color: #22C55E;
    color: white;
}

@media (max-width: 700px) {
    .form-row {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
}

.f-w-5{
    font-weight: 500;

}
.header{
    background-color: #f6f6f6;
    /* padding: 0 1rem; */
}
mat-icon{
    color:red;
}
.text-grey{
    color: #808080;
}
.flex-no-wrap{
    flex-wrap: nowrap !important;
}
.px-5{
    padding-inline: 5px;
   }
