<div class="p-10">
    <div>
        <mat-label class="form-input-label">Invoice Color</mat-label>
        <div class="color-coder">
            <input type="color" value="#ff6f00">
            <p class="border-left">#ff6f00</p>
        </div>
    </div>
    <div>
        <mat-label class="form-input-label">Estimate Color</mat-label>
        <div class="color-coder">
            <input type="color" value="#ff6f00">
            <p class="border-left">#ff6f00</p>
        </div>
    </div>
    <div>
        <mat-label class="form-input-label">Proposal Color</mat-label>
        <div class="color-coder">
            <input type="color" value="#84c529">
            <p class="border-left">#84c529</p>
        </div>
    </div>
    <div>
        <mat-label class="form-input-label">Reminder Color</mat-label>
        <div class="color-coder">
            <input type="color" value="#03a9f4">
            <p class="border-left">#03a9f4</p>
        </div>
    </div>
    <div>
        <mat-label class="form-input-label">Contract Color</mat-label>
        <div class="color-coder">
            <input type="color" value="#b72974">
            <p class="border-left">#b72974</p>
        </div>
    </div>
    <div>
        <mat-label class="form-input-label">Project Color</mat-label>
        <div class="color-coder">
            <input type="color" value="#b72974">
            <p class="border-left">#b72974</p>
        </div>
    </div>

</div>