<div class="form m-b-15">
    <div class="links">

        <a routerLink="/setting/general-setting/general" routerLinkActive="Active">General</a>
        <a routerLink="/setting/general-setting/app-company-information" routerLinkActive="Active">Company Information</a>
        <a routerLink="/setting/general-setting/app-email-smip-queue" routerLinkActive="Active">Email</a>
        <a routerLink="/setting/general-setting/finance-stepper" routerLinkActive="Active">Finance</a>
        <a routerLink="/setting/general-setting/app-subscriptions" routerLinkActive="Active">Subscriptions</a>
        <a routerLink="/setting/general-setting/payment-gateways-stepper" routerLinkActive="Active">Payment Gateways</a>
        <a routerLink="/setting/general-setting/customers" routerLinkActive="Active">Customers</a>
        <a routerLink="/setting/general-setting/tasks" routerLinkActive="Active">Tasks</a>
        <a routerLink="/setting/general-setting/support" routerLinkActive="Active">Support</a>
        <a routerLink="/setting/general-setting/leads" routerLinkActive="Active">Leads</a>
        <a routerLink="/setting/general-setting/sms" routerLinkActive="Active">SMS</a>
        <a routerLink="/setting/general-setting/calendars" routerLinkActive="Active">Calendar</a>
        <a routerLink="/setting/pdf" routerLinkActive="Active">PDF</a>
        <a routerLink="/setting/general-setting/e-sign" routerLinkActive="Active"> E-Sign</a>
        <a routerLink="/setting/general-setting/Tags" routerLinkActive="Active"> Tags</a>
        <a routerLink="/setting/general-setting/Pusher-dot-com" routerLinkActive="Active">Pusher.com</a>
        <a routerLink="/setting/general-setting/google" routerLinkActive="Active">Google</a>
        <a routerLink="/setting/general-setting/Misc" routerLinkActive="Active">Misc</a>
        <a routerLink="/h/reminder" routerLinkActive="Active">Custom Field</a>
        <a routerLink="/h/map" routerLinkActive="Active">Export Customer Details</a>
    </div>

</div>