<div class="main-container boxed space">
    <h1 class="text-dark">Promotion</h1>
    <div class="form">
        <p class="fs-16 m-l-10 fw-medium">Send Mail</p>
        <mat-divider class="m-b-20"></mat-divider>
        <label for=""><span class="text-danger">*</span>Subject</label>
        <input type="text" class="mat-input" placeholder="Enter Subject">
        <div class="dual-field">

            <div class="dual-form">
                <label class="dual-label"><span class="text-danger">*</span>Sent To</label>
                <input type="text" class="mat-input" placeholder="All">
            </div>

            <div class="dual-form">
                <label class="dual-label"><span class="text-danger">*</span>Greeting</label>
                <input type="text" class="mat-input" placeholder="Enter Greeting">
            </div>


        </div>
        <label for=""><span class="text-danger">*</span>Body</label>
        <h1>ck editor</h1>
    </div>
    <mat-divider class="m-t-20 m-b-10"></mat-divider>

    <div class="m-l-5 ">
        <button mat-raised-button class="m-r-10">Reset</button>
        <button mat-raised-button color="primary">Send</button>
    </div>
</div>
