.text-area, .mat-mdc-form-field-textarea-control {
    height: 6rem !important;
    overflow: hidden !important;
    resize: none !important;
    width: 100%;
}
.text-bg-blue{
    font-size: 14px;
    font-weight: 400;
    color:  blue;
    background-color: rgb(182, 205, 212);
    padding: 12px;
}