.selected-form-field {
  display: flex;
  position: relative;
  align-items: center;
}
.icon-add {
  height: 1.9rem !important;
  width: 2.2rem !important;
  position: absolute;
  left: 0.7rem;
  border-right: 0.1rem solid gray;
  background-color: white !important;
  padding-top: 0.3rem;
  text-align: center;
  color: #505050;
  background-color: gray;
}
.mat-input {
  margin: 0.6rem;
}
.down-arrow {
  position: absolute;
  right: 1.5rem;
  top: 1.1rem;
}

.email-form-field {
  display: flex;
}
@media (max-width: 768px) {
  .email-form-field {
    display: flex;
    flex-direction: column;
  }
}

mat-radio-button{
    margin-right: 1rem;
}

.blueclr{
color: rgb(9, 155, 204);
}

.circle-buttons{
    display: flex;
    flex-direction: column;
}

.circle-buttons mat-radio-group {
    display: flex;
    flex-direction: column;
}
.icon-help {
    font-size: 1rem ;
    height: 0.9rem ;
    width: 1.2rem ;
    margin-right: 5px;
}