<div class="p-10">

    <div class="d-flex jc-sb align-items-center heading-column ">
        <div class="heading-top">
            <h1 class="text-dark"></h1>
        </div>
        <div class="button-width"><button routerLink="/setting/click-span-filter"
                class="mdc-button mdc-button--raised mat-mdc-raised-button mat-primary mat-mdc-button-base"
                mat-raised-button color="primary"><mat-icon>add</mat-icon>Span Filters </button>
        </div>
    </div>
    <mat-checkbox checked="true" class="example-margin" color="primary">Active</mat-checkbox>
    <div class="email-form-field">
        <div class="w-full">
            <div>
                <mat-label class="form-input-label"><span class="text-danger">*</span> IMAP Server</mat-label>
                <input type="text" class="mat-input">
            </div>

            <div>
                <mat-label class="form-input-label"><span class="text-danger">*</span> Email address (Login)</mat-label>
                <input type="text" class="mat-input">
            </div>
            <div>
                <mat-label class="form-input-label"><span class="text-danger">*</span> Password</mat-label>
                <input type="text" class="mat-input">
            </div>

        </div>
        <div class="w-full">
            <div>
                <mat-label class="form-input-label"><span class="text-danger">*</span> Default Status</mat-label>
                <div class="selected-form-field">
                    <mat-icon class="icon-add">add</mat-icon>
                    <select name="" id="" class="mat-input">
                        <option value="">abc</option>
                    </select>
                    <span class="down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                            viewBox="0 0 15 15">
                            <path fill="#808080" d="M7.5 12L0 4h15z" />
                        </svg></span>
                </div>
            </div>
            <div>
                <mat-label class="form-input-label"><span class="text-danger">*</span> Default Source</mat-label>
                <div class="selected-form-field">
                    <mat-icon class="icon-add">add</mat-icon>
                    <select name="" id="" class="mat-input">
                        <option value="">abc</option>
                    </select>
                    <span class="down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                            viewBox="0 0 15 15">
                            <path fill="#808080" d="M7.5 12L0 4h15z" />
                        </svg></span>
                </div>
            </div>
            <div>
                <mat-label class="form-input-label"><span class="text-danger">*</span> Responsible for new
                    lead</mat-label>
                <div class="selected-form-field">
                    <!-- <mat-icon class="icon-add">add</mat-icon> -->
                    <select name="" id="" class="mat-input">
                        <option value=""></option>
                    </select>
                    <span class="down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                            viewBox="0 0 15 15">
                            <path fill="#808080" d="M7.5 12L0 4h15z" />
                        </svg></span>
                </div>
            </div>
        </div>
    </div>

    <!-- radio button -->
    <div class="email-form-field">
        <div class="w-full">
            <mat-label class="form-input-label"> Encryption</mat-label>
            <div>
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="">TLC </mat-radio-button>
                    <mat-radio-button value="">SSL </mat-radio-button>
                    <mat-radio-button value="">No Encryption</mat-radio-button>
                </mat-radio-group>
            </div>
            <div>
                <mat-label class="form-input-label"><span class="text-danger">*</span> Folder <span
                        class="blueclr">Retrieve
                        Folders</span></mat-label>
                <div class="selected-form-field">
                    <select name="" id="" class="mat-input">
                        <option value=""></option>
                    </select>
                    <span class="down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                            viewBox="0 0 15 15">
                            <path fill="#808080" d="M7.5 12L0 4h15z" />
                        </svg></span>
                </div>
                <div>
                    <mat-label class="form-input-label"><span class="text-danger">*</span> Check Every
                        (minutes)</mat-label>
                    <input type="text" class="mat-input">
                </div>
            </div>
        </div>
        <div class="w-full">
            <mat-divider></mat-divider>
            <mat-label class="form-input-label"> Notification settings</mat-label>
            <div class="d-flex align-items-center">
                <mat-checkbox checked="true" class="example-margin" color="primary"></mat-checkbox>
                <p class="info-p">Notify when lead imported </p>
            </div>
            <div class="d-flex align-items-center">
                <mat-checkbox checked="true" class="example-margin" color="primary"></mat-checkbox>
                <p class="info-p">Notify if lead send email multiple times </p>
            </div>
            <mat-divider></mat-divider>
            <div class=" circle-buttons">
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="">Staff members with roles</mat-radio-button>
                    <mat-radio-button value=""> Specific Staff Members </mat-radio-button>
                    <mat-radio-button value=""> Responsible person</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>

    </div>
    <!-- radio button close -->

    <div>

        <div class="d-flex align-items-center">
            <mat-checkbox checked="true" class="example-margin" color="primary"></mat-checkbox><mat-icon
                class="icon-help">help</mat-icon>
            <p class="info-p">Only check non opened emails </p>
        </div>
        <div class="d-flex align-items-center">
            <mat-checkbox checked="true" class="example-margin" color="primary"></mat-checkbox><mat-icon
                class="icon-help">help</mat-icon>
            <p class="info-p"> Create task if email sender is already customer and assign to responsible staff member.
            </p>
        </div>
        <div class="d-flex align-items-center">
            <mat-checkbox checked="true" class="example-margin" color="primary"></mat-checkbox>
            <p class="info-p">Delete mail after import?</p>
        </div>
        <div class="d-flex align-items-center">
            <mat-checkbox checked="true" class="example-margin" color="primary"></mat-checkbox>
            <p class="info-p">Auto mark as public</p>
        </div>
    </div>
</div>