<div class="main-container boxed space main-div">
    <div class="d-flex jc-sb align-items-center heading-column ">
        <div class="heading-top">
            <h1 class="text-dark">Tasks</h1>
        </div>

        <div class="button-width search-plus-filter">
            <div class="dropdown" rounded tabindex="1">
                <i class="db2" tabindex="1"></i>
                <a class="dropbtn d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="0.9em" height="0.9em" viewBox="0 0 36 36">
                        <path fill="white"
                            d="M22 33V19.5L33.47 8A1.81 1.81 0 0 0 34 6.7V5a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1.67a1.79 1.79 0 0 0 .53 1.27L14 19.58v10.2Z"
                            class="clr-i-solid clr-i-solid-path-1" />
                        <path fill="white"
                            d="M33.48 4h-31a.52.52 0 0 0-.48.52v1.72a1.33 1.33 0 0 0 .39.95l12 12v10l7.25 3.61V19.17l12-12a1.35 1.35 0 0 0 .36-.91V4.52a.52.52 0 0 0-.52-.52"
                            class="clr-i-solid clr-i-solid-path-1" />
                        <path fill="none" d="M0 0h36v36H0z" />
                    </svg>&nbsp;Filter&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="0.6em" height="0.6em"
                        viewBox="0 0 1024 1024">
                        <path fill="white"
                            d="M104.704 338.752a64 64 0 0 1 90.496 0l316.8 316.8l316.8-316.8a64 64 0 0 1 90.496 90.496L557.248 791.296a64 64 0 0 1-90.496 0L104.704 429.248a64 64 0 0 1 0-90.496" />
                    </svg>
                </a>
                <div class="dropdown-content">
                    <mat-checkbox class="example-margin" color="primary">Company</mat-checkbox>
                    <mat-checkbox class="example-margin" color="primary">primary contact</mat-checkbox>
                    <mat-checkbox class="example-margin" color="primary">primary Email</mat-checkbox>
                    <mat-checkbox class="example-margin" color="primary">Phone</mat-checkbox>
                    <mat-checkbox class="example-margin" color="primary">Active</mat-checkbox>
                    <mat-checkbox class="example-margin" color="primary">Groups</mat-checkbox>
                    <mat-checkbox class="example-margin" color="primary">Date Created</mat-checkbox>
                </div>
            </div>

        </div>
    </div>


    <div class="form">


        <div class="grid-div">

            <div>
                <mat-label class="form-input-label">Staff </mat-label>
                <div class="mt2">
                    <mat-form-field appearance="outline" class="form-field">
                        <mat-select class="select_in" placeholder="All Staff Members">
                            <mat-option value="Draft">All Staff Members</mat-option>
                            <mat-option value="Draft">Draft</mat-option>
                            <mat-option value="Draft">Draft</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div>
                <mat-label class="form-input-label">Status </mat-label>
                <div class="mt2">
                    <mat-form-field appearance="outline" class="form-field">
                        <mat-select class="select_in" placeholder="All">
                            <mat-option value="Draft">All</mat-option>
                            <mat-option value="Draft">Draft</mat-option>
                            <mat-option value="Draft">Draft</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div>
                <mat-label class="form-input-label">Tags </mat-label>
                <div class="mt2">
                    <mat-form-field appearance="outline" class="form-field">
                        <mat-select class="select_in" placeholder="All">
                            <mat-option value="Draft">All</mat-option>
                            <mat-option value="Draft">Draft</mat-option>
                            <mat-option value="Draft">Draft</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div>
                <mat-label class="form-input-label">Related To </mat-label>
                <div class="mt2">
                    <mat-form-field appearance="outline" class="form-field">
                        <mat-select class="select_in" placeholder="Customer">
                            <mat-option value="Draft">Customer</mat-option>
                            <mat-option value="Draft">Draft</mat-option>
                            <mat-option value="Draft">Draft</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div>
                <mat-label class="form-input-label">Customer </mat-label>
                <div class="mt2">
                    <mat-form-field appearance="outline" class="form-field">
                        <mat-select class="select_in" placeholder="Select and begin typing">
                            <mat-option value="Draft">Select and begin typing</mat-option>
                            <mat-option value="Draft">Draft</mat-option>
                            <mat-option value="Draft">Draft</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div>
                <mat-label class="form-input-label">Groups </mat-label>
                <div class="mt2">
                    <mat-form-field appearance="outline" class="form-field">
                        <mat-select class="select_in" placeholder="Nothing Selected">
                            <mat-option value="Draft">Nothing Selected</mat-option>
                            <mat-option value="Draft">Draft</mat-option>
                            <mat-option value="Draft">Draft</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

        </div>


        <div class="select-radio-button">

            <mat-radio-group aria-label="Select an option" class="radio-btns bg-white">
                <mat-radio-button checked="" class="m-r-5 text-blue">Save as Filter Template (Add Filter Name
                    Here)</mat-radio-button>
            </mat-radio-group>

        </div>

        <mat-divider></mat-divider>

        <div class="button-width search-plus-filter">
            <button mat-raised-button color="primary">Apply</button>
            <button mat-raised-button class="bg-close">Close</button>

        </div>
        <div class="button-width search-plus-filter">
            <!-- <button mat-raised-button color="primary" (click)="edit()">New Task Bookmark</button>
            <button mat-raised-button class="bg-close" (click)="add()">Update Task Bookmark</button> -->

        </div>


    </div>


    <div class="form">




        <div class="main-container">
            <div class="container form" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"
                fxLayoutAlign="center">
                <div fxFlex="20%" *ngFor="let i of [1]">
                    <mat-card>
                        <mat-calendar [selected]="selectedDate" (selectedChange)="onSelect($event)"></mat-calendar>
                    </mat-card>
                </div>
            </div>
        </div>


    </div>



</div>