<div class="main-container boxed space ">

    <div class="d-flex jc-sb flex-wrap align-items-center">
        <div>
            <h1 class="text-dark">Users & Roles</h1>
        </div>
        <div class="d-flex gap-1">
            <button mat-raised-button color="primary" (click)="customfield()" >Custom Fields Usage: 0/103</button>
            <button mat-raised-button color="primary"  (click)="inviteuser()">+ New Custom Field</button>
        </div>
    </div>

    <div class="form" >
        <!-- TAble DIv -->
        <div class="table-div">
            <table>
                <tr>
                    <th>SNo.</th>
                    <th>Field Name</th>
                    <th>Data Type</th>
                    <th>MANDATORY</th>
                    <th>Show in All PDFS</th>
                    <th>Status</th>
                </tr>
            <tr>
                <td class="text-center text-secondary" colspan="6">Do you have information that doesn't go under any existing field? Go ahead and create a custom field.</td>
            </tr>
               
            </table>
        </div>
    </div>
    

</div>