<div class="rounded">
    <div class="d-flex jc-sb p-10 bg-light align-items-center">
        <div class="d-flex align-items-center">
            <span class="fw-medium fs-16">Mapping</span>
        </div>
        <svg class="close-btn" mat-dialog-close="true" xmlns="http://www.w3.org/2000/svg" width="1.6em" height="1.6em"
            viewBox="0 0 32 32">
            <path fill="#f70202"
                d="M16 2C8.2 2 2 8.2 2 16s6.2 14 14 14s14-6.2 14-14S23.8 2 16 2m5.4 21L16 17.6L10.6 23L9 21.4l5.4-5.4L9 10.6L10.6 9l5.4 5.4L21.4 9l1.6 1.6l-5.4 5.4l5.4 5.4z" />
        </svg>
    </div>
    <div class="p-10">
        <div class="bg-light d-flex flex-wrap gap-2 fw-medium p-5 fs-14 p-l-10">
            <div class="map">Number</div>
            <div class="text-primary">INV-002227</div>
        </div>
        <div class="d-flex flex-wrap gap-2 fw-medium p-5 fs-14 p-l-10">
            <div class="map">Date</div>
            <div class="">2024-02-28</div>
        </div>
        <div class="bg-light d-flex flex-wrap gap-2 fw-medium p-5 fs-14 p-l-10">
            <div class="map">Due Date</div>
            <div class="">2024-03-01</div>
        </div>
        <div class="d-flex flex-wrap gap-2 fw-medium p-5 fs-14 p-l-10">
            <div class="map">Customer</div>
            <div class="">00</div>
        </div>
        <div class="bg-light d-flex flex-wrap gap-2 fw-medium p-5 fs-14 p-l-10">
            <div class="map">Total</div>
            <div>R200.00</div>
        </div>
        <div class="fw-medium fs-14 m-t-10">List of items</div>
    </div>
    <div class="form">
        <div>
            <span class="bg-light rounded p-5 fs-14 fw-medium">NUECES MIXTAS</span>
        </div>
        <div class="d-flex flex wrap gap-1 p-10">
            <div class="w-full">
                <mat-label class="form-input-label">Payment account</mat-label>
                <mat-form-field appearance="outline" class="m-t-10">
                    <mat-select placeholder="Nothing selected">
                        <mat-option value="Nothing selected">Nothing selected</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        <div class="w-full">
            <mat-label class="form-input-label">Deposit to</mat-label>
            <mat-form-field appearance="outline" class="m-t-10">
                <mat-select placeholder="Accounts Receivable (A/R) Contas a Receber ...">
                    <mat-option value="Accounts Receivable (A/R) Contas a Receber ...">Accounts Receivable (A/R) Contas a Receber ...</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>
    <div class="form">
        <div>
            <span class="bg-light rounded p-5 fw-medium fs-14">Shipping</span>
        </div>
        <div class="d-flex flex wrap gap-1 p-10">
            <div class="w-full">
                <mat-label class="form-input-label">Payment account</mat-label>
                <mat-form-field appearance="outline" class="m-t-10">
                    <mat-select placeholder="Nothing selected">
                        <mat-option value="Nothing selected">Nothing selected</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        <div class="w-full">
            <mat-label class="form-input-label">Deposit to</mat-label>
            <mat-form-field appearance="outline" class="m-t-10">
                <mat-select placeholder="Accounts Receivable (A/R) Contas a Receber ...">
                    <mat-option value="Accounts Receivable (A/R) Contas a Receber ...">Accounts Receivable (A/R) Contas a Receber ...</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>
 
    <mat-divider></mat-divider>
    <div class="d-flex gap-1 p-10">
        <button mat-dialog-close="true"
            class="bg-close"
            mat-raised-button color="primary">Close</button>
        <button mat-dialog-close="true"
            class="bg-success"
            mat-raised-button> Save</button>


    </div>

</div>