
<div class="mt-2r my-1r">
<div class="table-div shadow form ">
    <table class="table-full">
        <tr>
            <th>SNo.</th>
            <th>Name</th>
            <th>Status</th>
            <th>Start Date</th>
            <th>Due Date</th>
            <th>Tags</th>
            <th>Priority</th>
                     
            
        </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
    
</div>
</div>
<mat-divider></mat-divider>
<div class="m-20">
    <button mat-raised-button color="primary">Updates</button>
</div>