<div class="container">
    <div class="lineContainer">
        <div class="dotLine">
        <img src="../../../../assets/images/Leads/blueDot.png" alt="">
        <span>|</span>
        <span>|</span>
        <span>|</span>
        <span>|</span>
        <span>|</span>
    </div>
    <div class="dotLine">
        <img src="../../../../assets/images/Leads/blueDot.png" alt="">
        <span>|</span>
        <span>|</span>
        <span>|</span>
        <span>|</span>
        <span>|</span>
    </div>
    <div class="dotLine">
        <img src="../../../../assets/images/Leads/blueDot.png" alt="">
       
    </div>
    </div>

    <div class="capsuleContainer">
        <div class="capsule d-flex">

            <div class="image">
                <img src="../../../../assets/images/Leads/cartoonBoy.png" alt="">
            </div>
            <div class="f-col">
                <p>Emiliano Batz - created lead</p>
                <p>3 HRS AGO</p>
            </div>

        </div>

        <div class="capsule d-flex">

            <div class="image">
                <img src="../../../../assets/images/Leads/cartoonBoy.png" alt="">
            </div>
            <div class="f-col">
                <p>Emiliano Batz - created lead</p>
                <p>3 HRS AGO</p>
            </div>

        </div>

        <div class="capsule d-flex">

            <div class="image">
                <img src="../../../../assets/images/Leads/cartoonBoy.png" alt="">
            </div>
            <div class="f-col">
                <p>Emiliano Batz - created lead</p>
                <p>3 HRS AGO</p>
            </div>

        </div>
    </div>
</div>
<div class="mx-8 ">

<textarea name="" id="" cols="0" rows="10" class="mat-input text-area" placeholder="Enter Activity"></textarea>



</div>
<div class="mx-20 py-10"> <button mat-raised-button class="bg-green">Save</button>
</div>