<div class="main-container boxed space">
    <div class="d-flex jc-sb align-items-center heading-column">
        <div class="heading-top">
            <h1 class="text-dark">Vault</h1>
        </div>
        <div class="button-width"><button (click)="openDialog()" mat-raised-button color="primary"><mat-icon>add</mat-icon>New Vault Entry</button>
            
        </div>
    </div>
    <app-customer-headings></app-customer-headings>

    <div class="form">
        <div class="info">
            <p class="info-p">Vault entries not found for this customer.</p>
        </div>

        

       

        
    </div>
</div>




