<div>
    <div class="text-div" >
        <p class="text-yellow" >SSL is required if you re using the Authorize.Net AIM payment API. Authorize.net only supports 1 currency per
            account. Make sure you add only 1 currency associated
            with your Authorize account in the currencies field.</p>
        <p> If you are enabling test mode, make sure to set test credentials from
            <span class="text-blue" >https://sandbox.authorize.net</span>
        </p>
        <p> Currently supported currencies: USD, CAD, CHF, DKK, EUR, GBP, NOK, PLN, SEK, AUD, NZD</p>
    </div>
    <div class="">
        <mat-label class="form-input-label" class="form-input-label">Active</mat-label>
        <div>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="">Yes </mat-radio-button>
                <mat-radio-button value="">No </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>

    <div>
        <mat-label class="form-input-label">label </mat-label>
        <div class="selected-form-field">
            <input type="text" class="mat-input" placeholder="Authorize.net Accept.js">
        </div>
    </div>
    <hr class="m-t-10 ">
    <div>
        <mat-label class="form-input-label">Public Key </mat-label>
        <div class="selected-form-field">
            <input type="text" class="mat-input" placeholder="">
        </div>
    </div>
    <hr class="m-t-10 ">
    <div>
        <mat-label class="form-input-label">API Login ID </mat-label>
        <div class="selected-form-field">
            <input type="text" class="mat-input" placeholder="">
        </div>
    </div>
    <hr class="m-t-10 ">
    <div>
        <mat-label class="form-input-label">API Transaction ID </mat-label>
        <div class="selected-form-field">
            <input type="text" class="mat-input" placeholder="">
        </div>
    </div>
    <hr class="m-t-10 ">
    <div>
        <mat-label class="form-input-label"  >Predefined Client Note</mat-label>
        <textarea name="" id="" cols="20" rows="20"
            class="mat-input text-area">Payment for invoice {invoice_number}</textarea>
    </div>
    <hr class="m-t-10 ">
    <div>
        <mat-label class="form-input-label">Currency </mat-label>
        <div class="selected-form-field">
            <input type="text" class="mat-input" placeholder="USD">
        </div>
    </div>
    
    <div class="">
        <mat-label class="form-input-label" class="form-input-label">Enable Test Mode</mat-label>
        <div>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="">Yes </mat-radio-button>
                <mat-radio-button value="">No </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>

    <div class="">
        <mat-label class="form-input-label" class="form-input-label">Selected by default on invoice</mat-label>
        <div>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="">Yes </mat-radio-button>
                <mat-radio-button value="">No </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
</div>












