<div class="main-container boxed space manuf-tab">
    <div class="d-flex align-items-center m-b-10">
        <div>
            <h1 class="text-dark text-primary m-0 m-r-5">Recruitment</h1>
        </div>

    </div>

    <div class="form">
        <div class="grid grid-cols">
            <mat-card class="first rounded">
                <mat-card-header class="d-flex gap-1 ">
                    <img mat-card-image src="/assets/images/Group 31.png" class="dashboard-icon">
                    <div>
                        <p class="fw-medium fs-18 m-0">TOTAL CAMPAIGN</p>
                    </div>
                </mat-card-header>

                <mat-card-content class="content fw-medium">
                    <div class="m-10 text-primary-1 fs-14">38</div>
                    <div class="m-10">
                        <span class="Normal-text">Normal</span>
                    </div>

                </mat-card-content>
            </mat-card>



            <mat-card class="secound rounded">
                <mat-card-header class="d-flex gap-1 ">
                    <img mat-card-image src="/assets/images/Group 33.png" class="dashboard-icon">
                    <div>
                        <p class="fw-medium fs-18 m-0">CAMPAIGNS IN
                            PROGRESS</p>
                    </div>

                </mat-card-header>

                <mat-card-content class="content fw-medium">
                    <div class="d-flex fs-14 m-10">
                        <span class="text-primary-1">98 </span>
                        <span class="text-primary-1-small">bpm</span>
                    </div>
                    <div class="m-10">
                        <span class="Normal-text-2">Normal</span>
                    </div>
                </mat-card-content>
            </mat-card>



            <mat-card class="third rounded">
                <mat-card-header class="d-flex gap-1 ">
                    <img mat-card-image src="assets/images/Group 35.png" class="dashboard-icon">
                    <div>
                        <p class="fw-medium fs-18 m-0">PLANNED
                            CAMPAIGNS</p>
                    </div>
                </mat-card-header>

                <mat-card-content class="content fw-medium">
                    <div class="d-flex fs-14 m-10 ">
                        <span class="text-primary-1">102 </span>
                        <span class="text-primary-1-small">/ 72 mmhg</span>
                    </div>
                    <div class="m-10">
                        <span class="Normal-text-3">Normal</span>
                    </div>
                </mat-card-content>
            </mat-card>


            <mat-card class="fourth rounded">
                <mat-card-header class="d-flex gap-1 ">
                    <img mat-card-image src="/assets/images/Group 35.png" class="dashboard-icon">
                    <div>
                        <p class="fw-medium fs-18 m-0">COMPLETED CAMPAIGNS
                        </p>
                    </div>
                </mat-card-header>

                <mat-card-content class="content fw-medium">
                    <div class="d-flex fs-14 m-10 ">
                        <span class="text-primary-1">102 </span>
                        <span class="text-primary-1-small">/ 72 mmhg</span>
                    </div>

                    <div class="m-10">
                        <span class="Normal-text-4">Normal</span>
                    </div>
                </mat-card-content>
            </mat-card>

        </div>
    </div>
</div>