<div class="form m-b-15">
    <div class="links">
        <a routerLink="/purchase/vendor-items-multipletabs" routerLinkActive="Active">Profile</a>
        <a routerLink="/purchase/vendor-items-contacts" routerLinkActive="Active">Contacts</a>
        <a routerLink="/purchase/vendor-items-Quotations" routerLinkActive="Active" >Quotations</a>
        <a routerLink="/purchase/vendor-items-contracts" routerLinkActive="Active">Contracts</a>
        <a routerLink="/purchase/vendor-items-purchaseorder" routerLinkActive="Active">Purchase Order</a>
        <a routerLink="/purchase/vendor-items-purchaseinvoice" routerLinkActive="Active">Purchase Invoice</a>
        <a routerLink="/purchase/vendor-items-debitnotes" routerLinkActive="Active">Debit Notes</a>
        <a routerLink="/purchase/vendor-items-purchasestatments" routerLinkActive="Active">Purchase Statement</a>
        <a routerLink="/purchase/vendor-items-payments" routerLinkActive="Active">Payments</a>
        <a routerLink="/purchase/vendor-items-Expenses" routerLinkActive="Active">Expenses</a>
        <a routerLink="/purchase/vendor-items-Note" routerLinkActive="Active">Note</a>
        <a routerLink="/purchase/vendor-items-attachmentsfiles" routerLinkActive="Active">Attachments Files</a>


</div>
