<div class="main-container boxed">
    <h1 class="text-dark m-b-15">Theme Builder</h1>

    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="tab-group ">

        <mat-tab label="Setting" class="rounded ">
            <div class="form">
                <p class="fs-16 m-l-10 fw-medium">Upload Theme</p>
                <mat-divider class="m-b-20"></mat-divider>
                <div class="m-10">
                    <p class="fw-medium">Upload Theme<mat-icon
                        class="icon-help">help</mat-icon></p>
                    <img class="attachment-logo" src="assets/images/attachment.png" alt="">
                </div>
            </div>
            <div class="form">
                Available Theme
            </div>
        </mat-tab>
        <mat-tab label="Builder" class="rounded ">
        </mat-tab>
    </mat-tab-group>
    <mat-divider class="m-t-20 m-b-10"></mat-divider>
    <div class="m-l-5 "><button mat-raised-button class="bg-success">Save Changes</button></div>
</div>
