<div class="main-container boxed space ">
    <div class="d-flex jc-sb align-items-center heading-column ">
        <div class="heading-top">
            <h1 class="text-dark">Misc</h1>
        </div>
        <div class="button-width"></div>
    </div>
    <app-general-setting-headings></app-general-setting-headings>

    <div class=" ">

        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="tab-group div-2">
            <!-- General  -->
            <mat-tab class="rounded ">
                <ng-template mat-tab-label class="d-flex align-items-center">
                    <span class="m-l-5">Misc</span>
                </ng-template>
                <app-misc-misc></app-misc-misc>
            </mat-tab>

            <!-- Branding  -->
            <mat-tab class="rounded ">
                <ng-template mat-tab-label class="d-flex align-items-center">

                    <span class="m-l-5"> Tables</span>
                </ng-template>
                <app-misc-tables></app-misc-tables>
            </mat-tab>

            <!-- Submission -->
            <mat-tab class="rounded ">
                <ng-template mat-tab-label class="d-flex align-items-center">

                    <span class="m-l-5">Inline Create</span>
                </ng-template>
                <app-misc-inline-create></app-misc-inline-create>
            </mat-tab>
        </mat-tab-group>
    </div>

    <div class="d-flex gap-1 p-10">
        <button mat-dialog-close="true"
            class=" mdc-button mdc-button--raised mat-mdc-raised-button mat-unthemed mat-mdc-button-base "
            mat-raised-button color="warn">Cancel</button>
        <button mat-dialog-close="true"
            class="bg-success"
            mat-raised-button> Save</button>

    </div>

</div>