p {
    margin: 0px;
    padding: -0px;
}
.search-bar {
    position: relative;
  }
  
  .icon-search {
    position: absolute;
    top: 5px;
    left: 1px;
  }
  
  @media (max-width: 767px) {
    /* heading and button */
  
    .source-sercha .mat-mdc-raised-button:not(:disabled) {
      width: 30% !important;
    }
    .button-width {
      width: 100%;
      /* margin-bottom: 0.5rem; */
    }
  
    .heading-top {
      width: 100%;
      text-align: left;
    }
  
    .icon-bar {
      flex-direction: column;
      gap: 10px;
    }
  
    .search-bar {
      display: flex;
    }
  
    /* .search-div {
          flex-direction: column;
          gap: 10px;
      } */
  
    .action-btn-gap {
      justify-content: center !important;
      /* width: none !important; */
    }
  }
  
  .delete-with-text{
    font-size: 10px !important;
  }

  .line-div {
    display: flex;
    align-items: center;
    gap: -1;
    width: 100%;
}

.arrow-icon {
    color: #0163D2;
    font-size: 8px;
    width: fit-content;
    height: 100% !important;
    transform: rotate(45deg);
}

.text-primary {
    color: #0163D2;
}

.line {
    width: 100%;
    background-color: #0163D2;
    height: 1px;
}

.gap-1 {
    gap: 1rem
}

::ng-deep .manuf-tab .mat-mdc-tab-labels {
    flex-wrap: wrap !important;
}

/* ::ng-deep .manuf-tab .mdc-tab {
    margin: 5px !important;
} */

::ng-deep .manuf-tab .mat-mdc-tab-body-wrapper {
    box-shadow: unset !important;
}

