<div class="">
    <div class="header">
        <p class="heading">Account Summary</p>
        <mat-icon mat-dialog-close="true">cancel</mat-icon>
    </div>

<div class="caution">
    <p class="red-notice">Failed to auto select customer contacts. Make sure that the customer has active contacts and associated contacts with email notifications for Invoices enabled.</p>
</div>

    <mat-divider class="divider-bottom"></mat-divider>
    
    <label>Email To</label>
    <div class="selected-form-field">
        <select name="" id="" class="mat-input">
            <option value="">Nothing Selected</option>
        </select>
        <span class="down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 15 15"><path fill="#808080" d="M7.5 12L0 4h15z"/></svg></span>
    </div>

    <label>CC</label>
    <input type="text" class="mat-input">



    <mat-divider class="divider-bottom"></mat-divider>
    <div>
        <p class="preview-email">Preview Email Template</p>
    </div>
    <mat-divider class="divider-bottom"></mat-divider>

    <editor
   [init]="{
     height: 500,
     menubar: false,
     plugins: [
       'advlist autolink lists link image charmap print preview anchor',
       'searchreplace visualblocks code fullscreen',
       'insertdatetime media table paste code help wordcount'
     ],
     toolbar:
       'undo redo | formatselect | bold italic backcolor | \
       alignleft aligncenter alignright alignjustify | \
       bullist numlist outdent indent | removeformat | help'
   }"
 ></editor>


    <div><button mat-raised-button class="bg-success">Save</button>
        <button mat-raised-button class="m-r-10" color="warn">Cancel</button>
        
</div>


