<div class="p-10" >
    <div class="img-and-inputs">
        <div class="w-full m-r-20  " >
            <div class="" >
                <mat-label class="form-input-label"><span class="text-danger">*</span>Name</mat-label>
                <input type="text" class="mat-input">
            </div>
            <div>
                <mat-label class="form-input-label"> Email Address</mat-label>
                <input type="text" class="mat-input">
            </div>
            <div>
                <mat-label class="form-input-label"> Phone</mat-label>
                <input type="text" class="mat-input">
            </div>
        </div>
    <div class="imagee-lable">
        <mat-label class="form-input-label">Attech Image</mat-label>
        <div class="file-border  m-t-10">
            <div class="m-b-20 full">
                <label for="file" class="file"> Choose File</label>
                <input type="file" name="" id="file" class="hidden">
            </div>
        </div>
    </div>
    
</div>


<div>
    <mat-label class="form-input-label">Address</mat-label>

    <textarea name="" id="" cols="30" rows="5" class="mat-input text-area"></textarea>

    <div>
        <mat-label class="form-input-label">Website</mat-label>
        <input type="text" class="mat-input">
    </div>
    <div>
        <mat-label class="form-input-label"> Company</mat-label>
        <input type="text" class="mat-input">
    </div>
    <div>
        <mat-label class="form-input-label"> City</mat-label>
        <input type="text" class="mat-input">
    </div>
    <div>
        <mat-label class="form-input-label"> State</mat-label>
        <input type="text" class="mat-input">
    </div>
    <div>
        <mat-label class="form-input-label"> Zip Code</mat-label>
        <input type="text" class="mat-input">
    </div>
    <div>
        <mat-label class="form-input-label"> Company</mat-label>
        <input type="text" class="mat-input">
    </div>

    <mat-label class="form-input-label">Description</mat-label>

    <textarea name="" id="" cols="30" rows="5" class="mat-input text-area"></textarea>
</div>






</div>