<div class="p-10">

    <div>
        <mat-label class="form-input-label"><span class="text-danger">*</span> Form Name</mat-label>
        <input type="text" class="mat-input">
    </div>
    <div class="m-l-10">
        <mat-label class="form-input-label"> Use Google Recaptcha</mat-label>
        <div>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="">Yes </mat-radio-button>
                <mat-radio-button value="">No </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>


    <div>
        <mat-label class="form-input-label"><span class="text-danger">*</span> Language</mat-label>
        <div class="selected-form-field">
            <!-- <mat-icon class="icon-add">add</mat-icon> -->
            <select name="" id="" class="mat-input">
                <option value="">English</option>
            </select>
            <span class="down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                    viewBox="0 0 15 15">
                    <path fill="#808080" d="M7.5 12L0 4h15z" />
                </svg></span>
        </div>
        <p class="input-bottom-text">For validation messages</p>
    </div>


    <div>
        <mat-label class="form-input-label"><span class="text-danger">*</span> Lead title prefix</mat-label>
        <div class="selected-form-field">
            <input type="text" class="mat-input">
        </div>
        <p class="input-bottom-text">For each newly created lead via the form, the lead name will be prefixed with the text added in the field for easier recognition.</p>
    </div>


    <div>
        <mat-label class="form-input-label"><span class="text-danger">*</span> Source</mat-label>
        <div class="selected-form-field">
            <mat-icon class="icon-add">add</mat-icon>
            <select name="" id="" class="mat-input">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div>
        <mat-label class="form-input-label"><span class="text-danger">*</span> Status</mat-label>
        <div class="selected-form-field">
            <mat-icon class="icon-add">add</mat-icon>
            <select name="" id="" class="mat-input">
                <option value=""></option>
            </select>
        </div>
    </div>

    <div>
        <mat-label class="form-input-label"><span class="text-danger">*</span>  Responsible (Assignee)</mat-label>
        <div class="selected-form-field">
            <!-- <mat-icon class="icon-add">add</mat-icon> -->
            <select name="" id="" class="mat-input">
                <option value="">Nothing selected</option>
            </select>
            <span class="down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                    viewBox="0 0 15 15">
                    <path fill="#808080" d="M7.5 12L0 4h15z" />
                </svg></span>
        </div>
    </div>

   
</div>