<div class="p-10">

    <div>
        <mat-label class="form-input-label"> PDF Font</mat-label>
        <div class="selected-form-field">
            <select name="" id="" class="mat-input">
                <option value="">Freesans</option>
            </select>
            <span class="down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                    viewBox="0 0 15 15">
                    <path fill="#808080" d="M7.5 12L0 4h15z" />
                </svg></span>
        </div>
    </div>
    <hr class="m-t-15 m-b-10">
    <div class="">
        <mat-label class="form-input-label">Swap Company/Customer Details (company details to right side, customer
            details to left side)</mat-label>
        <div>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="">Yes </mat-radio-button>
                <mat-radio-button value="">No </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <hr class="m-t-5 m-b-10">
    <div>
        <mat-label class="form-input-label">Default font size</mat-label>
        <div class="selected-form-field">
            <input type="text" class="mat-input" placeholder="10">
        </div>
    </div>
    <hr class="m-t-15 m-b-10">

    <div>
        <mat-label class="form-input-label">Default font size</mat-label>
        <div class="color-coder">
            <input type="color" value="#323a45">
            <p class="border-left">#323a45</p>
        </div>
    </div>
    <hr class="m-t-15 m-b-10">

    <div>
        <mat-label class="form-input-label">Items table heading text color</mat-label>
        <div class="color-coder">
            <input type="color" value="#fffffff">
            <p class="border-left">#fffffff</p>
        </div>
    </div>
    <hr class="m-t-15 m-b-10">
    <div>
        <mat-label class="form-input-label">Custom PDF Company Logo URL</mat-label>
        <div class="selected-form-field">
            <input type="text" class="mat-input" placeholder="https://perfexcrm.com/demo/pdflogo.jpg">
        </div>
    </div>
    <hr class="m-t-15 m-b-10">
    <div>
        <mat-label class="form-input-label">Logo Width (PX)</mat-label>
        <div class="selected-form-field">
            <input type="text" class="mat-input" placeholder="150">
        </div>
    </div>
    <hr class="m-t-15 m-b-10">
    <div class="">
        <mat-label class="form-input-label">Show Invoice/Estimate/Credit Note status on PDF documents</mat-label>
        <div>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="">Yes </mat-radio-button>
                <mat-radio-button value="">No </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <hr class="m-t-5 m-b-10">
    <div class="">
        <mat-label class="form-input-label">Show Pay Invoice link to PDF (Not applied if invoice status is Cancelled)</mat-label>
        <div>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="">Yes </mat-radio-button>
                <mat-radio-button value="">No </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <hr class="m-t-5 m-b-10">
    <div class="">
        <mat-label class="form-input-label">Show invoice payments (transactions) on PDF</mat-label>
        <div>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="">Yes </mat-radio-button>
                <mat-radio-button value="">No </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <hr class="m-t-5 m-b-10">
    <div class="">
        <mat-label class="form-input-label">Show page number on PDF</mat-label>
        <div>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="">Yes </mat-radio-button>
                <mat-radio-button value="">No </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>






</div>