<div class="header d-flex jc-sb align-items-center ">
    <p class="heading">
         Message</p>
    <mat-icon mat-dialog-close="true">cancel</mat-icon>
</div>


<div class="main-container boxed space">
 

    <div class="m-b-10">
        <mat-label class="form-input-label"> Message</mat-label>
        <div class="calendar-input-field">
            <mat-form-field appearance="outline" class="form-field">
                <input matInput class="input" placeholder="">
            </mat-form-field>
        </div>
    </div>
    
    <mat-divider></mat-divider>

   <div class="d-flex gap-2">
    <button mat-raised-button color="warn">Cancle</button>
    <button mat-raised-button class="bg-success">Save</button>
</div>
   
</div>


