<div class="d-flex gap-2 padding">
    <div>
        <div class="d-flex align-items-center">
            <p class="m-r-5 fw-medium fs-14">Attach Receipt </p>

        </div>
        <div class="border-dotted p-10">
            <div class="inner-dotted">
                <div class="full">
                    <img src="../../../assets/images/attachfileimage.png" alt="">
                    <!-- <div class="file">Choose File</div> -->
                    <label for="file1" class="file">Choose File</label>
                    <input type="file" id="file1">
                </div>
            </div>
        </div>
    </div>

</div>