<div class="form">
    <div class="upper d-flex no-wrap jc-sb px-5">

        <div class="d-flex align-items-center gap-1">

            <img src="assets/images/Group 1000007613.png" alt="">
            <img src="assets/images/Group 1000007612.png" alt="">
            <img src="assets/images/Group 340683.png" alt="">

        </div>

        <div class="btn">
            <button mat-raised-button color="primary" >Back To Send</button>
        </div>
    </div>
    <mat-divider></mat-divider>

    <div class="mid mt-6 px-20">
        <div class="bg-liteBlue rounded-3r px-20 d-flex w-80p  jc-sb align-items-center">

            <div class="">
                <span>Hello dear</span>
                <div class="detail d-flex align-items-center gap-5">
                    <img class="profile-image" src="../../../../../assets/images/user.png" alt="">
                    <div class="names">
                        <p>Ding</p>
                        <p>To : jayshevien@gmail.com</p>
                    </div>
                </div>
            </div>
            <!-- Date Time -->
            <div class="">
                <span>04/03/2024 3:25 PM (a week ago)</span>
            </div>

            <div class="icons d-flex gap-5">
                <span class="iconBtn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                        <path fill="currentColor" fill-rule="evenodd"
                            d="M10 2a1 1 0 0 0-1.79-.614l-7 9a1 1 0 0 0 0 1.228l7 9A1 1 0 0 0 10 20v-3.99c5.379.112 7.963 1.133 9.261 2.243c1.234 1.055 1.46 2.296 1.695 3.596l.061.335a1 1 0 0 0 1.981-.122c.171-2.748-.086-6.73-2.027-10.061C19.087 8.768 15.695 6.282 10 6.022z"
                            clip-rule="evenodd" />
                    </svg>
                </span>

                <span class="iconBtn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.13em" height="1em" viewBox="0 0 1792 1600">
                        <path fill="currentColor"
                            d="M1792 576q0 26-19 45l-512 512q-19 19-45 19t-45-19t-19-45V832H928q-98 0-175.5 6t-154 21.5t-133 42.5T360 971.5t-80 101t-48.5 138.5t-17.5 181q0 55 5 123q0 6 2.5 23.5t2.5 26.5q0 15-8.5 25t-23.5 10q-16 0-28-17q-7-9-13-22t-13.5-30t-10.5-24Q0 1222 0 1056q0-199 53-333q162-403 875-403h224V64q0-26 19-45t45-19t45 19l512 512q19 19 19 45" />
                    </svg>
                </span>
            </div>

        </div>

    </div>

    <mat-divider></mat-divider>

    <div class="mt-6 mb-6">
        <span>just testing lead email</span>
    </div>
</div>