<div>

    <div class="">
        <mat-label class="form-input-label" class="form-input-label">Active</mat-label>
        <div>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="">Yes </mat-radio-button>
                <mat-radio-button value="">No </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>

    <div>
        <mat-label class="form-input-label">label </mat-label>
        <div class="selected-form-field">
            <input type="text" class="mat-input" placeholder="Stripe iDEAL">
        </div>
    </div>
    <hr class="m-t-10 ">
    <div>
        <mat-label class="form-input-label">Strip API Secret Key</mat-label>
        <div class="selected-form-field">
            <input type="text" class="mat-input" placeholder="">
        </div>
    </div>
    <hr class="m-t-10 ">
    <div>
        <mat-label class="form-input-label">Strip Publishable Key </mat-label>
        <div class="selected-form-field">
            <input type="text" class="mat-input" placeholder="">
        </div>
    </div>
   
    <hr class="m-t-10 ">
    <div>
        <mat-label class="form-input-label">Gateway Dashboard Payment Description</mat-label>
        <textarea name="" id="" cols="20" rows="20"
            class="mat-input text-area">Payment for invoice {invoice_number}</textarea>
    </div>
    <hr class="m-t-10 ">
    <div>
        <mat-label class="form-input-label">Statement Descriptor (shown in customer bank statement)</mat-label>
        <textarea name="" id="" cols="20" rows="20"
            class="mat-input text-area">Payment for invoice {invoice_number}</textarea>
            <p class="input-bottom-text" >Statement descriptors are limited to 22 characters, cannot use the special characters <, >, ', ", or *, and must not consist solely of numbers.</p>
    </div>
    <hr class="m-t-10 ">
    <div>
        <mat-label class="form-input-label">Currencies (coma separated)</mat-label>
        <div class="selected-form-field">
            <input type="text" class="mat-input" placeholder="EUR">
        </div>
    </div> 

    <div class="">
        <mat-label class="form-input-label" class="form-input-label">Selected by default on invoice</mat-label>
        <div>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="">Yes </mat-radio-button>
                <mat-radio-button value="">No </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
</div>