
                           <!-- CK EDITOR Start -->

                           <div class="ckeditorpart px-10 py-5">
                            <div class="labeldiv">
                                <mat-label class="text-sm f-w-5">Call Summary<span class="text-danger">*</span></mat-label>
                            </div>
                            <ckeditor [editor]="Editor" data="  ">
                            </ckeditor>
                        </div>
    
                        <!-- CK EDITOR Ends -->

                        <mat-divider></mat-divider>
                       <div class="m-20">

                        <button mat-raised-button color="primary">Updates</button>
    
                       </div>