<div class="header d-flex jc-sb align-items-center ">
    <p class="heading1">
         Message</p>
    <mat-icon mat-dialog-close="true">cancel</mat-icon>
</div>

<div class="container">
    <div class="lineContainer">
        <div class="dotLine">
        <img src="assets/Leads/blueDot.png" alt="">
        <span>|</span>
        <span>|</span>
        <span>|</span>
    </div>
        <div class="dotLine">
        <img src="assets/Leads/blueDot.png" alt="">
        <span>|</span>
        <span>|</span>
        <span>|</span>
    </div>
        <div class="dotLine">
        <img src="assets/Leads/blueDot.png" alt="">
        <span>|</span>
        <span>|</span>
        <span>|</span>
    </div>
        <div class="dotLine">
        <img src="assets/Leads/blueDot.png" alt="">
        <span>|</span>
        <span>|</span>
        <span>|</span>
    </div>

    <div class="dotLine">
        <img src="assets/Leads/blueDot.png" alt="">
       
    </div>
    </div>

    <div class="capsuleContainer">
        <div class="capsule  bg-blue d-flex res-mx-auto">

          
            <div class="flex-col res-jc flex-col">
                <p class="pb-0 heading font-md">REMARKS</p>
                <div class="d-flex jc-sb align-items-center res-col gap-5">
                <div class=" res-col  d-flex ">
           
            <div class="f-col">
                <p>A WEEK AGO</p>
            </div>
        </div>
        <p> sddb3d </p>

</div>
        </div>

        </div>
        <div class="capsule  bg-blue d-flex res-mx-auto">

          
            <div class="flex-col res-jc flex-col">
                <p class="pb-0 heading font-md">REMARKS</p>
                <div class="d-flex jc-sb align-items-center res-col gap-5">
                <div class=" res-col  d-flex ">
           
            <div class="f-col">
                <p>A WEEK AGO</p>
            </div>
        </div>
        <p> sddb3d </p>

</div>
        </div>

        </div>
        <div class="capsule  bg-blue d-flex res-mx-auto">

          
            <div class="flex-col res-jc flex-col">
                <p class="pb-0 heading font-md">REMARKS</p>
                <div class="d-flex jc-sb align-items-center res-col gap-5">
                <div class=" res-col  d-flex ">
           
            <div class="f-col">
                <p>A WEEK AGO</p>
            </div>
        </div>
        <p> sddb3d n sn sd dsfsfff dfj njfnj </p>

</div>
        </div>

        </div>
        <div class="capsule  bg-blue d-flex res-mx-auto">

          
            <div class="flex-col res-jc flex-col">
                <p class="pb-0 heading font-md">REMARKS</p>
                <div class="d-flex jc-sb align-items-center res-col gap-5">
                <div class=" res-col  d-flex ">
           
            <div class="f-col">
                <p>A WEEK AGO</p>
            </div>
        </div>
        <p> sddb3d </p>

</div>
        </div>

        </div>

        <div class="capsule  bg-blue d-flex res-mx-auto">

            <div class="flex-col res-jc flex-col">
                <p class="pb-0 heading font-md">REMARKS</p>
                <div class="d-flex jc-sb align-items-center res-col gap-5">
                <div class=" res-col  d-flex ">
           
            <div class="f-col">
                <p>A Week AGO</p>
            </div>
        </div>
        <p>b3d </p>

</div>
        </div>

        </div>


       
    </div>
</div>

