<div class="p-10">
    <div class="d-flex gap-1 align-items-center m-b-10">
        <div>
            <h1 class="text-dark  m-0">Form Info</h1>
        </div>
        <div class="line-div">
            <mat-icon class="arrow-icon">square</mat-icon>
            <p class="line "></p>
        </div>
    </div>
    <p>Form url: <span class="text-blue" (click)="ticketPopup()">https://perfexcrm.com/demo/forms/ticke </span> </p>
    <p>Form file location: <span class="text-red"> Hidden in demo</span> </p>

    <hr>

    <mat-label class="form-input-label">Embed form</mat-label>
    <p class="input-bottom-text">Copy & Paste the code anywhere in your site to show the form, additionally you can
        adjust the width and height px to fit for your website</p>
    <textarea class="text-area mat-input" name="" id="" cols="30" rows="10">
<iframe width="600" height="850" src="https://perfexcrm.com/demo/forms/ticket frameborder="0" allowfullscreen></iframe>
        </textarea>

    <mat-label class="form-input-label">Share direct link</mat-label>
    <p class="text-blue">https://perfexcrm.com/demo/forms/ticket?styled=1 </p>
    <p class="text-blue">https://perfexcrm.com/demo/forms/ticket?styled=1&with_logo=1</p>

    <hr>
    <mat-label class="form-input-label">When placing the iframe snippet code consider the following:</mat-label>
    <p class=""> 1. If the protocol of your installation is http use a http page inside the iframe. </p>
    <p class="text-green"> 2. If the protocol of your installation is https use a https page inside the iframe. </p>
    <p class=""> None SSL installation will need to place the link in non ssl eq. landing page and backwards
    </p>

    <hr>
    <mat-label class="form-input-label">Change form container column (Bootstrap)</mat-label>
    <p class="text-blue"> https://perfexcrm.com/demo/forms/ticket?col=col-md-8 </p>
    <p class="text-blue">https://perfexcrm.com/demo/forms/ticket?col=col-md-8+col-md-offset-2 </p>
    <p class="text-blue"> https://perfexcrm.com/demo/forms/ticket?col=col-md-5 </p>

    <hr>
    <mat-label class="form-input-label">Specifiy language</mat-label>
    <p class="text-blue"> https://perfexcrm.com/demo/forms/ticket?language=english </p>


</div>