<div class="subject-tab box-shadow bottom">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="tab-group div-2 box-shadow">
        <!-- --------------------------Compose-Email Div Start------------------------ -->
        <mat-tab label="Compose Email" class=" ">
            <app-lead-compose-email></app-lead-compose-email>
        </mat-tab>
        <!-- --------------------------Compose-Email Tab End------------------------ -->

        <!-- --------------------------Inbox Tab Start------------------------ -->
        <mat-tab label="Inbox">
            <app-lead-inbox></app-lead-inbox>
        </mat-tab>
        <!-- --------------------------Inbox Tab End------------------------ -->

        <!-- --------------------------Sent Tab Start------------------------ -->
        <mat-tab label="Sent">
            <app-lead-sent></app-lead-sent>
        </mat-tab>
        <!-- --------------------------Sent Tab End------------------------ -->

        <!-- --------------------------Draft Tab Start------------------------ -->
        <mat-tab label="Draft">
            <app-lead-draft></app-lead-draft>
        </mat-tab>
        <!-- --------------------------Draft Tab End------------------------ -->

        <!-- --------------------------Trash Tab Start------------------------ -->
        <mat-tab label="Trash">
            <app-lead-trash></app-lead-trash>
        </mat-tab>
        <!-- --------------------------Trash Tab End------------------------ -->

        <!-- --------------------------Settings Tab Start------------------------ -->
        <mat-tab label="Settings">
            <app-lead-settings></app-lead-settings>
        </mat-tab>
        <!-- --------------------------Settings Tab End------------------------ -->


    </mat-tab-group>
</div>