<div class="main-container boxed space">
    <h1 class="text-dark">Media</h1>
    <div class="form">
        <div class="d-flex jc-sb align-items-center small-screen">
            <div>
                <p class=" m-0 fs-16 m-l-10 fw-medium">Media Manager</p>
            </div>
            <div class="responsive-btn">
                <button (click)="openDialog()"  mat-raised-button color="primary"><mat-icon>add</mat-icon>Add Media</button>
            </div>
        </div>
        <mat-divider class="m-b-20"></mat-divider>
        <div class="m-10">
            <label for="">Search by file name</label>
            <input type="text" class="mat-input" placeholder="Enter Keyword">
        </div>
        <mat-divider class="m-b-20"></mat-divider>
    </div>
</div>
