.line-div {
    display: flex;
    align-items: center;
    gap: -1;
    width: 100%;
}

.arrow-icon {
    color: #0163D2;
    font-size: 8px;
    width: fit-content;
    height: 100% !important;
    transform: rotate(45deg);
}

.text-primary {
    color: #0163D2;
    width: max-content;
}

.line {
    width: 100%;
    background-color: #0163D2;
    height: 1px;
}

.date-picker .mat-mdc-form-field {
    width: 100% !important;
}
.border-primary{
    border: 1px solid #0163D2;
}
.search-bar {
    position: relative;
}

.search-div {
    gap: 5px;

}

.icon-search {
    position: absolute;
    top: 4px;
    left: 3px;
}

.grid {
    display: grid;
}

.gap-0 {
    gap: 0.5rem;
}

.grid-cols-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.mapped {
    color: #00C814;
    background-color: #CDFFD2;
    padding: 0.2rem 0.5rem;
    border: 1px solid #00C814;
    border-radius: 0.2rem;
    width: max-content;
}
.share{
    background-color: #00C814;
    padding: 0rem 0.2rem;
    width: max-content;
}
.not-mapped{
    color: #DE1F1F;
    background-color: #de1f1f38;
    padding: 0.2rem 0.5rem;
    border: 1px solid #DE1F1F;
    border-radius: 0.2rem;
    width: max-content;
}

@media (max-width: 1023px) {
    .grid-cols-4 {
        grid-template-columns: 1fr 1fr;
    }

}

@media (max-width: 767px) {

    .right-icon {
        flex-direction: column;
        width: 100%;
    }

    .icon-bar {
        flex-direction: column;
        gap: 10px;
    }

    .search-bar {
        display: flex;
    }

    .cards {
        justify-content: space-between;
    }
}

@media (max-width: 575px) {
    .grid-cols-4 {
        grid-template-columns: 1fr;
    }

}