
<div class="space">
    <div class="header d-flex jc-sb align-items-center">
        <p class="heading">Vault Entry</p>
        <mat-icon mat-dialog-close >cancel</mat-icon>
    </div>

    <div class="main-div">
        <label><span class="text-danger">*</span>Server Address</label>
    <input type="text" class="mat-input">

    <label>Port</label>
    <input type="text" class="mat-input">

    <label><span class="text-danger">*</span>Username</label>
    <input type="text" class="mat-input">

    <label><span class="text-danger">*</span>Password</label>
    <input type="text" class="mat-input">

    <label>Port</label>
    <textarea name="" id="" cols="30" rows="10" class="mat-input text-area"></textarea>







    <mat-divider  class="m-t-20"></mat-divider>
    <div>
        <mat-radio-group aria-label="Select an option" class="radio-btns">
            <mat-radio-button value="">Visible to all staff member who have access to this customer</mat-radio-button>
            <mat-radio-button value="">Visible only to administrators</mat-radio-button>
            <mat-radio-button value="">Visible only to me (administrators are not excluded)</mat-radio-button>
       </mat-radio-group>
    
    </div>
    <mat-divider class="m-t-10"></mat-divider>

    <mat-checkbox class="example-margin" color="primary">Share this vault entry in projects with project members</mat-checkbox>

    <mat-divider class=" m-b-10"></mat-divider>

    <div><button mat-raised-button class="bg-success">Save</button>
        <button mat-raised-button class="m-r-10" class="bg-close" mat-dialog-close="true" >Close</button></div>
    </div>

    
</div>





