<div class="m-t-5 p-15">
    <div class="d-flex jc-sb p-10">
        <div>
            <p class="text-primary fw-medium fs-24 m-0 mb-20">PRO-000003</p>
            <p class="fs-16 text-primary fw-normal m-0 mb-20">estes</p>
            <p class="fw-medium fs-16 m-0">Perfex INC</p>
            <p class="fw-4 m-0">172 Ivy Club Gottliebfurt <br> New Heaven <br> Canada [CA] 2364</p>
        </div>
        <div class="text-right right-area">
            <p class="fw-normal text-primary m-0">To:</p><br>
            <p class="fw-medium text-primary m-0">Goyette PLC</p>
            <p class="fw-normal  m-0 ">693 Swift Place Apt. <br> 545 South Delfinaland Virginia <br>GB
                38263-6959
            </p>
            <p class="fw-normal text-primary m-0 ">+1 (579)473-4375 <br> wjohnson@example.net</p>
        </div>
    </div>

</div>
<div class="b-all">
    <div class="text-right text-primary fw-normal p-15">Available merge fields</div>
</div>
<div class="text-area p-15">
    <textarea name="" id="" cols="30" rows="5" class="mat-input text-areas rounded"></textarea>
</div>