<div class="main-box">
    <div class="header d-flex jc-sb align-items-center">
        <p class="heading">1</p>
        <mat-icon mat-dialog-close="true">cancel</mat-icon>
    </div>
    <div class="description">
        <div class="bg-litePurple d-flex align-items-center gap-1_5r">
            <p class="m-0 fw-medium ">This action will convert deal to Invoice.if uncheck should not convert to Invoice</p>
            <span class="text-xl">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 56 56"><path fill="currentColor" d="M13.012 40.012c-.797.797-.82 2.156 0 2.976c.797.82 2.156.797 2.976 0l12-12.023l12.024 12.023c.797.797 2.156.82 2.953 0c.844-.82.82-2.18 0-2.976l-12-12.024l12-12c.82-.797.844-2.18 0-2.976c-.797-.82-2.156-.797-2.953 0L27.988 25.035l-12-12.023c-.82-.797-2.18-.82-2.976 0c-.82.797-.797 2.18 0 2.976l12 12Z"/></svg>
            </span>
        </div>

        <div class="d-flec js-fs">
            <mat-checkbox  color="primary">Create an invoice for win deal (1)</mat-checkbox>
        </div>
       
    </div>





    <mat-divider class="divider-bottom m-t-15 m-b-10"></mat-divider>

    <div class="d-flex align-items-center jc-c m-10"> <button mat-flat-button color="secondary"
            mat-dialog-close="true">close</button>
        <button mat-flat-button  class="m-l-15 bg-blue" mat-dialog-close="true">Won</button>
        <!-- <button mat-flat-button color="warn" class="m-l-15" mat-dialog-close="true">save</button> -->
    </div>
</div>