<div class="rounded">
    <div class="d-flex jc-sb p-10 bg-light align-items-center">
        <h1 class="fw-medium ">Edit custom field</h1>
        <button mat-raised-button routerLink="/leads/add-customfield" color="primary">+ New Customer Field </button>
    </div>
    <div class="p-20 form">
        <div class="inner-right">
            <mat-label class="form-input-label"> <span class="text-danger">*</span> Field Belongs to</mat-label>
            <div class="mt2">
                <mat-form-field appearance="outline" class="form-field">
                    <mat-select class="select_in" placeholder="Nothing Selected">
                        <mat-option value="1">1</mat-option>
                        <mat-option value="1">1</mat-option>
                        <mat-option value="1">1</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="">
            <mat-label class="form-input-label"> <span class="text-danger">*</span>Field Name</mat-label>
            <div class="calendar-input-field">
                <mat-form-field appearance="outline" class="form-field">
                    <input matInput class="input" placeholder="OC">
                </mat-form-field>
            </div>
        </div>

        <div class="inner-right">
            <mat-label class="form-input-label"> <span class="text-danger">*</span>Type</mat-label>
            <div class="mt2">
                <mat-form-field appearance="outline" class="form-field">
                    <mat-select class="select_in" placeholder="Nothing Selected">
                        <mat-option value="1">1</mat-option>
                        <mat-option value="1">1</mat-option>
                        <mat-option value="1">1</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>


        <div class="">
            <mat-label class="form-input-label">Default Value</mat-label>
            <div class="calendar-input-field">
                <mat-form-field appearance="outline" class="form-field">
                    <input matInput class="input" placeholder="">
                </mat-form-field>
            </div>
        </div>
        <div class="">
            <mat-label class="form-input-label">Order</mat-label>
            <div class="calendar-input-field">
                <mat-form-field appearance="outline" class="form-field">
                    <input matInput class="input" placeholder="">
                </mat-form-field>
            </div>
        </div>
        <div class="">
            <mat-label class="form-input-label"> <span class="text-danger">*</span>Grid (Bootstrap Column eq. 12) - Max
                is 12</mat-label>
            <div class="calendar-input-field">
                <mat-form-field appearance="outline" class="form-field">
                    <div id="smallDiv">
                        <p>col-md-</p>
                    </div>
                    <input matInput class="input" placeholder="12">
                </mat-form-field>
            </div>
        </div>

        <!-- CheckBoxes -->

        <div class="checkDiv">
            <div> <input type="checkbox"><span class="semi-bold">Disabled</span></div>
            <div> <input type="checkbox"><span class="semi-bold">Restrict visibility for administrators only</span>
            </div>
            <span class="semi-bold">visible</span>
            <div> <input type="checkbox"><span class="semi-bold">Disallow customer to edit this field</span></div>
            <div> <input type="checkbox"><span class="semi-bold">Required</span></div>
            <div> <input type="checkbox"><span class="semi-bold">Show on table</span></div>
            <div> <input type="checkbox"><span class="semi-bold"><span class="px-3">
                        <mat-icon matTooltip="Subject is also visible to customer" matTooltipPosition="above"
                            class="fs-2 error">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16">
                                <path fill="currentColor" fill-rule="evenodd"
                                    d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16M4.927 4.99c-.285.429-.427.853-.427 1.27c0 .203.09.392.27.566c.18.174.4.26.661.26c.443 0 .744-.248.903-.746c.168-.475.373-.835.616-1.08c.243-.244.62-.366 1.134-.366c.439 0 .797.12 1.075.363c.277.242.416.54.416.892a.97.97 0 0 1-.136.502a1.91 1.91 0 0 1-.336.419a14.35 14.35 0 0 1-.648.558c-.34.282-.611.525-.812.73c-.2.205-.362.443-.483.713c-.322 1.245 1.35 1.345 1.736.456c.047-.086.118-.18.213-.284c.096-.103.223-.223.382-.36a41.14 41.14 0 0 0 1.194-1.034c.221-.204.412-.448.573-.73a1.95 1.95 0 0 0 .242-.984c0-.475-.141-.915-.424-1.32c-.282-.406-.682-.726-1.2-.962c-.518-.235-1.115-.353-1.792-.353c-.728 0-1.365.14-1.911.423c-.546.282-.961.637-1.246 1.066Zm2.14 7.08a1 1 0 1 0 2 0a1 1 0 0 0-2 0"
                                    clip-rule="evenodd" />
                            </svg>
                        </mat-icon>
                    </span>Show on client portal</span>
            </div>


        </div>


    </div>

    <div class="d-flex gap-1 p-10 b-t">
        <button mat-dialog-close="true" mat-raised-button class="bg-close">Close</button>
        <button mat-dialog-close="true" mat-raised-button class="bg-success">Save</button>
    </div>
</div>