.space {
    /* padding: 1rem; */
    width: 60vw;
}

.header {
    background-color: #f6f6f6;
    padding: 0 1rem;
}


 
.heading {
    font-weight: 500;
    color: black;
}
.main-div{
    padding: 1rem;
}
label {
    font-size: small;
    color: black;
    margin: 0 !important;
    font-weight: 500 !important;
}
.img-upload{
    width:100%;
    margin-top: 0.8rem;
}