<div class="space">
    <div class="header d-flex jc-sb align-items-center">
        <p class="heading">Add Media</p>
        <mat-icon mat-dialog-close class="text-danger">cancel</mat-icon>
    </div>

    <div class="main-div m-10">
        <label for="">Upload Your File</label>
        <div class="img-upload">
            
            <img src="assets/images/attachment.png" alt="">
        </div>

        

        <div class="m-t-15">
            <label for="">Upload Youtube Video</label>
            <input type="text" class="mat-input">
        </div>
       
        

        



       
            
       
        <mat-divider class=" m-b-10"></mat-divider>

        <div>
            <button mat-raised-button mat-dialog-close="true" class="bg-close m-r-10">Close</button>
            <button mat-raised-button class="bg-success">Save</button>
        </div>
    </div>


</div>

