<div class="main-container boxed space">
    <h1 class="text-dark">Add New Expense</h1>

    <div class="form">
        <div class="main-div">
            <div class="profile-sec">
                <div class="special-input">
                    <label><mat-icon class="icon-help">help</mat-icon>Name</label>
                    <input type="text" class="mat-input">

                    <label><mat-icon class="icon-help">help</mat-icon>Note</label>
                    <textarea name="" id="" cols="30" rows="10" class="mat-input text-area"></textarea>

                </div>


                <div class="choosing">
                    <p class="profile-tag">Attach Receipt</p>
                    <img class="group-img" src="assets/images/Group.png" alt="">
                </div>
            </div>

            <label><span class="text-danger">*</span>Expense Category</label>
            <div class="selected-form-field">
                <mat-icon class="icon-add">add</mat-icon>
                <select name="" id="" class="mat-input">
                    <option value="">abc</option>
                </select>
                <span class="down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                        viewBox="0 0 15 15">
                        <path fill="#808080" d="M7.5 12L0 4h15z" />
                    </svg></span>
            </div>

            <label><span class="text-danger">*</span>Expense Date</label>
            <div class="selected-form-field">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon-add" width="1em" height="1em" viewBox="0 0 24 24">
                    <path fill="#808080"
                        d="M2 19c0 1.7 1.3 3 3 3h14c1.7 0 3-1.3 3-3v-8H2zM19 4h-2V3c0-.6-.4-1-1-1s-1 .4-1 1v1H9V3c0-.6-.4-1-1-1s-1 .4-1 1v1H5C3.3 4 2 5.3 2 7v2h20V7c0-1.7-1.3-3-3-3" />
                </svg>
                <input type="text" class="mat-input input-padding" placeholder="2024-02-03">

            </div>


            <label><span class="text-danger">*</span>Amount</label>
            <input type="text" class="mat-input">

            <div><mat-checkbox color="primary" class="checkbox">Billable</mat-checkbox></div>

            <label>Customer</label>
            <div class="selected-form-field">

                <select name="" id="" class="mat-input">
                    <option value="">abc</option>
                </select>
                <span class="down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                        viewBox="0 0 15 15">
                        <path fill="#808080" d="M7.5 12L0 4h15z" />
                    </svg></span>
            </div>

            <label>Project</label>
            <div class="selected-form-field">

                <select name="" id="" class="mat-input">
                    <option value="">abc</option>
                </select>
                <span class="down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                        viewBox="0 0 15 15">
                        <path fill="#808080" d="M7.5 12L0 4h15z" />
                    </svg></span>
            </div>





        </div>
    </div>
    <div class="form">
        <label><span class="text-danger">*</span>Currency</label>
        <div class="selected-form-field">

                <select name="" id="" class="mat-input">
                    <option value="">USD $</option>
                </select>
                <span class="down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                        viewBox="0 0 15 15">
                        <path fill="#808080" d="M7.5 12L0 4h15z" />
                    </svg></span>
        </div>

        <label class="text-danger">Tax 1</label>
        <div class="selected-form-field">

                <select name="" id="" class="mat-input">
                    <option value="">No tax</option>
                </select>
                <span class="down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                        viewBox="0 0 15 15">
                        <path fill="#808080" d="M7.5 12L0 4h15z" />
                    </svg></span>
        </div>

        <label class="text-danger">Tax 2</label>
        <div class="selected-form-field">

                <select name="" id="" class="mat-input">
                    <option value="">No tax</option>
                </select>
                <span class="down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                        viewBox="0 0 15 15">
                        <path fill="#808080" d="M7.5 12L0 4h15z" />
                    </svg></span>
        </div>

        <label class="text-danger">Payment Mode</label>
        <div class="selected-form-field">

                <select name="" id="" class="mat-input">
                    <option value="">Nothing selected</option>
                </select>
                <span class="down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                        viewBox="0 0 15 15">
                        <path fill="#808080" d="M7.5 12L0 4h15z" />
                    </svg></span>
        </div>

        <label class="text-danger">Reference #</label>
        <div class="selected-form-field">

                <select name="" id="" class="mat-input">
                    <option value=""></option>
                </select>
                <span class="down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                        viewBox="0 0 15 15">
                        <path fill="#808080" d="M7.5 12L0 4h15z" />
                    </svg></span>
        </div>

        <label class="text-danger">Repeat every</label>
        <div class="selected-form-field">

                <select name="" id="" class="mat-input">
                    <option value="">Nothing selected</option>
                </select>
                <span class="down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                        viewBox="0 0 15 15">
                        <path fill="#808080" d="M7.5 12L0 4h15z" />
                    </svg></span>
        </div>

    </div>
</div>