<!-- inputs div -->
<div class="p-10">

<p class="text" >cPanel forwarder path: <span class="text-red" >Hidden in demo</span></p>
<hr class="m-t-5 ">

    <div class="">
        <mat-label class="form-input-label">Pipe Only on Registered Users</mat-label>
        <div>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="">Yes </mat-radio-button>
                <mat-radio-button value="">No </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <hr class="m-t-5 ">
    <div class="">
        <mat-label class="form-input-label"> Only Replies Allowed by Email</mat-label>
        <div>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="">Yes </mat-radio-button>
                <mat-radio-button value="">No </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <hr class="m-t-5 ">
    <div class="">
        <mat-label class="form-input-label">Try to import only the actual ticket reply (without quoted/forwarded message)</mat-label>
        <div>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="">Yes </mat-radio-button>
                <mat-radio-button value="">No </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <hr class="m-b-10 m-t-10">
    <div>
        <mat-label class="form-input-label">Default priority on piped ticket        </mat-label>
        <div class="selected-form-field">
            <select name="" id="" class="mat-input">
                <option value="">Medium</option>
            </select>
            <span class="down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                    viewBox="0 0 15 15">
                    <path fill="#808080" d="M7.5 12L0 4h15z" />
                </svg></span>
        </div>
    </div>
   
<!-- inputs div -->