<div class="p-10">
    <div class="">
        <mat-label class="form-input-label" class="form-input-label"> Receive notification when customer pay invoice (built-in)</mat-label>
        <div>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="">Yes </mat-radio-button>
                <mat-radio-button value="">No </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <hr class="m-t-10 ">
    <div class="">
        <mat-label class="form-input-label" class="form-input-label">Allow customer to modify the amount to pay(for online payments)</mat-label>
        <div>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="">Yes </mat-radio-button>
                <mat-radio-button value="">No </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>

</div>