.date-picker .mat-mdc-form-field {
    width: 100% !important;
}

.search-bar {
    position: relative;
}

.search-div {
    gap: 5px;

}

.icon-search {
    position: absolute;
    top: 4px;
    left: 3px;
}

@media (max-width: 767px) {

    .right-icon {
        flex-direction: column;
        width: 100%;
    }

    .icon-bar {
        flex-direction: column;
        gap: 10px;
    }

    .search-bar {
        display: flex;
    }

    .cards {
        justify-content: space-between;
    }
}