<div class="main-container boxed space">
    <div>
    </div>
    <div class="subject-tab box-shadow">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="tab-group div-2 box-shadow">
            <!-- --------------------------Dashboard Div Start------------------------ -->
            <mat-tab label="Details" class=" ">
               <app-stepper-product></app-stepper-product>
               <app-stepper-details></app-stepper-details>
            </mat-tab>
            <!-- --------------------------Dashboard Tab End------------------------ -->

            <!-- --------------------------Meetings Settings Tab Start------------------------ -->
            <mat-tab label="Call">
                <app-stepper-product></app-stepper-product>
                <app-call></app-call>
            </mat-tab>
            <!-- --------------------------Meetings Settings Tab End------------------------ -->

            <!-- --------------------------Leads Settings Tab Start------------------------ -->
            <mat-tab label="Comments">
                <app-stepper-product></app-stepper-product>
                <app-comments></app-comments>
            </mat-tab>
            <!-- --------------------------Leads Settings Tab End------------------------ -->

            <!-- --------------------------SMS Settings Tab Start------------------------ -->
            <mat-tab label="Attachments">
                <app-stepper-product></app-stepper-product>
                <app-attachments></app-attachments>
            </mat-tab>
            <!-- --------------------------SMS Settings Tab End------------------------ -->
          
            <!-- --------------------------Mailbox Settings Tab Start------------------------ -->
            <mat-tab label="Notes">
                <app-stepper-product></app-stepper-product>
                <app-notes></app-notes>
            </mat-tab>
            <!-- --------------------------Mailbox Settings Tab End------------------------ -->
           
            <!-- --------------------------Mailbox Settings Tab Start------------------------ -->
            <mat-tab label="Tasks">
                <app-stepper-product></app-stepper-product>
                <app-tasks></app-tasks>
            </mat-tab>
            <!-- --------------------------Mailbox Settings Tab End------------------------ -->
           
            <!-- --------------------------Mailbox Settings Tab Start------------------------ -->
            <mat-tab label="Mettings">
                <app-stepper-product></app-stepper-product>
                <app-meetings></app-meetings>
            </mat-tab>
            <!-- --------------------------Mailbox Settings Tab End------------------------ -->
           
            <!-- --------------------------Mailbox Settings Tab Start------------------------ -->
            <mat-tab label="Email">
                <app-stepper-product></app-stepper-product>
                <app-email></app-email>
            </mat-tab>
            <!-- --------------------------Mailbox Settings Tab End------------------------ -->
           
            <!-- --------------------------Mailbox Settings Tab Start------------------------ -->
            <mat-tab label="Products">
                <app-stepper-product></app-stepper-product>
                <app-products></app-products>
            </mat-tab>
            <!-- --------------------------Mailbox Settings Tab End------------------------ -->
           
            <!-- --------------------------Mailbox Settings Tab Start------------------------ -->
            <mat-tab label="Activites">
                <app-stepper-product></app-stepper-product>
                <app-activities></app-activities>
            </mat-tab>
            <!-- --------------------------Mailbox Settings Tab End------------------------ -->


        </mat-tab-group>
    </div>
</div>