<div class="main-container boxed d-flex">
    <span class="">
        <img src="assets/images/Logo 3.png" alt="">
    </span>
    <div class="d-flex jc-c align-items-center height">
        <div>
           <p class="text-primary Hello text-center m-0">Hello Admin!</p>
           <h1 class="text-primary m-0 text-center">Welcome Back</h1>
           <mat-card>
            <mat-card-title class="d-flex jc-c align-items-center text-primary  m-0">Log In</mat-card-title>
            <mat-card-content>
                <form action="">
                    <div class="form-gruop">
                        <label>Email</label>
                        <input type="text" class="mat-input" placeholder="Enter your Email">
                    </div>
                    <div class="form-gruop">
                        <label>Password</label>
                        <input type="password" class="mat-input">
                    </div>
                    <button mat-raised-button color="primary" routerLink="/home">Log In</button>
                </form>
            </mat-card-content>
          </mat-card>
        </div>
    </div>
    <div class="visible-hidden">
        hkuutggligik
    </div>
</div>