<div class="main-container boxed space ">

    <div class="">
        <h1 class="text-dark">Add Branch</h1>
    </div>
    <div class="p-10">
        <div class="">
            <mat-label class="form-input-label text-danger">Branch Name *</mat-label>
            <div class="m-t-10">
                <mat-form-field appearance="outline" class="form-field">
                    <input matInput class="input" placeholder="Branch Name">
                </mat-form-field>
            </div>
        </div>
        <div class="m-t-10 gray">
            <mat-label class="form-input-label">Branch Address</mat-label>
            <div class="d-flex gap-1 m-t-10 flex-wrap">
                <div class="w-full">
                    <mat-form-field appearance="outline" class="form-field">
                        <input matInput class="input" placeholder="Street 1">
                    </mat-form-field>
                </div>
                <div class="w-full">
                    <mat-form-field appearance="outline" class="form-field">
                        <input matInput class="input" placeholder="Street 2">
                    </mat-form-field>
                </div>
            </div>
            <div class="d-flex gap-1 m-t-10 flex-wrap">
                <div class="w-full">
                    <mat-form-field appearance="outline" class="form-field">
                        <input matInput class="input" placeholder="City">
                    </mat-form-field>
                </div>
                <div class="w-full">
                    <mat-form-field appearance="outline" class="form-field">
                        <input matInput class="input" placeholder="ZIP /Postal Code">
                    </mat-form-field>
                </div>
                <div class="w-full">
                    <mat-form-field appearance="outline" class="">
                        <mat-select placeholder="State/Union Territo...">
                            <mat-option value="State/Union Territo...">State/Union Territo...</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="d-flex gap-1 m-t-10 flex-wrap">
                <div class="w-full">
                    <mat-form-field appearance="outline" class="form-field">
                        <input matInput class="input" placeholder="Phone">
                    </mat-form-field>
                </div>
                <div class="w-full">
                    <mat-form-field appearance="outline" class="form-field">
                        <input matInput class="input" placeholder="Fax Number">
                    </mat-form-field>
                </div>
                <div class="w-full">
                    <mat-form-field appearance="outline" class="form-field">
                        <input matInput class="input" placeholder="Website URL">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="d-flex gap-1 m-t-10 flex-wrap">
            <div class="w-full">
                <mat-label class="form-input-label text-danger">Primary Contact*</mat-label>
                <mat-form-field appearance="outline" class="m-t-10">
                    <mat-select placeholder="Sapna Prajapat des3.cerbosys@gmail.com">
                        <mat-option value="one">Sapna Prajapat des3.cerbosys@gmail.com</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="w-full">
                <mat-label class="form-input-label text-danger">GSTIN*</mat-label>
                <mat-form-field appearance="outline" class="m-t-10">
                    <mat-select placeholder="GSTIN">
                        <mat-option value="GSTIN">GSTIN</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="d-flex gap-1 m-t-10 flex-wrap">
            <div class="w-full">
                <mat-label class="form-input-label text-danger">Transaction Number Series*</mat-label>
                <mat-form-field appearance="outline" class="m-t-10">
                    <mat-select placeholder="Add Transaction Series">
                        <mat-option value="Add Transaction Series">Add Transaction Series</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="w-full">
                <mat-label class="form-input-label text-danger">Default Transaction Number Series*</mat-label>
                <mat-form-field appearance="outline" class="m-t-10">
                    <mat-select placeholder="Add Transaction Series">
                        <mat-option value="Add Transaction Series">Add Transaction Series</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
       <mat-divider></mat-divider>
        <div class="d-flex gap-1 m-t-10">
            <button mat-raised-button color="warn">Cancle</button>
            <button mat-raised-button class="bg-success">Save</button>
        </div>
    </div>
</div>