<div class="main-container boxed space ">

    <div class="">
        <div class="icon_and_heading">
            <h1 class="text-dark ">Manage subscriptions</h1>
        </div>
    </div>
    <div class="form">
        <div class=" d-flex gap-1 flex-wrap">
            <button routerLink="/setting/organization/profile" class="disactive">Profile</button>
            <button routerLink="/setting/organization/brand" class="disactive">Brand</button>
            <button routerLink="/setting/organization/branches" class="disactive">Branches</button>
            <button routerLink="/setting/organization/currencies" class="disactive">Currencies</button>
            <button routerLink="/setting/organization/manage-subscription" class="active word-nowrap">Manage Subscription</button>
        </div>
    </div>
</div>