<div class="header d-flex ">
    <p class="heading">Lead Follow up-Manage Schedule</p>
    <mat-icon mat-dialog-close="true">cancel</mat-icon>
</div>

<div class="main-container boxed space">



    <div class="grid-div">

        <div>
            <mat-label class="form-input-label">Schedule Name : </mat-label>
            <div class="calendar-input-field">
                <mat-form-field appearance="outline" class="form-field">
                    <input matInput class="select_in" placeholder="Dinesh" />
                </mat-form-field>
            </div>
        </div>

        <div>
            <mat-label class="form-input-label">Lead Status : </mat-label>
            <div class="calendar-input-field">
                <mat-form-field appearance="outline" class="form-field">
                    <input matInput class="select_in" placeholder="Lead status 1" />
                </mat-form-field>
            </div>
        </div>


        <div>
            <mat-label class="form-input-label">Lead Source : </mat-label>
            <div class="calendar-input-field">
                <mat-form-field appearance="outline" class="form-field">
                    <input matInput class="select_in" placeholder="ding" />
                </mat-form-field>
            </div>
        </div>


        <div>
            <mat-label class="form-input-label">Send To: </mat-label>
            <div class="calendar-input-field">
                <mat-form-field appearance="outline" class="form-field">
                    <input matInput class="select_in" placeholder="Leads" />
                </mat-form-field>
            </div>
        </div>


        <div>
            <mat-label class="form-input-label">SMS Text </mat-label>
            <div class="calendar-input-field">
                <mat-form-field appearance="outline" class="form-field">
                    <input matInput class="select_in" placeholder="Trest" />
                </mat-form-field>
            </div>
        </div>


        <div>
            <mat-label class="form-input-label">Auto send reminder after (days) : </mat-label>
            <div class="calendar-input-field">
                <mat-form-field appearance="outline" class="form-field">
                    <input matInput class="select_in" placeholder="1 Days" />
                </mat-form-field>
            </div>
        </div>


        <div>
            <mat-label class="form-input-label">Schedule Hour : </mat-label>
            <div class="calendar-input-field">
                <mat-form-field appearance="outline" class="form-field">
                    <input matInput class="select_in" placeholder="12 PM" />
                </mat-form-field>
            </div>
        </div>


        <div>
            <mat-label class="form-input-label">Created at : </mat-label>
            <div class="calendar-input-field">
                <mat-form-field appearance="outline" class="form-field">
                    <input matInput class="select_in" placeholder="13-03-2024 12:21 PM" />
                </mat-form-field>
            </div>
        </div>


        <div>
            <mat-label class="form-input-label">Created By : </mat-label>
            <div class="calendar-input-field">
                <div class="d-flex two-img-div">
                    <img src="assets/images/user.png" alt="" class="">
                    <img src="assets/images/user.png" alt="" class="">
                </div>
            </div>
        </div>


        <div>
            <mat-label class="form-input-label">Last Executed : </mat-label>
            <div class="calendar-input-field">
                <mat-form-field appearance="outline" class="form-field">
                    <input matInput class="select_in" placeholder="14-03-2024 12:05 PM" />
                </mat-form-field>
            </div>
        </div>


    </div>

    <mat-divider></mat-divider>

    <span class="med-24">Executed successfully for following Leads</span>
    <span class="med-20">No contacts found having valid phone number or Email to send</span>

    <mat-divider></mat-divider>


    <div class="close-btn-div">
        <button mat-raised-button mat-dialog-close class="bg-close">Close</button>
    </div>


</div>