<div class="main-container boxed space manuf-tab">
    <div class="d-flex gap-1 align-items-center m-b-10">
        <div>
            <h1 class="text-dark text-primary m-0">Banking</h1>
        </div>
        <div class="line-div">
            <mat-icon class="arrow-icon">square</mat-icon>
            <p class="line "></p>
        </div>
    </div>
    <div class="form">

        <div class="m-t-10 w-50 p-b-10">
            <mat-label class="form-input-label"><span class="text-danger">*</span> Set Up Your Bank Account</mat-label>
            <mat-form-field appearance="outline" class="m-t-10">
                <mat-select placeholder="Nothing selected">
                    <mat-option value="Nothing selected">Nothing selected</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>