<div class="rounded">
    <div class="d-flex jc-sb p-10 bg-light align-items-center">
        <div class="d-flex align-items-center">
            <span class="fw-medium fs-16">Create a Budget</span>
        </div>
        <svg class="close-btn" mat-dialog-close="true" xmlns="http://www.w3.org/2000/svg" width="1.6em" height="1.6em"
            viewBox="0 0 32 32">
            <path fill="#f70202"
                d="M16 2C8.2 2 2 8.2 2 16s6.2 14 14 14s14-6.2 14-14S23.8 2 16 2m5.4 21L16 17.6L10.6 23L9 21.4l5.4-5.4L9 10.6L10.6 9l5.4 5.4L21.4 9l1.6 1.6l-5.4 5.4l5.4 5.4z" />
        </svg>
    </div>

    <p class="m-0 fs-14 p-10 fw-normal">
        You can create budgets to track income and expenses in profit and loss accounts and <br> balances in balance sheet accounts.
    </p>

    <div class="p-10">
        <p class="m-0 fw-medium fs-14">In this interview:</p>
        <p class="m-0 fw-medium fs-14">1. Choose your budget type and fiscal year.</p>
        <p class="m-0 fw-medium fs-14">2. Create the budget from previous year's data or from scratch.</p>
    </div>

   
  
    <mat-divider></mat-divider>
    <div class="d-flex jc-c m-b-10">
        <button mat-dialog-close="true" (click)="newopen()" color="primary" mat-raised-button> Next</button>
    </div>

</div>