<div class="main-container boxed space">
    <h1 class="text-dark m-t-5 m-b-10">Market Place</h1>
    <div class="blue-box"></div>
    <div class="d-flex jc-c">
        <div class="dialog-box">
            <div class="d-flex align-items-center jc-sa m-t-10 main-div-screen">
                <div><img src="assets/images/img-market.png" alt=""></div>
                <div > 
                    <p class="fs-24 m-0 fw-medium">Webster For FREEZET CRM</p>
                    <p class="fs-14 m-0 fw-medium">Connects Viber, FB Massanger, Vk Massanger and Telegram to Freezet CRM</p>
                </div>
                <mat-icon mat-dialog-close="true">cancel</mat-icon>
            </div>
                
                <div class="install-detail-div ">
                    <div class="inside-div">
                        <div>
                            <p class="fs-26 fw-medium">Choose Users/ Profiles</p>
                        </div>
                        <div class="choose-user-div">
                            <mat-radio-group aria-label="Select an option" class="radio-btns">
                                <mat-radio-button value="">Install for admins only</mat-radio-button>
                                <mat-radio-button value="">Install for all users</mat-radio-button>
                                <mat-radio-button value="">Choose profiles</mat-radio-button>
                                
                            </mat-radio-group>
    
                        </div>
                        
                        <div class="m-b-10 m-t-25 d-flex jc-sb">
                            <button mat-raised-button color="warn" routerLink="/market-place/installation-details2"><span><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 512 512"><path fill="#fff" d="M321.94 98L158.82 237.78a24 24 0 0 0 0 36.44L321.94 414c15.57 13.34 39.62 2.28 39.62-18.22v-279.6c0-20.5-24.05-31.56-39.62-18.18"/></svg></span>Back</button>
                            <button mat-raised-button class="bg-success" routerLink="/market-place/installed"> Confirm</button>
                            
                        </div>
                    </div>
                    
                    
                </div>
                
        </div>
    
    </div>
       
</div>


