<div class="">
    <div class=" d-flex jc-sb p-10">
        <div>
            <p class="fw-medium fs-18 m-0 text-primary">INV-002270</p>
            <p class=" m-0 fs-14 fw-noraml">
                <span class="fw-medium ">Green Technology Software Solutions Company</span><br>
                263/3A street Le Thi Rieng, Thoi An wards, district 12 <br>
                Ho Chi Minh City Ho Chi Minh <br>
                Vietnam 70000
            </p>
        </div>
        <div class="text-right right-area">
            <div class="m-t-10">
                <div class="fs-14">
                    <p class="fw-medium m-0">Bill To</p>
                    <p class="fw-medium m-0 text-primary">Aman</p>
                    <p class="m-0 fw-noraml">VAT Number: Nanan</p>
                </div>
                <div class="fw-noraml fs-14 m-t-10">
                    <p> Ship to <br>
                        Invoice Date:2024-03-11 <br>
                        Due Date:2024-03-11</p>
                </div>
            </div>
           
      </div>
    </div>

</div>

<div class="form">
    <div class="table-div">
        <table class="">
            <tr>
                <th>SNO.</th>
                <th>Items</th>
                <th>Qty</th>
                <th>Rate</th>
                <th>Tax</th>
                <th>Amount</th>
            </tr>
            <tr>
                <td>1</td>
                <td>
                    <div class="text-secondary">
                        <span class="fw-medium db">ABC</span>
                    </div>
                </td>
                <td>3</td>
                <td>500.00</td>
                <td>0%</td>
                <td>1,500.00</td>
            </tr>
        </table>
    </div>
    <div class="d-flex jc-e">
        <div class="text-right total-div ">
            <div class="total d-flex jc-e fw-medium">
                <span>Sub Total</span>
                <span>$2,150.00</span>
            </div>
            <div class=" total d-flex jc-e fw-medium">
                <span>Total :</span>
                <span>$2,150.00</span>
            </div>
            <div class=" total d-flex jc-e fw-medium">
                <span>Total Paid :</span>
                <span>$2,150.00</span>
            </div>
            <div class=" total d-flex jc-e fw-medium">
                <span>Amount Due :</span>
                <span>$2,150.00</span>
            </div>
        </div>   
    </div>
</div>