<div class="setting">
    <div class="setting_detail d-flex align-items-center">
        <p class="para">Setting</p>
        <div class="d-flex align-items-center search-div">
            <div class="search-bar">
                <mat-icon class="icon-search search-icon-2 ">search</mat-icon><input type="search" placeholder="Search"
                    class="input search-input search">
            </div>
        </div>
    </div>
    <!--first card section start-->
    <div class="setting_card d-flex">
        <div class="first_card">
            <p routerLink="/setting/organization" class="para-medium">Organisation</p>
            <p class="para-small" routerLink="/setting/profile">Profile</p>
            <p class="para-small">Brand</p>
            <p class="para-small">Branches</p>
            <p class="para-small">Currencies</p>
            <p class="para-small">Manage Subscription</p>
        </div>
        <div class="second_card">
            <p class="para-medium">General Setting</p>
            <div class="d-flex jc-sb">
                <div>
                    <p class="para-small">Company Information</p>
                    <p class="para-small">Email</p>
                    <p class="para-small">Finance</p>
                    <p class="para-small">Subscriptions</p>
                    <p class="para-small">Payment Gateways</p>
                    <p class="para-small">Tasks</p>
                    <p class="para-small">Support</p>
                </div>
                <div>
                    <p class="para-small">SMS</p>
                    <p class="para-small">Calendar</p>
                    <p class="para-small">Pdf</p>
                    <p class="para-small">E-Sign</p>
                    <p class="para-small">Tags</p>
                    <p class="para-small">Pusher.com</p>
                    <p class="para-small">Google</p>
                    <p class="para-small">MISC</p>
                </div>
            </div>
        </div>
        <div class="first_card">
            <p class="para-medium">Customers</p>
            <p routerLink="/setting/customer" class="para-small">Groups</p>
        </div>
        <div class="first_card">
            <p class="para-medium">Leads</p>
            <p class="para-small">Sources</p>
            <p class="para-small">Statuses</p>
            <p class="para-small">Email Integration</p>
            <p class="para-small">Web to Lead</p>
        </div>
    </div>
    <!--first card section end-->

    <!--second card section start-->
    <div class="setting_card d-flex">
        <div class="third_card">
            <p class="para-medium">Taxes & Complience</p>
            <p class="para-small">Taxes</p>
        </div>

        <div class="third_card">
            <p class="para-medium">Finance</p>
            <p routerLink="/setting/payment-mode" class="para-small">Payment Mode</p>
            <p routerLink="/setting/expenses-categories" class="para-small">Expences Category</p>

        </div>
        <div class="third_card">
            <p class="para-medium">Contracts</p>
            <p routerLink="/setting/contracts" class="para-small">Contract Types</p>
        </div>
        <div class="third_card">
            <p class="para-medium">Estimation</p>
            <p  routerLink="/setting/forms" class="para-small">Forms</p>
            <p  routerLink="/setting/status" class="para-small">Status</p>
        </div>
        <div class="third_card">
            <p class="para-medium">Supports</p>
            <p routerLink="/setting/departments" class="para-small">Departments</p>
            <p routerLink="/setting/predefined-replies" class="para-small">Predefine Replies</p>
            <p routerLink="/setting/ticket-priority" class="para-small">Ticket Priority</p>
            <p routerLink="/setting/ticket-status" class="para-small">Ticket Status</p>
            <p routerLink="/setting/services" class="para-small">Services</p>
            <p routerLink="/setting/spam-filters" class="para-small">Spam Filters</p>
        </div>
    </div>
    <!--second card section end-->

    <!--third card section start-->
    <div class="setting_card d-flex">
        <div class="third_card">
            <p class="para-medium">Utilities</p>
            <p class="para-small">Restore Database</p>
            <p class="para-small">Backup Database</p>
            <p class="para-small">Media</p>
            <p class="para-small">Bulk pdf Export</p>
            <p class="para-small">Calendar</p>
            <p class="para-small">Announcements</p>
            <p class="para-small">Activity Log</p>
            <p class="para-small">Ticket Pipe Log</p>
        </div>

        <div class="third_card">
            <p class="para-medium">Users & Roles</p>
            <p class="para-small">Users</p>
            <p class="para-small">Roles</p>
            <p class="para-small">User Preferences</p>
        </div>
        <div class="third_card">
            <p class="para-medium">Email</p>
            <p routerLink="/setting/email" class="para-small">Email Templates</p>
        </div>
        <div class="third_card">
            <p class="para-medium">Custom</p>
            <p routerLink="/setting/custom-fields" class="para-small">Custom Fields</p>
        </div>
        <div class="third_card">
            <p class="para-medium">Help</p>
            <p class="para-small">Contract Types</p>
        </div>
    </div>
    <!--third card section end-->
</div>