<div class="p-10">

    <div class="">
        <mat-label class="form-input-label">Show PDF Signature on Invoice</mat-label>
        <div>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="">Yes </mat-radio-button>
                <mat-radio-button value="">No </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <hr class="m-t-5 m-b-10">
    <div class="">
        <mat-label class="form-input-label">Show PDF Signature on Invoice</mat-label>
        <div>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="">Yes </mat-radio-button>
                <mat-radio-button value="">No </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <hr class="m-t-5 m-b-10">
    <div class="">
        <mat-label class="form-input-label">Show PDF Signature on Estimate</mat-label>
        <div>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="">Yes </mat-radio-button>
                <mat-radio-button value="">No </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <hr class="m-t-5 m-b-10">
    <div class="">
        <mat-label class="form-input-label">Show PDF Signature on Contract</mat-label>
        <div>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="">Yes </mat-radio-button>
                <mat-radio-button value="">No </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <hr class="m-t-5 m-b-10">
    <div class="">
        <mat-label class="form-input-label">Show PDF Signature on Proposal</mat-label>
        <div>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="">Yes </mat-radio-button>
                <mat-radio-button value="">No </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <hr class="m-t-5 m-b-10">

    <div class="imagee-lable">
        <mat-label class="form-input-label">Signature Image</mat-label>
        <div class="file-border  m-t-10">
            <div class="m-b-20 full">
                <label for="file" class="file"> Choose File</label>
                <input type="file" name="" id="file" class="hidden">
            </div>
        </div>
    </div>






</div>