<div class="">
    <div class="header d-flex jc-sb align-items-center">
        <p class="heading">Copy Project</p>
        <mat-icon mat-dialog-close>cancel</mat-icon>
    </div>


    <mat-checkbox class="example-margin" color="primary">Public </mat-checkbox>
    <mat-checkbox class="example-margin" color="primary">Billable</mat-checkbox>
    <mat-divider></mat-divider>

    <div class="image-with-lable m-l-20 ">
        <div class="image-label-div">
            <div class="imagee-lable">
                <mat-label class="form-input-label">Attachment</mat-label>
                <p class="pluse-icon" >+</p>
                <div class="file-border">
                    <div class="m-b-20 full">
                        <label for="file" class="file"> Choose File</label>
                        <input type="file" name="" id="file" class="hidden">
                    </div>
                </div>
            </div>
        </div>
        <div class="image-label-div">
            <div class="imagee-lable">
                <mat-label class="form-input-label">Attachment</mat-label>
                <p class="mainus-icon" >-</p>
                <div class="file-border">
                    <div class="m-b-20 full">
                        <label for="file" class="file"> Choose File</label>
                        <input type="file" name="" id="file" class="hidden">
                    </div>
                </div>
            </div>
        </div>
    </div>
<hr>
    <div class="main-div w-full p-10 ">

        <div class="w-full">
            <div>
                <label><span class="text-danger">*</span>Subject</label>
                <input type="text" class="mat-input" placeholder="">
            </div>
            <div>
                <label for=""><span class="text-danger ">*</span>Start Date</label>
                <div class="selected-form-field">
                    <svg class="icon-add" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                        viewBox="0 0 24 24">
                        <path fill="currentColor"
                            d="M2 19c0 1.7 1.3 3 3 3h14c1.7 0 3-1.3 3-3v-8H2zM19 4h-2V3c0-.6-.4-1-1-1s-1 .4-1 1v1H9V3c0-.6-.4-1-1-1s-1 .4-1 1v1H5C3.3 4 2 5.3 2 7v2h20V7c0-1.7-1.3-3-3-3" />
                    </svg>
                    <select name="" id="" class="mat-input">
                        <option value="">abc</option>
                    </select>
                </div>
            </div>

            <div>
                <label><span class="text-danger">*</span>Priority</label>
                <div class="selected-form-field">
                    <select name="" id="" class="mat-input">
                        <option value="">Medium</option>
                    </select>
                    <span class="down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                            viewBox="0 0 15 15">
                            <path fill="#808080" d="M7.5 12L0 4h15z" />
                        </svg></span>
                </div>
            </div>
            <div>
                <label><span class="text-danger">*</span>Related To</label>
                <div class="selected-form-field">
                    <select name="" id="" class="mat-input">
                        <option value="">Customer</option>
                    </select>
                    <span class="down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                            viewBox="0 0 15 15">
                            <path fill="#808080" d="M7.5 12L0 4h15z" />
                        </svg></span>
                </div>
            </div>
            <div>
                <label><span class="text-danger">*</span>Assignees</label>
                <div class="selected-form-field">
                    <select name="" id="" class="mat-input">
                        <option value="">Lenz Creative</option>
                    </select>
                    <span class="down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                            viewBox="0 0 15 15">
                            <path fill="#808080" d="M7.5 12L0 4h15z" />
                        </svg></span>
                </div>
            </div>
            
        </div>
        <div class="w-full">
            <div>
                <label><span class="text-danger">*</span>Hourly Rat</label>
                <input type="text" class="mat-input" placeholder="build website">
            </div>
            <div>
                <label for=""><span class="text-danger ">*</span>Due Date</label>
                <div class="selected-form-field">
                    <svg class="icon-add" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                        viewBox="0 0 24 24">
                        <path fill="currentColor"
                            d="M2 19c0 1.7 1.3 3 3 3h14c1.7 0 3-1.3 3-3v-8H2zM19 4h-2V3c0-.6-.4-1-1-1s-1 .4-1 1v1H9V3c0-.6-.4-1-1-1s-1 .4-1 1v1H5C3.3 4 2 5.3 2 7v2h20V7c0-1.7-1.3-3-3-3" />
                    </svg>
                    <select name="" id="" class="mat-input">
                        <option value="">abc</option>
                    </select>
                </div>
            </div>

            <div>
                <label><span class="text-danger">*</span>Repeat every</label>
                <div class="selected-form-field">
                    <select name="" id="" class="mat-input">
                        <option value="">Nothing Selected</option>
                    </select>
                    <span class="down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                            viewBox="0 0 15 15">
                            <path fill="#808080" d="M7.5 12L0 4h15z" />
                        </svg></span>
                </div>
            </div>

            <div>
                <label><span class="text-danger">*</span>Customer</label>
                <div class="selected-form-field">
                    <select name="" id="" class="mat-input">
                        <option value="">Drop Cyprus</option>
                    </select>
                    <span class="down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                            viewBox="0 0 15 15">
                            <path fill="#808080" d="M7.5 12L0 4h15z" />
                        </svg></span>
                </div>
            </div>

            <div>
                <label><span class="text-danger">*</span>Followers</label>
                <div class="selected-form-field">
                    <select name="" id="" class="mat-input">
                        <option value="">Nothing Selected</option>
                    </select>
                    <span class="down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                            viewBox="0 0 15 15">
                            <path fill="#808080" d="M7.5 12L0 4h15z" />
                        </svg></span>
                </div>
            </div>
        </div>
    </div>

    <div>
        <mat-label class="form-input-label">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="0.8em" height="0.8em" viewBox="0 0 24 24">
                    <g fill="none">
                        <path
                            d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z" />
                        <path fill="currentColor"
                            d="M10.238 4.827a3 3 0 0 1 2.122.879l6.485 6.485a3 3 0 0 1 0 4.243l-4.243 4.242a3 3 0 0 1-4.242 0l-6.486-6.485a3 3 0 0 1-.878-2.121V7.327a2.5 2.5 0 0 1 2.5-2.5zm-.586 4.536a1.5 1.5 0 1 0-2.12 2.12a1.5 1.5 0 0 0 2.12-2.12m2-7.364a3 3 0 0 1 1.977.743l.145.135l7.192 7.193a1 1 0 0 1-1.32 1.497l-.094-.083L12.36 4.29a1 1 0 0 0-.576-.284L11.652 4H7a1 1 0 0 1-.117-1.994L7 2z" />
                    </g>
                </svg>
            </span>
            Tags
        </mat-label>
    
        <mat-form-field class="example-chip-list p-10 ">
            <mat-chip-grid #chipGrid aria-label="Enter fruits">
                <mat-chip-row *ngFor="let fruit of fruits" (removed)="remove(fruit)" [editable]="true"
                    (edited)="edit(fruit, $event)" [aria-description]="'press enter to edit ' + fruit.name">
                    {{fruit.name}}
                    <button matChipRemove [attr.aria-label]="'remove ' + fruit.name">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip-row>
                <input placeholder="New Tag.." [matChipInputFor]="chipGrid"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="add($event)" />
            </mat-chip-grid>
        </mat-form-field>
    
    </div>

    <div class="ckeditorpart p-10 ">
        <div class="labeldiv">
            <mat-label>Article description</mat-label>
        </div>
        <ckeditor [editor]="Editor" data="<p>Minimum 300 words. HTML and images supported. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit similique et illo obcaecati temporibus asperiores culpa sequi at, id voluptate. Ab vero quibusdam quas blanditiis iste ducimus officia accusantium. Quaerat illo aut facere dolores nihil quidem consequatur nostrum dolorem porro voluptatem autem enim, hic, eveniet maiores voluptatum animi ipsa 
              </p>">
        </ckeditor>
    </div>



    <mat-divider class="divider-bottom m-t-15 m-b-10"></mat-divider>

    <div class="d-flex gap-1 p-10">
        <button mat-dialog-close="true"
            class=" mdc-button mdc-button--raised mat-mdc-raised-button mat-unthemed mat-mdc-button-base "
            mat-raised-button color="warn">Cancel</button>
        <button mat-dialog-close="true"
            class="bg-success mdc-button mdc-button--raised mat-mdc-raised-button mat-unthemed mat-mdc-button-base "
            mat-raised-button> Save</button>
    
    </div>
</div>





