<div class="main-box">
    <div class="header d-flex jc-sb align-items-center">
        <p class="heading">Assign Admin</p>
        <mat-icon mat-dialog-close="true">cancel</mat-icon>
    </div>
    <div class="p-20">
        <div class="selected-form-field">
            <select name="" id="" class="mat-input">
                <option value="">Nothing Selected</option>
            </select>
            <span class="down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 15 15"><path fill="#808080" d="M7.5 12L0 4h15z"/></svg></span>
        </div>
        
    </div>
    
    
    
    

    <mat-divider class="divider-bottom m-t-15 m-b-10"></mat-divider>

    <div><button mat-raised-button color="primary">Save</button>
        <button mat-raised-button mat-dialog-close="true">Close</button></div>

    




