<div class="p-10">

    <div>
        <mat-label class="form-input-label"> Calendar Events Limit (Month and Week View)</mat-label>
        <div class="selected-form-field">
            <input type="text" class="mat-input" placeholder="4">
        </div>
    </div>
    <hr class="m-b-10 m-t-15">
    <div>
        <mat-label class="form-input-label"> Default View</mat-label>
        <div class="selected-form-field">
            <input type="text" class="mat-input" placeholder="Month">
        </div>
    </div>
    <hr class="m-b-10 m-t-15">
    <div>
        <mat-label class="form-input-label">First Day</mat-label>
        <div class="selected-form-field">
            <input type="text" class="mat-input" placeholder="Sunday">
        </div>
    </div>
    <hr class="m-b-10 m-t-15">

    <div class="d-flex gap-1 align-items-center m-b-10">
        <div>
            <h1 class="text-dark  m-0">Show on Calendar</h1>
        </div>
        <div class="line-div">
            <mat-icon class="arrow-icon">square</mat-icon>
            <p class="line "></p>
        </div>
    </div>
    <hr class="m-b-10 m-t-15">
    <div class="nine-select-tag">

        <div class="w-full">
            <div>
                <mat-label class="form-input-label">Hide notified reminders from calendar</mat-label>
                <div>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="">Yes </mat-radio-button>
                        <mat-radio-button value="">No </mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <hr class="m-b-5 m-t-5">
            <div>
                <mat-label class="form-input-label">Lead Reminders</mat-label>
                <div>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="">Yes </mat-radio-button>
                        <mat-radio-button value="">No </mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <hr class="m-b-5 m-t-5">
            <div>
                <mat-label class="form-input-label">Customer Reminders</mat-label>
                <div>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="">Yes </mat-radio-button>
                        <mat-radio-button value="">No </mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <hr class="m-b-5 m-t-5">
            <div>
                <mat-label class="form-input-label">Estimate Reminders</mat-label>
                <div>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="">Yes </mat-radio-button>
                        <mat-radio-button value="">No </mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <hr class="m-b-5 m-t-5">
            <div>
                <mat-label class="form-input-label">Invoice Reminders</mat-label>
                <div>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="">Yes </mat-radio-button>
                        <mat-radio-button value="">No </mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <hr class="m-b-5 m-t-5">
            <div>
                <mat-label class="form-input-label">Proposal Reminders</mat-label>
                <div>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="">Yes </mat-radio-button>
                        <mat-radio-button value="">No </mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <hr class="m-b-5 m-t-5">
            <div>
                <mat-label class="form-input-label">Expense Reminders</mat-label>
                <div>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="">Yes </mat-radio-button>
                        <mat-radio-button value="">No </mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <hr class="m-b-5 m-t-5">
            <div>
                <mat-label class="form-input-label">Task Reminders</mat-label>
                <div>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="">Yes </mat-radio-button>
                        <mat-radio-button value="">No </mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <hr class="m-b-5 m-t-5">
            <div>
                <mat-label class="form-input-label">Credit Note Reminders</mat-label>
                <div>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="">Yes </mat-radio-button>
                        <mat-radio-button value="">No </mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            
        </div>
        <div class="w-full">
            <div>
                <mat-label class="form-input-label">Ticket Reminders</mat-label>
                <div>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="">Yes </mat-radio-button>
                        <mat-radio-button value="">No </mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <hr class="m-b-5 m-t-5">
            <div>
                <mat-label class="form-input-label">Invoices</mat-label>
                <div>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="">Yes </mat-radio-button>
                        <mat-radio-button value="">No </mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <hr class="m-b-5 m-t-5">
            <div>
                <mat-label class="form-input-label">Estimates</mat-label>
                <div>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="">Yes </mat-radio-button>
                        <mat-radio-button value="">No </mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <hr class="m-b-5 m-t-5">
            <div>
                <mat-label class="form-input-label">Proposals</mat-label>
                <div>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="">Yes </mat-radio-button>
                        <mat-radio-button value="">No </mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <hr class="m-b-5 m-t-5">
            <div>
                <mat-label class="form-input-label">Contracts</mat-label>
                <div>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="">Yes </mat-radio-button>
                        <mat-radio-button value="">No </mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <hr class="m-b-5 m-t-5">
            <div>
                <mat-label class="form-input-label">Tasks</mat-label>
                <div>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="">Yes </mat-radio-button>
                        <mat-radio-button value="">No </mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <hr class="m-b-5 m-t-5">
            <div>
                <mat-label class="form-input-label">Show only tasks assigned to the logged in staff member</mat-label>
                <div>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="">Yes </mat-radio-button>
                        <mat-radio-button value="">No </mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <hr class="m-b-5 m-t-5">
            <div>
                <mat-label class="form-input-label">Projects</mat-label>
                <div>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="">Yes </mat-radio-button>
                        <mat-radio-button value="">No </mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <hr class="m-b-5 m-t-5">
        </div>
    </div>
</div>