<div class="p-10">
    <div>
        <mat-label class="form-input-label"> Invoice</mat-label>
        <div class="selected-form-field">
            <select name="" id="" class="mat-input">
                <option value="">A4 Protrait</option>
            </select>
            <span class="down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                    viewBox="0 0 15 15">
                    <path fill="#808080" d="M7.5 12L0 4h15z" />
                </svg></span>
        </div>
    </div>
    <hr class="m-t-10 m-b-10">
    <div>
        <mat-label class="form-input-label"> Estimate</mat-label>
        <div class="selected-form-field">
            <select name="" id="" class="mat-input">
                <option value="">A4 Protrait</option>
            </select>
            <span class="down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                    viewBox="0 0 15 15">
                    <path fill="#808080" d="M7.5 12L0 4h15z" />
                </svg></span>
        </div>
    </div>
    <hr class="m-t-10 m-b-10">
    <div>
        <mat-label class="form-input-label"> Proposal</mat-label>
        <div class="selected-form-field">
            <select name="" id="" class="mat-input">
                <option value="">A4 Protrait</option>
            </select>
            <span class="down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                    viewBox="0 0 15 15">
                    <path fill="#808080" d="M7.5 12L0 4h15z" />
                </svg></span>
        </div>
    </div>
    <hr class="m-t-10 m-b-10">
    <div>
        <mat-label class="form-input-label"> Payment</mat-label>
        <div class="selected-form-field">
            <select name="" id="" class="mat-input">
                <option value="">A4 Protrait</option>
            </select>
            <span class="down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                    viewBox="0 0 15 15">
                    <path fill="#808080" d="M7.5 12L0 4h15z" />
                </svg></span>
        </div>
    </div>
    <hr class="m-t-10 m-b-10">
    <div>
        <mat-label class="form-input-label"> Credit Note</mat-label>
        <div class="selected-form-field">
            <select name="" id="" class="mat-input">
                <option value="">A4 Protrait</option>
            </select>
            <span class="down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                    viewBox="0 0 15 15">
                    <path fill="#808080" d="M7.5 12L0 4h15z" />
                </svg></span>
        </div>
    </div>
    <hr class="m-t-10 m-b-10">
    <div>
        <mat-label class="form-input-label"> Contract</mat-label>
        <div class="selected-form-field">
            <select name="" id="" class="mat-input">
                <option value="">A4 Protrait</option>
            </select>
            <span class="down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                    viewBox="0 0 15 15">
                    <path fill="#808080" d="M7.5 12L0 4h15z" />
                </svg></span>
        </div>
    </div>
    <hr class="m-t-10 m-b-10">
    <div>
        <mat-label class="form-input-label"> Statement</mat-label>
        <div class="selected-form-field">
            <select name="" id="" class="mat-input">
                <option value="">A4 Protrait</option>
            </select>
            <span class="down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                    viewBox="0 0 15 15">
                    <path fill="#808080" d="M7.5 12L0 4h15z" />
                </svg></span>
        </div>
    </div>
    <hr class="m-t-10 m-b-10">




</div>