<div class="main-container boxed space manuf-tab">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="tab-group div-2" >
        <mat-tab class="rounded " label="Banking Register">
            <app-banking-register></app-banking-register>
        </mat-tab>
        <mat-tab class="rounded " label="Posted Bank Transactions">
            <app-posted-transaction></app-posted-transaction>
        </mat-tab>
        <mat-tab class="rounded " label="Reconcile Bank Account">
            <app-reconcile-back></app-reconcile-back>
        </mat-tab>
      
    </mat-tab-group>
</div>