<div class="space">
    <div class="header d-flex jc-sb align-items-center">
        <p class="heading">Contact Developer</p>
        <mat-icon mat-dialog-close >cancel</mat-icon>
    </div>
    <p class="des-heading">Write an Email to the Extension's developer to get your issues resolved.</p>
    <div class="main-div">
        
    
        <div class="p-t-10 p-r-20">
            <p class="label-2"><span class="text-danger">*</span>From</p>
                    <div class="selected-form-field">
                        <svg class="icon-add" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="black" d="M6 22q-.825 0-1.412-.587T4 20V10q0-.825.588-1.412T6 8h1V6q0-2.075 1.463-3.537T12 1q2.075 0 3.538 1.463T17 6v2h1q.825 0 1.413.588T20 10v10q0 .825-.587 1.413T18 22zm6-5q.825 0 1.413-.587T14 15q0-.825-.587-1.412T12 13q-.825 0-1.412.588T10 15q0 .825.588 1.413T12 17M9 8h6V6q0-1.25-.875-2.125T12 3q-1.25 0-2.125.875T9 6z"/></svg>
                        <input type="text" class="mat-input" placeholder="johnburg108@gmail.com">
                    </div>

        <label class="label-2 "><span class="text-danger">*</span>To</label>
                    <div class="selected-form-field">
                        <svg class="icon-add" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="black" d="M6 22q-.825 0-1.412-.587T4 20V10q0-.825.588-1.412T6 8h1V6q0-2.075 1.463-3.537T12 1q2.075 0 3.538 1.463T17 6v2h1q.825 0 1.413.588T20 10v10q0 .825-.587 1.413T18 22zm6-5q.825 0 1.413-.587T14 15q0-.825-.587-1.412T12 13q-.825 0-1.412.588T10 15q0 .825.588 1.413T12 17M9 8h6V6q0-1.25-.875-2.125T12 3q-1.25 0-2.125.875T9 6z"/></svg>
                        <input type="text" class="mat-input " placeholder="crm@crmoz.com">
                    </div>
        <label>Subject</label>
        <input type="text" class="mat-input">

        <label>Message</label>
        <textarea class="mat-input text-area" id="" cols="30" rows="10"></textarea>

        </div>
        
    </div>

    
    
    

    <mat-divider class="divider-bottom m-t-15 m-b-10"></mat-divider>

    <div><button mat-raised-button color="primary" class="bg-success" routerLink="/market-place/installation-details">Save</button>
        <button mat-raised-button mat-dialog-close="true" class="bg-close">Close</button></div>
</div>






