<div class="main-box">
    <div class="header d-flex jc-sb align-items-center">
        <p class="heading">Confirm Delete</p>
        <mat-icon mat-dialog-close="true">cancel</mat-icon>
    </div>
    <div class="description">
        <div>
            <p class="m-0 fw-medium ">Are You Sure?</p>
        </div>
        <div>
            <p class="fw-medium">Want to delete this item</p>
        </div>
    </div>





    <mat-divider class="divider-bottom m-t-15 m-b-10"></mat-divider>

    <div class="d-flex align-items-center jc-c m-10"> <button mat-flat-button color="secondary" mat-dialog-close="true"
            >No</button>
        <button mat-flat-button color="warn" class="m-l-15" mat-dialog-close="true">Yes</button>
    </div>
</div>