<div class="main-container boxed space">
    <div class="d-flex jc-sb align-items-center heading-column ">
        <div class="heading-top">
            <h1 class="text-dark">Customers </h1>
        </div>
        <div class="button-width"></div>
    </div>
    <app-general-setting-headings></app-general-setting-headings>

    <!-- inputs div -->
    <div class="p-10">

        <div>
            <mat-label class="form-input-label"> Default customers theme</mat-label>
            <div class="selected-form-field">
                <!-- <mat-icon class="icon-add">add</mat-icon> -->
                <select name="" id="" class="mat-input">
                    <option value="">Perfex</option>
                </select>
                <span class="down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                        viewBox="0 0 15 15">
                        <path fill="#808080" d="M7.5 12L0 4h15z" />
                    </svg></span>
            </div>
        </div>
        <hr class="m-t-10 ">
        <div>
            <mat-label class="form-input-label"> Default Country</mat-label>
            <div class="selected-form-field">
                <!-- <mat-icon class="icon-add">add</mat-icon> -->
                <select name="" id="" class="mat-input">
                    <option value="">Nothing Selected</option>
                </select>
                <span class="down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                        viewBox="0 0 15 15">
                        <path fill="#808080" d="M7.5 12L0 4h15z" />
                    </svg></span>
            </div>
        </div>
        <hr class="m-t-10 ">
        <div>
            <mat-label class="form-input-label">Visible Tabs (Profile)</mat-label>
            <div class="selected-form-field">
                <!-- <mat-icon class="icon-add">add</mat-icon> -->
                <select name="" id="" class="mat-input">
                    <option value="">All</option>
                </select>
                <span class="down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                        viewBox="0 0 15 15">
                        <path fill="#808080" d="M7.5 12L0 4h15z" />
                    </svg></span>
            </div>
        </div>
        <hr class="m-t-10 ">

        <div class="">
            <mat-label class="form-input-label">Company field is required?</mat-label>
            <div>
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="">Yes </mat-radio-button>
                    <mat-radio-button value="">No </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <hr class="m-t-10 ">
        <div class="">
            <mat-label class="form-input-label"> Company requires the usage of the VAT Number field</mat-label>
            <div>
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="">Yes </mat-radio-button>
                    <mat-radio-button value="">No </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <hr class="m-t-10 ">
        <div class="">
            <mat-label class="form-input-label">Allow customers to registe</mat-label>
            <div>
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="">Yes </mat-radio-button>
                    <mat-radio-button value="">No </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <hr class="m-t-10 ">
        <div class="">
            <mat-label class="form-input-label"> Require registration confirmation from administrator after customer
                register</mat-label>
            <div>
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="">Yes </mat-radio-button>
                    <mat-radio-button value="">No </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <hr class="m-t-10 ">
        <div class="">
            <mat-label class="form-input-label"> Allow primary contact to manage other customer contacts</mat-label>
            <div>
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="">Yes </mat-radio-button>
                    <mat-radio-button value="">No </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <hr class="m-t-10 ">
        <div class="">
            <mat-label class="form-input-label"> Enable Honeypot spam validation</mat-label>
            <div>
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="">Yes </mat-radio-button>
                    <mat-radio-button value="">No </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <hr class="m-t-10 ">
        <div class="">
            <mat-label class="form-input-label"> Allow primary contact to view/edit billing & shipping
                details</mat-label>
            <div>
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="">Yes </mat-radio-button>
                    <mat-radio-button value="">No </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <hr class="m-t-10 ">
        <div class="">
            <mat-label class="form-input-label"> <svg
                    matTooltip="If you add contract to trash, won't be shown on client side, won't be included in chart and other stats and also by default won't be shown when you will list all contracts."
                    class="question-icon" xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em"
                    viewBox="0 0 24 24">
                    <g fill="none">
                        <path
                            d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z" />
                        <path fill="black"
                            d="M12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12S6.477 2 12 2m0 14a1 1 0 1 0 0 2a1 1 0 0 0 0-2m0-9.5a3.625 3.625 0 0 0-3.625 3.625a1 1 0 1 0 2 0a1.625 1.625 0 1 1 2.23 1.51c-.676.27-1.605.962-1.605 2.115V14a1 1 0 1 0 2 0c0-.244.05-.366.261-.47l.087-.04A3.626 3.626 0 0 0 12 6.5" />
                    </g>
                </svg> Contacts see only own files uploaded in customer area (files uploaded in customer
                profile)</mat-label>
            <div>
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="">Yes </mat-radio-button>
                    <mat-radio-button value="">No </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <hr class="m-t-10 ">
        <div class="">
            <mat-label class="form-input-label"> Allow contacts to delete own files uploaded from customers
                area</mat-label>
            <div>
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="">Yes </mat-radio-button>
                    <mat-radio-button value="">No </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <hr class="m-t-10 ">
        <div class="">
            <mat-label class="form-input-label"> <svg
                    matTooltip="If you add contract to trash, won't be shown on client side, won't be included in chart and other stats and also by default won't be shown when you will list all contracts."
                    class="question-icon" xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em"
                    viewBox="0 0 24 24">
                    <g fill="none">
                        <path
                            d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z" />
                        <path fill="black"
                            d="M12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12S6.477 2 12 2m0 14a1 1 0 1 0 0 2a1 1 0 0 0 0-2m0-9.5a3.625 3.625 0 0 0-3.625 3.625a1 1 0 1 0 2 0a1.625 1.625 0 1 1 2.23 1.51c-.676.27-1.605.962-1.605 2.115V14a1 1 0 1 0 2 0c0-.244.05-.366.261-.47l.087-.04A3.626 3.626 0 0 0 12 6.5" />
                    </g>
                </svg> Use Knowledge Base</mat-label>
            <div>
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="">Yes </mat-radio-button>
                    <mat-radio-button value="">No </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>

        <div class="">
            <mat-label class="form-input-label"> Allow knowledge base to be viewed without registration</mat-label>
            <div>
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="">Yes </mat-radio-button>
                    <mat-radio-button value="">No </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <hr class="m-t-10 ">

        <div>
            <mat-label class="form-input-label"> Show Estimate request link in customers area?</mat-label>
            <div class="selected-form-field">
                <!-- <mat-icon class="icon-add">add</mat-icon> -->
                <select name="" id="" class="mat-input">
                    <option value="">No</option>
                </select>
                <span class="down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                        viewBox="0 0 15 15">
                        <path fill="#808080" d="M7.5 12L0 4h15z" />
                    </svg></span>
            </div>
        </div>
        <div class="d-flex flex-col m-t-10 ">
            <mat-label class="form-input-label">Default contact permissions</mat-label>
            <mat-checkbox class="example-margin" color="primary">Invoices</mat-checkbox>
            <mat-checkbox class="example-margin" color="primary">Estimates</mat-checkbox>
            <mat-checkbox class="example-margin" color="primary">Contracts</mat-checkbox>
            <mat-checkbox class="example-margin" color="primary">Proposals</mat-checkbox>
            <mat-checkbox class="example-margin" color="primary">Support</mat-checkbox>
            <mat-checkbox class="example-margin" color="primary">Projects</mat-checkbox>
        </div>


        <div>
            <mat-label class="form-input-label">Company Information Format (PDF and HTML)</mat-label>
            <textarea name="" id="" cols="50" rows="20" class="mat-input text-area">
    {company_name}
      {street}           
      {city} {state}           
      {country_code} {zip_code}           
      {vat_number_with_label}</textarea>
        </div>
        <p class="text-blue">
            <span>{{ '{' }}company_name{{ '}' }}, {{ '{' }}address{{ '}' }}, {{ '{' }}city{{ '}' }}, {{ '{' }}state{{
                '}' }}, {{ '{' }}zip_code{{ '}' }}, {{ '{' }}country_code{{ '}' }}, {{ '{' }}phone{{ '}' }}, {{ '{'
                }}vat_number{{ '}' }}, {{ '{' }}vat_number_with_label{{ '}' }}</span>
        </p>

        <mat-label class="form-input-label">Custom Fields</mat-label>
        <P class="input-bottom-text  ">Make sure you check Show on client portal field if you want the custom fields to
            be visible to customers area and when customer download
            PDF or receive PDF via email</P>

        <div class="Custom-Fields m-t-10 ">
            <div class="tl">
                <p class="Custom-Fields-borders">test: <span class="text-blue" > {{'{'}}cf_2{{'}'}}</span></p>
                <p class="Custom-Fields-borders">NIRC: <span class="text-blue" >  {{'{'}}cf_7{{'}'}}</span></p>
                <p class="Custom-Fields-borders">BERAPA KALI FOLLOW UP?: <span class="text-blue" >  {{'{'}}cf_9{{'}'}}</span> </p>
                <p class="Custom-Fields-borders">GAJI KASAR: <span class="text-blue" > {{'{'}}cf_11{{'}'}}</span></p>
            </div>
            <div class="tl">
                <p class="Custom-Fields-borders">MOBILE: <span class="text-blue" > {{'{'}}cf_6{{'}'}}</span></p>
                <p class="Custom-Fields-borders">PAYSLIP TYPE: <span class="text-blue" > {{'{'}}cf_8{{'}'}}</span></p>
                <p class="Custom-Fields-borders">TYPE OF LOAN: <span class="text-blue" > {{'{'}}cf_10{{'}'}}</span></p>
            </div>
        </div>



    </div>
    <!-- inputs div -->

    <div class="d-flex gap-1 p-10">
        <button mat-dialog-close="true"
            class=" mdc-button mdc-button--raised mat-mdc-raised-button mat-unthemed mat-mdc-button-base "
            mat-raised-button color="warn">Cancel</button>
        <button mat-dialog-close="true"
            class="bg-success"
            mat-raised-button> Save</button>

    </div>
</div>