<div class="popupheader">
  <span>Edit</span>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="1em"
    height="1em"
    viewBox="0 0 24 24"
    mat-dialog-close="true"
  >
    <path
      fill="#FF0000"
      d="m8.4 17l3.6-3.6l3.6 3.6l1.4-1.4l-3.6-3.6L17 8.4L15.6 7L12 10.6L8.4 7L7 8.4l3.6 3.6L7 15.6zm3.6 5q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22"
    />
  </svg>
</div>
<div class="form">
  <div class="form-row">
    <!-- Left Side -->
    <div class="in-form-row">
      <div>
        <mat-label class="form-input-label"
          ><span class="text-danger"></span>* Commodity Code
        </mat-label>
        <div class="calendar-input-field">
          <mat-form-field appearance="outline" class="form-field">
            <input matInput class="input" />
          </mat-form-field>
        </div>
      </div>
    </div>

    <!-- ---------------------Right Side----------------------------- -->
    <div class="in-form-row">
      <div>
        <mat-label class="form-input-label"
          ><span class="text-danger"></span>*Commodity Name
        </mat-label>
        <div class="calendar-input-field">
          <mat-form-field appearance="outline" class="form-field">
            <input matInput class="input" />
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div class="threeinputdiv">
    <div>
      <mat-label class="form-input-label"
        ><span class="text-danger"></span>*Commodity Barcode
      </mat-label>
      <div class="calendar-input-field">
        <mat-form-field appearance="outline" class="form-field">
          <input matInput class="input" />
        </mat-form-field>
      </div>
    </div>
    <div>
      <mat-label class="form-input-label"
        ><span class="text-danger"></span>*SKU Code
      </mat-label>
      <div class="calendar-input-field">
        <mat-form-field appearance="outline" class="form-field">
          <input matInput class="input" />
        </mat-form-field>
      </div>
    </div>
    <div>
      <mat-label class="form-input-label"
        ><span class="text-danger"></span>*SKU Name
      </mat-label>
      <div class="calendar-input-field">
        <mat-form-field appearance="outline" class="form-field">
          <input matInput class="input" />
        </mat-form-field>
      </div>
    </div>
  </div>
  <!-- textarea -->
  <div class="textareadivpinvoice">
    <div class="firsttextarea">
      <span>Description</span>
      <textarea></textarea>
    </div>
  </div>

  <div class="form-row">
    <!-- Left Side -->
    <div class="in-form-row">
      <div>
        <mat-label class="form-input-label"
          ><span class="text-danger"></span>Commodity group</mat-label
        >
        <div class="mt2">
          <mat-form-field appearance="outline" class="form-field">
            <mat-select class="select_in" placeholder="Customer">
              <mat-option value="Customer">Customer</mat-option>
              <mat-option value="Customer">Customer</mat-option>
              <mat-option value="Customer">Customer</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div>
        <mat-label class="form-input-label"
          ><span class="text-danger"></span>* Sale price
        </mat-label>
        <div class="calendar-input-field">
          <mat-form-field appearance="outline" class="form-field">
            <input matInput class="input" />
          </mat-form-field>
        </div>
      </div>
      <div>
        <mat-label class="form-input-label"
          ><span class="text-danger"></span>* Units</mat-label
        >
        <div class="mt2">
          <mat-form-field appearance="outline" class="form-field">
            <mat-select class="select_in" placeholder="Customer">
              <mat-option value="Customer">Customer</mat-option>
              <mat-option value="Customer">Customer</mat-option>
              <mat-option value="Customer">Customer</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div>
        <mat-label class="form-input-label"
          ><span class="text-danger"></span>Tax 1</mat-label
        >
        <div class="mt2">
          <mat-form-field appearance="outline" class="form-field">
            <mat-select class="select_in" placeholder="Customer">
              <mat-option value="Customer">Customer</mat-option>
              <mat-option value="Customer">Customer</mat-option>
              <mat-option value="Customer">Customer</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div>
        <mat-label class="form-input-label"
          ><span class="text-danger"></span>Tax 2</mat-label
        >
        <div class="mt2">
          <mat-form-field appearance="outline" class="form-field">
            <mat-select class="select_in" placeholder="Customer">
              <mat-option value="Customer">Customer</mat-option>
              <mat-option value="Customer">Customer</mat-option>
              <mat-option value="Customer">Customer</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <!-- ---------------------Right Side----------------------------- -->
    <div class="in-form-row">
      <div>
        <mat-label class="form-input-label">Sub group </mat-label>
        <div class="mt2">
          <mat-form-field appearance="outline" class="form-field">
            <mat-select class="select_in" placeholder="Draft">
              <mat-option value="Draft">Draft</mat-option>
              <mat-option value="Draft">Draft</mat-option>
              <mat-option value="Draft">Draft</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div>
        <mat-label class="form-input-label"
          ><span class="text-danger"></span>Purchase Price
        </mat-label>
        <div class="calendar-input-field">
          <mat-form-field appearance="outline" class="form-field">
            <input matInput class="input" />
          </mat-form-field>
        </div>
      </div>

      <!-- attach image starts -->
      <div class="d-flex gap-2 padding">
        <div>
          <div class="d-flex align-items-center">
            <p class="m-r-5 fw-medium fs-14">Attach Image</p>
          </div>
          <div class="border-dotted p-10">
            <div class="inner-dotted">
              <div class="full">
                <img src="../../../assets/images/attachfileimage.png" alt="" />
                <!-- <div class="file">Choose File</div> -->
                <label for="file1" class="file">Choose File</label>
                <input type="file" id="file1" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <mat-divider></mat-divider> -->

  <!-- <mat-divider></mat-divider> -->

  <mat-divider></mat-divider>
  <div class="p-10">
    <button
      mat-raised-button
      class="m-r-10"
      color="warn"
      mat-dialog-close="true"
    >
      Close
    </button>
    <button mat-raised-button class="bg-success">Save</button>
  </div>
</div>
