<div class="space">
    <div class="header d-flex jc-sb align-items-center">
        <p class="heading">Create Feature</p>
        <mat-icon mat-dialog-close class="text-danger">cancel</mat-icon>
    </div>

    <div class="main-div">
        <label for=""><span class="text-danger">*</span>Title</label>
        <input type="text" class="mat-input" placeholder="Creative Heads">

        <div class="m-t-15">
            <label for="">Description</label>
            <textarea name="" id="" cols="30" rows="10" class="mat-input" placeholder="Generally, every customer wants a product or service that solves their problem, worth their
            money, and is delivered with amazing customer service"></textarea>
        </div>
       
        <mat-divider class=" m-b-10"></mat-divider>

        <div>
            <button mat-raised-button mat-dialog-close="true" class="bg-close m-r-10">Close</button>
            <button mat-raised-button class="bg-success">Save</button>
        </div>
    </div>


</div>


