<div class="main-box">
    <div class="header d-flex jc-sb align-items-center">
        <p class="heading">1</p>
        <mat-icon mat-dialog-close="true">cancel</mat-icon>
    </div>
    <div class="description ">
        <div>
            <mat-label class="form-input-label">
                <span class="text-danger">*</span> Lost Reason </mat-label>
            <div class="">
               
                <textarea class="textarea" placeholder="Lost Reason"></textarea>
            </div>
        </div>

    
       
    </div>





    <mat-divider class="divider-bottom m-t-15 m-b-10"></mat-divider>

    <div class="d-flex align-items-center jc-c m-10"> <button mat-flat-button color="secondary"
            mat-dialog-close="true">close</button>
        <button mat-flat-button  class="m-l-15 bg-blue" mat-dialog-close="true">Mark as Lost</button>
        <!-- <button mat-flat-button color="warn" class="m-l-15" mat-dialog-close="true">save</button> -->
    </div>
</div>