<div class="form m-b-15">
    <div class="links">
        <a routerLink="/customer/customer-view" routerLinkActive="Active">Profile</a>
        <a routerLink="/customer/customer-profile-contact" routerLinkActive="Active">Contacts</a>
        <a routerLink="" >Client Metrix</a>
        <a routerLink="/customer/notes" routerLinkActive="Active">Notes</a>
        <a routerLink="/customer/statement" routerLinkActive="Active">Statement</a>
        <a routerLink="/customer/invoices" routerLinkActive="Active">Invoices</a>
        <a routerLink="/customer/payment" routerLinkActive="Active">Payment</a>
        <a routerLink="/customer/proposals" routerLinkActive="Active">Proposals</a>
        <a routerLink="/customer/Credit-notes" routerLinkActive="Active">Credit Notes</a>
        <a routerLink="/customer/estimate" routerLinkActive="Active">Estimates</a>
        <a routerLink="/customer/subscription" routerLinkActive="Active">Subscriptions</a>
        <a routerLink="/customer/expenses" routerLinkActive="Active">Expenses</a>
        <a routerLink="/customer/contract" routerLinkActive="Active">Contracts</a>
        <a routerLink="/customer/project" routerLinkActive="Active">Projects</a>
        <a routerLink="/customer/task" routerLinkActive="Active">Tasks</a>
        <a routerLink="/customer/tickets" routerLinkActive="Active">Tickets</a>
        <a routerLink="/customer/files" routerLinkActive="Active">Files</a>
        <a routerLink="/customer/vault" routerLinkActive="Active">Vault</a>
        <a routerLink="/customer/reminder" routerLinkActive="Active">Reminders</a>
        <a routerLink="/customer/map" routerLinkActive="Active">Map</a>
    </div>

</div>
