<div>

    <div class="Automobile-Expense">
        <div>
            <p class="text-1" >Automobile Expense</p>
            <p class="text-2" >I suppose I ought to be rude, so she. <br>            
                Created by: Murray Kunze</p>
        </div>
        <div class="d-flex align-items-center action-btn-gap m-r-10 ">
            
            <span class="icon-btn icon-btn-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.6em" height="1.6em" viewBox="0 0 24 24"><path fill="currentColor" d="m21.561 5.318l-2.879-2.879A1.495 1.495 0 0 0 17.621 2c-.385 0-.768.146-1.061.439L13 6H4a1 1 0 0 0-1 1v13a1 1 0 0 0 1 1h13a1 1 0 0 0 1-1v-9l3.561-3.561c.293-.293.439-.677.439-1.061s-.146-.767-.439-1.06M11.5 14.672L9.328 12.5l6.293-6.293l2.172 2.172zm-2.561-1.339l1.756 1.728L9 15zM16 19H5V8h6l-3.18 3.18c-.293.293-.478.812-.629 1.289c-.16.5-.191 1.056-.191 1.47V17h3.061c.414 0 1.108-.1 1.571-.29c.464-.19.896-.347 1.188-.64L16 13zm2.5-11.328L16.328 5.5l1.293-1.293l2.171 2.172z"/></svg>
            </span>
            <span  class="icon-btn icon-btn-2 ">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.6em" height="1.6em" viewBox="0 0 24 24"><path fill="currentColor" d="M18 7H6V3h12zm0 5.5q.425 0 .713-.288T19 11.5q0-.425-.288-.712T18 10.5q-.425 0-.712.288T17 11.5q0 .425.288.713T18 12.5M16 19v-4H8v4zm2 2H6v-4H2v-6q0-1.275.875-2.137T5 8h14q1.275 0 2.138.863T22 11v6h-4z"/></svg>
            </span>
            <span  class="icon-btn icon-btn-3 ">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.6em" height="1.6em" viewBox="0 0 24 24"><path fill="currentColor" d="M21 8.94a1.31 1.31 0 0 0-.06-.27v-.09a1.07 1.07 0 0 0-.19-.28l-6-6a1.07 1.07 0 0 0-.28-.19a.32.32 0 0 0-.09 0a.88.88 0 0 0-.33-.11H10a3 3 0 0 0-3 3v1H6a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3v-1h1a3 3 0 0 0 3-3V9zm-6-3.53L17.59 8H16a1 1 0 0 1-1-1ZM15 19a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1h1v7a3 3 0 0 0 3 3h5Zm4-4a1 1 0 0 1-1 1h-8a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1h3v3a3 3 0 0 0 3 3h3Z"/></svg>
            </span>
            <span  class="icon-btn icon-btn-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.6em" height="1.6em" viewBox="0 0 24 24"><path fill="currentColor" d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12z"/></svg>
            </span>
    
        </div>
    </div>
<hr>


<div class="Automobile-Expense">
    <div class="width-70">
        <p class="Amount-text-1" >Amount:<span class="text-danger" >$67.00</span> </p>
        <p class="Amount-text" >Paid Via Bank</p>
        <p class="Amount-text" >Date: 17/05/2024</p>
            
        <p class="Amount-text m-t-20 ">Ref #: 433</p>
        <p class="Amount-text m-t-20 ">Customer</p>
        <p class="Amount-text-blue">Leannon Inc</p>
        <p class="Amount-text m-t-20 ">Project</p>
        <p class="Amount-text-blue">Website Redesign</p>
        <p class="Amount-text m-t-20 ">Note:</p>
        <p class="Amount-text">The next witness would be the best way to change the subject,' the March Hare
            had just succeeded.</p>
            
    </div>
    <div class="width-30" >
    <div class="w-full">
        <div class="imagee-lable">
            <mat-label class="form-input-label">Expense Receipt</mat-label>
            <div class="file-border  m-t-10">
                <div class="m-b-20 full">
                    <label for="file" class="file"> Choose File</label>
                    <input type="file" name="" id="file" class="hidden">
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</div>