<div class="rounded">
    <div class="d-flex jc-sb p-10 bg-light align-items-center">
        <span class="fw-medium fs-16">Edit campaign</span>
        <svg class="close-btn" mat-dialog-close="true" xmlns="http://www.w3.org/2000/svg" width="1.6em" height="1.6em"
            viewBox="0 0 32 32">
            <path fill="#f70202"
                d="M16 2C8.2 2 2 8.2 2 16s6.2 14 14 14s14-6.2 14-14S23.8 2 16 2m5.4 21L16 17.6L10.6 23L9 21.4l5.4-5.4L9 10.6L10.6 9l5.4 5.4L21.4 9l1.6 1.6l-5.4 5.4l5.4 5.4z" />
        </svg>
    </div>
    <div class="main-container boxed space ">
     
        

            <div class="two-inputs">
                <div class="w-full">
                    <mat-label class="form-input-label"> <span class="text-danger">*</span>Campaign code</mat-label>
                    <input type="text" class="mat-input" placeholder="Gram">
                </div>
                <div class="w-full">
                    <mat-label class="form-input-label"> <span class="text-danger">*</span>Campaign Name</mat-label>
                    <input type="text" class="mat-input" placeholder="Gram">
                </div>
            </div>
        
            <div class="m-t-10">
                <mat-label class="form-input-label">Recruitment pipeline form</mat-label>
                <div class="selected-form-field">
                    <select name="" id="" class="mat-input">
                        <option value="">Nenhuma</option>
                    </select>
                    <span class="down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                            viewBox="0 0 15 15">
                            <path fill="#808080" d="M7.5 12L0 4h15z" />
                        </svg></span>
                </div>
            </div>
        
        
            <div class="multi-imput-div">
                <div class="w-full">
                    <div class="m-t-10">
                        <mat-label class="form-input-label"><span class="text-danger">*</span>Position</mat-label>
                        <div class="selected-form-field">
                            <select name="" id="" class="mat-input">
                                <option value="">Nenhuma</option>
                            </select>
                            <span class="down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                    viewBox="0 0 15 15">
                                    <path fill="#808080" d="M7.5 12L0 4h15z" />
                                </svg></span>
                        </div>
                    </div>
        
                    <div class="m-t-10">
                        <mat-label class="form-input-label">Quantity to be recruited</mat-label>
                        <input type="text" class="mat-input" placeholder="">
                    </div>
        
                    <div class="m-t-10">
                        <mat-label class="form-input-label"> Department</mat-label>
                        <div class="selected-form-field">
                            <select name="" id="" class="mat-input">
                                <option value="">Nenhuma</option>
                            </select>
                            <span class="down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                    viewBox="0 0 15 15">
                                    <path fill="#808080" d="M7.5 12L0 4h15z" />
                                </svg></span>
                        </div>
                    </div>
        
                    <div class="m-t-10">
                        <mat-label class="form-input-label">Starting salary (from)</mat-label>
                        <div class="">
                            <mat-form-field appearance="outline" class="form-field">
                                <div class="date-1   m-r-5">
                                    <span class="zar-text">ZAR</span>
                                </div>
                                <input matInput class="input" class="date-input" placeholder="">
                                <!-- <input matInput [matDatepicker]="picker"> -->
                            </mat-form-field>
                        </div>                        
                        <mat-checkbox  color="primary">Display salary <span class="text-10" >(display salary on the recruitment portal).</span></mat-checkbox>
                    </div>
        
                    <div class="date-field ">
                        <mat-label class="form-input-label">From date </mat-label>
                        <div class="calendar-input-field date-picker ">
                            <mat-form-field appearance="outline" class="form-field date">
                                <mat-datepicker-toggle matIconSuffix [for]="picker1" class="">
                                    <svg matDatepickerToggleIcon xmlns="http://www.w3.org/2000/svg" width="1.4em" height="1.4em"
                                        viewBox="0 0 24 24">
                                        <path fill="currentColor"
                                            d="M2 19c0 1.7 1.3 3 3 3h14c1.7 0 3-1.3 3-3v-8H2zM19 4h-2V3c0-.6-.4-1-1-1s-1 .4-1 1v1H9V3c0-.6-.4-1-1-1s-1 .4-1 1v1H5C3.3 4 2 5.3 2 7v2h20V7c0-1.7-1.3-3-3-3" />
                                    </svg>
                                </mat-datepicker-toggle>
                                <div class="date-border"></div>
                                <input matInput [matDatepicker]="picker1" class="input" placeholder="2024-02-20">
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
        
                </div>
        
        
                <div class="w-full">
                    <div class="m-t-10">
                        <mat-label class="form-input-label">Company</mat-label>
                        <div class="selected-form-field">
                            <select name="" id="" class="mat-input">
                                <option value="">Nenhuma</option>
                            </select>
                            <span class="down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                    viewBox="0 0 15 15">
                                    <path fill="#808080" d="M7.5 12L0 4h15z" />
                                </svg></span>
                        </div>
                    </div>
        
                    <div class="m-t-10">
                        <mat-label class="form-input-label">Way of working</mat-label>
                        <div class="selected-form-field">
                            <select name="" id="" class="mat-input">
                                <option value="">Nenhuma</option>
                            </select>
                            <span class="down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                    viewBox="0 0 15 15">
                                    <path fill="#808080" d="M7.5 12L0 4h15z" />
                                </svg></span>
                        </div>
                    </div>
                    <div class="m-t-10">
                        <mat-label class="form-input-label"> Desktop</mat-label>
                        <input type="text" class="mat-input" placeholder="">
                    </div>
            
                        <div class="m-t-10">
                            <mat-label class="form-input-label">Starting salary (for)</mat-label>
                            <div class="">
                                <mat-form-field appearance="outline" class="form-field">
                                    <div class="date-1   m-r-5">
                                        <span class="zar-text">ZAR</span>
                                    </div>
                                    <input matInput class="input" class="date-input" placeholder="">
                                    <!-- <input matInput [matDatepicker]="picker"> -->
                                </mat-form-field>
                            </div>
                        </div>
        
                    <div class="date-field m-t-10 ">
                        <mat-label class="form-input-label"><span class="text-danger">*</span>The date </mat-label>
                        <div class="calendar-input-field date-picker ">
                            <mat-form-field appearance="outline" class="form-field date">
                                <mat-datepicker-toggle matIconSuffix [for]="picker1" class="">
                                    <svg matDatepickerToggleIcon xmlns="http://www.w3.org/2000/svg" width="1.4em" height="1.4em"
                                        viewBox="0 0 24 24">
                                        <path fill="currentColor"
                                            d="M2 19c0 1.7 1.3 3 3 3h14c1.7 0 3-1.3 3-3v-8H2zM19 4h-2V3c0-.6-.4-1-1-1s-1 .4-1 1v1H9V3c0-.6-.4-1-1-1s-1 .4-1 1v1H5C3.3 4 2 5.3 2 7v2h20V7c0-1.7-1.3-3-3-3" />
                                    </svg>
                                </mat-datepicker-toggle>
                                <div class="date-border"></div>
                                <input matInput [matDatepicker]="picker1" class="input" placeholder="2024-02-20">
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="m-t-10">
                <mat-label class="form-input-label">The reason for recruitment</mat-label>
                <textarea name="" id="" cols="30" rows="10" class="text-area mat-input"></textarea>
            </div>
        
            <div class="ckeditorpart">
                <div class="labeldiv">
                    <mat-label class="form-input-label">Job description</mat-label>
                </div>
                <ckeditor [editor]="Editor" data="<p> </p>">
                </ckeditor>
            </div>
        
        
            <div class="two-inputs m-t-10">
                <div class="w-full">
                    <mat-label class="form-input-label">Manager</mat-label>
                    <div class="selected-form-field">
                        <select name="" id="" class="mat-input">
                            <option value="">Nenhuma</option>
                        </select>
                        <span class="down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                viewBox="0 0 15 15">
                                <path fill="#808080" d="M7.5 12L0 4h15z" />
                            </svg></span>
                    </div>
                </div>
                <div class="w-full">
                    <mat-label class="form-input-label">Follower</mat-label>
                    <div class="selected-form-field">
                        <select name="" id="" class="mat-input">
                            <option value="">Nenhuma</option>
                        </select>
                        <span class="down-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                viewBox="0 0 15 15">
                                <path fill="#808080" d="M7.5 12L0 4h15z" />
                            </svg></span>
                    </div>
                </div>
            </div>
        
        
        
        
    
        
    
    </div>

    <div class="d-flex gap-1 p-10 b-t">
        <button mat-dialog-close="true" mat-raised-button class="bg-close">Close</button>
        <button mat-dialog-close="true" mat-raised-button class="bg-success">Save</button>
    </div>
</div>