.text-area,
.mat-mdc-form-field-textarea-control {
  height: 6rem;
  overflow: hidden !important;
  resize: none !important;
  width: 100%;
}

.two-inputs {
  display: flex;
  gap: 20px;
}
@media (max-width: 768px) {
  .two-inputs {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .multi-imput-div {
    display: flex;
    flex-direction: column;
    gap: 0 !important;
  }
}
.multi-imput-div {
  display: flex;
  gap: 20px;
}
.date-picker .mat-mdc-form-field {
  width: 100% !important;
}
.date-1 {
  width: 2.5rem;
  border-right: 1px solid gray;
  /* height: 2rem; */
}

.zar-text {
  font-size: 12px;
  font-weight: 500;
  margin: 10px 10px 0 0 !important;
  color: #505050;
}
.text-10 {
  font-size: 10px;
  font-weight: 400;
}
::ng-deep .multi-imput-div .mdc-form-field > label {
  margin-left: -10px !important;
  margin-right: auto;
  padding-left: 4px;
  padding-right: 0;
  order: 0;
}

/* ---------------------------------text field --------------------------------- */

.selected-form-field {
  display: flex;
  position: relative;
  align-items: center;
}
.icon-add {
  height: 1.9rem !important;
  width: 2.2rem !important;
  position: absolute;
  /* left: 0.7rem; */
  right: 0.7rem;
  border-left: 0.1rem solid gray;
  background-color: white !important;
  padding-top: 0.3rem;
  text-align: center;
  color: #505050;
  background-color: gray;
}
.mat-input {
  /* margin: 0.6rem; */
}
.down-arrow {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
}

/* ---------------------------------text field --------------------------------- */
